//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix container">
			<div class="error_view">
				<div class="error_title">404</div>
				<div class="title">Sorry...</div>
				<div class="subtitle">we couldn’t find the page you were looking for.</div>
				<div class="description">
					Maybe it’s moved, or maybe the URL is incorrect.
					Please check the URL and try your luck again.
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
