//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">About Us</span>
				</div>
				<h1 class="page_title">About Us</h1> 
			</div>
			<div class="view_about clearfix">
				<div class="video_youtube pause" data-video="vvb65WGktoo">
					<img src="../images/about_us.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
