//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content page_awards not_front">
		<div class="middle clearfix container-fluid">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Awards</span>
				</div>
				<h1 class="page_title">Diva Awards</h1>
			</div>
			<div class="view_awards clearfix">
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_1.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_2.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_3.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_4.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_5.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_6.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_1.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_2.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_3.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_4.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_5.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_6.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_1.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_2.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_3.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_4.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_5.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="col_content">
						<div class="image"><a href="#"><img src="/images/award_6.png" alt=""></a></div>
						<div class="title"><a href="#">Arabia Fast Growth</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
