//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<a href="/">Book</a>
					<span class="this">Location</span>
				</div>
				<h1 class="page_title">Location</h1>
				<div class="top_text">
					<p>Would request you to fill in the required information mentioned below so that the same can be discussed with Location Owners / Officials.</p>
				</div>
			</div>
			<div class="book_form_wrapper">
				<form action="#" id="book_form_tvc" class="book_form">
					<div class="form_content">
						<div class="form-group clearfix">
							<label class="main_label" for="purposeof">Purpose of Shoot</label>
							<input type="text" class="form-control form_text" name="purposeof" id="purposeof" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="formatof">Format of Shoot Video / Still Shoot</label>
							<input type="text" class="form-control form_text" name="formatof" id="formatof" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="product">Product / Brand</label>
							<input type="text" class="form-control form_text" name="product" id="product" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="timingof">Timings of the Shoot</label>
							<input type="text" class="form-control form_text" name="timingof" id="timingof" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="noofcrew">No of Crew to be present on Shoot </label>
							<input type="text" class="form-control form_text" name="noofcrew" id="noofcrew" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="kingofquipment">Kind of Equipment / Lighting</label>
							<input type="text" class="form-control form_text" name="kingofquipment" id="kingofquipment" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="wouldyou">Would you re-arrange anything at the Location  </label>
							<input type="text" class="form-control form_text" name="wouldyou" id="wouldyou" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="areasint">Areas intended to shoot at the Location  </label>
							<input type="text" class="form-control form_text" name="areasint" id="areasint" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="yourname">Name</label>
							<input type="text" class="form-control form_text" name="yourname" id="yourname" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="email">Email</label>
							<input type="email" class="form-control form_text" name="email" id="email" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="website">Website</label>
							<input type="url" class="form-control form_text" name="website" id="website" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="companyname">Company Name</label>
							<input type="text" class="form-control form_text" name="companyname" id="companyname" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="mobile">Mobile number</label>
							<input type="tel" class="form-control form_text" name="mobile" id="mobile" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="offno">Off No</label>
							<input type="text" class="form-control form_text" name="offno" id="offno" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="special_req">Special Requirement</label>
							<input type="text" class="form-control form_text" name="special_req" id="special_req" required>
						</div>
						<div class="form_description">
							You can also email us at <a href="mailto:enquiry@divadubai.com">enquiry@divadubai.com</a>
							or call <a href="tel:044227272/0553421613">04 4227272/0553421613</a>
						</div>
					</div>
					<div class="form_actions">
						<div class="form-group field-contactform-recaptcha required">
							<input type="hidden" id="contactform-recaptcha" name="ContactForm[reCaptcha]"><div class="g-recaptcha" data-sitekey="6LefYDAUAAAAAAc6VtVeK3v5Zxy3F4ANSJg3VyPZ" data-callback="recaptchaCallback" data-expired-callback="recaptchaExpiredCallback"></div>
							<p class="help-block help-block-error"></p>
						</div>    
						<input type="submit" class="btn btn-default" value="Book now">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
