//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<a href="/">Book</a>
					<span class="this">Video</span>
				</div>
				<h1 class="page_title">Video</h1>
				<div class="top_text">
					<p>We are more than pleased to assist you in your requirement. To service you better and send you a proposal kindly fill in the following information mentioned below.</p>
				</div>
			</div>
			<div class="book_form_wrapper">
				<form action="#" id="book_form_tvc" class="book_form">
					<div class="form_content">
						<div class="form-group clearfix">
							<label class="main_label" for="datesof">Dates of Shoot </label>
							<input type="text" class="form-control form_text" name="datesof" id="datesof" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="formatof">Format of Footage </label>
							<input type="text" class="form-control form_text" name="formatof" id="formatof" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="noofedits">No of Edits / Duration </label>
							<input type="text" class="form-control form_text" name="noofedits" id="noofedits" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="mediumof">Medium of TVC / Video </label>
							<input type="text" class="form-control form_text" name="mediumof" id="mediumof" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="usageoftvc">Usage of TVC / Video </label>
							<input type="text" class="form-control form_text" name="usageoftvc" id="usageoftvc" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="territoryof">Territory of Usage </label>
							<input type="text" class="form-control form_text" name="territoryof" id="territoryof" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="finalformat">Final Format of TVC / Video</label>
							<input type="text" class="form-control form_text" name="finalformat" id="finalformat" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="dateofdelivery">Date of Delivery for Final TVC / Video  </label>
							<input type="text" class="form-control form_text" name="dateofdelivery" id="dateofdelivery" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="yourname">Name</label>
							<input type="text" class="form-control form_text" name="yourname" id="yourname" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="email">Email</label>
							<input type="email" class="form-control form_text" name="email" id="email" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="website">Website</label>
							<input type="url" class="form-control form_text" name="website" id="website" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="companyname">Company Name</label>
							<input type="text" class="form-control form_text" name="companyname" id="companyname" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="mobile">Mobile number</label>
							<input type="tel" class="form-control form_text" name="mobile" id="mobile" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="offno">Off No</label>
							<input type="text" class="form-control form_text" name="offno" id="offno" required>
						</div>
						<div class="form_description">
							You can also email us at <a href="mailto:enquiry@divadubai.com">enquiry@divadubai.com</a>
							or call <a href="tel:044227272/0553421613">04 4227272/0553421613</a>
						</div>
					</div>
					<div class="form_actions">
						<div class="form-group field-contactform-recaptcha required">
							<input type="hidden" id="contactform-recaptcha" name="ContactForm[reCaptcha]"><div class="g-recaptcha" data-sitekey="6LefYDAUAAAAAAc6VtVeK3v5Zxy3F4ANSJg3VyPZ" data-callback="recaptchaCallback" data-expired-callback="recaptchaExpiredCallback"></div>
							<p class="help-block help-block-error"></p>
						</div>    
						<input type="submit" class="btn btn-default" value="Book now">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
