//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<a href="/">Book</a>
					<span class="this">Hostessing</span>
				</div>
				<h1 class="page_title">Hostessing</h1>
				<div class="top_text">
					<p>To service you better and send you a proposal kindly fill in the following information mentioned below.</p>
				</div>
			</div>
			<div class="book_form_wrapper">
				<form action="#" id="book_form_tvc" class="book_form">
					<div class="form_content">
						<div class="form-group clearfix">
							<label class="main_label" for="categoryofhost">Category of hostesses </label>
							<input type="text" class="form-control form_text" name="categoryofhost" id="categoryofhost" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="nosofhost">No’s of Hostess </label>
							<input type="text" class="form-control form_text" name="nosofhost" id="nosofhost" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="otherlang">Are you looking for Arabic/English-speaking or any other languages</label>
							<input type="text" class="form-control form_text" name="otherlang" id="otherlang" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="datesevent">Dates of event and number of days</label>
							<input type="text" class="form-control form_text" name="datesevent" id="datesevent" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="gourshostess">How many hours and days are the Hostess required for</label>
							<input type="text" class="form-control form_text" name="gourshostess" id="gourshostess" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="locationvenue">Where exactly is the Location / Venue</label>
							<input type="text" class="form-control form_text" name="locationvenue" id="locationvenue" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="dresscode">Dress code / Uniform: Is it going to be provided?</label>
							<input type="text" class="form-control form_text" name="dresscode" id="dresscode" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="yourname">Name</label>
							<input type="text" class="form-control form_text" name="yourname" id="yourname" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="email">Email</label>
							<input type="email" class="form-control form_text" name="email" id="email" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="website">Website</label>
							<input type="url" class="form-control form_text" name="website" id="website" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="companyname">Company Name</label>
							<input type="text" class="form-control form_text" name="companyname" id="companyname" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="mobile">Mobile number</label>
							<input type="tel" class="form-control form_text" name="mobile" id="mobile" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="offno">Off No</label>
							<input type="text" class="form-control form_text" name="offno" id="offno" required>
						</div>
						<div class="form_description">
							You can also email us at <a href="mailto:enquiry@divadubai.com">enquiry@divadubai.com</a>
							or call <a href="tel:044227272/0553421613">04 4227272/0553421613</a>
						</div>
					</div>
					<div class="form_actions">
						<div class="form-group field-contactform-recaptcha required">
							<input type="hidden" id="contactform-recaptcha" name="ContactForm[reCaptcha]"><div class="g-recaptcha" data-sitekey="6LefYDAUAAAAAAc6VtVeK3v5Zxy3F4ANSJg3VyPZ" data-callback="recaptchaCallback" data-expired-callback="recaptchaExpiredCallback"></div>
							<p class="help-block help-block-error"></p>
						</div>    
						<input type="submit" class="btn btn-default" value="Book now">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
