//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Casting for production</span>
				</div>
				<h1 class="page_title">Casting for production</h1>
			</div>
			<div class="view_casting clearfix">
				<div class="col-sm-6 col">
					<div class="image"><img src="../images/casting_1.jpg" alt=""></div>
					<div class="title">Looking for hair and makeup artist</div>
					<div class="casting_info">
						<div class="item">
							<div class="info_label">Gender:</div>
							<div class="value">Female,Male</div>
						</div>
						<div class="item">
							<div class="info_label">Fee:</div>
							<div class="value">TBC</div>
						</div>
						<div class="item">
							<div class="info_label">Casting Date:</div>
							<div class="value">2017-09-07</div>
						</div>
						<div class="item">
							<div class="info_label">Time from:</div>
							<div class="value">11:00</div>
						</div>
						<div class="item">
							<div class="info_label">Time to:</div>
							<div class="value">Female</div>
						</div>
						<div class="item">
							<div class="info_label">Job Date:</div>
							<div class="value">2017-09-18</div>
						</div>
						<div class="item">
							<div class="info_label">Location address:</div>
							<div class="value">Dubai,United Arab Emirates</div>
						</div>
						<div class="item">
							<div class="info_label">Booker name:</div>
							<div class="value">Hetuk</div>
						</div>
						<div class="item">
							<div class="info_label">Booker's number:</div>
							<div class="value">+971 55 220 2107</div>
						</div>
						<div class="item">
							<div class="info_label">Casting details:</div>
							<div class="value">Well versed with high fashion hair and makeup. Please make sure to carry your complete work profile</div>
						</div>
					</div>
					<a href="#" class="btn btn-default" data-toggle="modal" data-target="#castingModal" data-id="1">Apply</a>
				</div>
				<div class="col-sm-6 col">
					<div class="image"><img src="../images/casting_2.jpg" alt=""></div>
					<div class="title">Looking for hair and makeup artist</div>
					<div class="casting_info">
						<div class="item">
							<div class="info_label">Gender:</div>
							<div class="value">Female,Male</div>
						</div>
						<div class="item">
							<div class="info_label">Fee:</div>
							<div class="value">TBC</div>
						</div>
						<div class="item">
							<div class="info_label">Casting Date:</div>
							<div class="value">2017-09-07</div>
						</div>
						<div class="item">
							<div class="info_label">Time from:</div>
							<div class="value">11:00</div>
						</div>
						<div class="item">
							<div class="info_label">Time to:</div>
							<div class="value">Female</div>
						</div>
						<div class="item">
							<div class="info_label">Job Date:</div>
							<div class="value">2017-09-18</div>
						</div>
						<div class="item">
							<div class="info_label">Location address:</div>
							<div class="value">Dubai,United Arab Emirates</div>
						</div>
						<div class="item">
							<div class="info_label">Booker name:</div>
							<div class="value">Hetuk</div>
						</div>
						<div class="item">
							<div class="info_label">Booker's number:</div>
							<div class="value">+971 55 220 2107</div>
						</div>
						<div class="item">
							<div class="info_label">Casting details:</div>
							<div class="value">Well versed with high fashion hair and makeup. Please make sure to carry your complete work profile</div>
						</div>
					</div>
					<a href="#" class="btn btn-default" data-toggle="modal" data-target="#castingModal" data-id="2">Apply</a>
				</div>
				<div class="col-sm-6 col">
					<div class="image"><img src="../images/casting_3.jpg" alt=""></div>
					<div class="title">Looking for hair and makeup artist</div>
					<div class="casting_info">
						<div class="item">
							<div class="info_label">Gender:</div>
							<div class="value">Female,Male</div>
						</div>
						<div class="item">
							<div class="info_label">Fee:</div>
							<div class="value">TBC</div>
						</div>
						<div class="item">
							<div class="info_label">Casting Date:</div>
							<div class="value">2017-09-07</div>
						</div>
						<div class="item">
							<div class="info_label">Time from:</div>
							<div class="value">11:00</div>
						</div>
						<div class="item">
							<div class="info_label">Time to:</div>
							<div class="value">Female</div>
						</div>
						<div class="item">
							<div class="info_label">Job Date:</div>
							<div class="value">2017-09-18</div>
						</div>
						<div class="item">
							<div class="info_label">Location address:</div>
							<div class="value">Dubai,United Arab Emirates</div>
						</div>
						<div class="item">
							<div class="info_label">Booker name:</div>
							<div class="value">Hetuk</div>
						</div>
						<div class="item">
							<div class="info_label">Booker's number:</div>
							<div class="value">+971 55 220 2107</div>
						</div>
						<div class="item">
							<div class="info_label">Casting details:</div>
							<div class="value">Well versed with high fashion hair and makeup. Please make sure to carry your complete work profile</div>
						</div>
					</div>
					<a href="#" class="btn btn-default" data-toggle="modal" data-target="#castingModal">Apply</a>
				</div>
				<div class="col-sm-6 col">
					<div class="image"><img src="../images/casting_4.jpg" alt=""></div>
					<div class="title">Looking for hair and makeup artist</div>
					<div class="casting_info">
						<div class="item">
							<div class="info_label">Gender:</div>
							<div class="value">Female,Male</div>
						</div>
						<div class="item">
							<div class="info_label">Fee:</div>
							<div class="value">TBC</div>
						</div>
						<div class="item">
							<div class="info_label">Casting Date:</div>
							<div class="value">2017-09-07</div>
						</div>
						<div class="item">
							<div class="info_label">Time from:</div>
							<div class="value">11:00</div>
						</div>
						<div class="item">
							<div class="info_label">Time to:</div>
							<div class="value">Female</div>
						</div>
						<div class="item">
							<div class="info_label">Job Date:</div>
							<div class="value">2017-09-18</div>
						</div>
						<div class="item">
							<div class="info_label">Location address:</div>
							<div class="value">Dubai,United Arab Emirates</div>
						</div>
						<div class="item">
							<div class="info_label">Booker name:</div>
							<div class="value">Hetuk</div>
						</div>
						<div class="item">
							<div class="info_label">Booker's number:</div>
							<div class="value">+971 55 220 2107</div>
						</div>
						<div class="item">
							<div class="info_label">Casting details:</div>
							<div class="value">Well versed with high fashion hair and makeup. Please make sure to carry your complete work profile</div>
						</div>
					</div>
					<a href="#" class="btn btn-default" data-toggle="modal" data-target="#castingModal">Apply</a>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
<div class="modals_wrap">
	<div id="castingModal" class="casting_modal modal fade">
		<div class="modal-dialog">
			<div class="modal-header">
				<!-- <div class="close_icon">Close</div> -->
				<button type="button" class="close" data-dismiss="modal">Close</button>
				<div class="form_title">Fill in your details for casting call</div>
			</div>
			<div class="modal-content">
				<form action="#">
					<div class="form-group">
						<input type="text" class="form-control form_text" placeholder="Name *">
					</div>
					<div class="form-group">
						<input type="email" class="form-control form_text" placeholder="Email ID *">
					</div>
					<div class="form-group">
						<input type="text" class="form-control form_text" placeholder="Phone NO *">
					</div>
					<div class="form-group">
						<textarea class="form-control form_textarea" placeholder="Message"></textarea>
					</div>
					<div class="form-group">
						<div class="description">Note: Please add your ID number or register with Diva</div>
					</div>
					<div class="form-group">
						<input type="hidden" class="hide_input">
					</div>
					<div class="form_actions">
						<div class="form-group field-contactform-recaptcha required">
							<input type="hidden" id="contactform-recaptcha" name="ContactForm[reCaptcha]"><div class="g-recaptcha" data-sitekey="6LefYDAUAAAAAAc6VtVeK3v5Zxy3F4ANSJg3VyPZ" data-callback="recaptchaCallback" data-expired-callback="recaptchaExpiredCallback"></div>
							<p class="help-block help-block-error"></p>
						</div>    
						<input type="submit" class="btn btn-default" value="Send">
						<div class="cancel_btn" data-dismiss="modal">Cancel</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>