//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Casting for production</span>
				</div>
				<h1 class="page_title">Casting for production</h1>
			</div>
			<div class="view_casting clearfix">
				<div class="col-sm-6 col">
					<div class="image"><img src="../images/casting_1.jpg" alt=""></div>
					<div class="title">Looking for hair and makeup artist</div>
					<div class="casting_info">
						<div class="item">
							<div class="info_label">Gender:</div>
							<div class="value">Female,Male</div>
						</div>
						<div class="item">
							<div class="info_label">Fee:</div>
							<div class="value">TBC</div>
						</div>
						<div class="item">
							<div class="info_label">Casting Date:</div>
							<div class="value">2017-09-07</div>
						</div>
						<div class="item">
							<div class="info_label">Time from:</div>
							<div class="value">11:00</div>
						</div>
						<div class="item">
							<div class="info_label">Time to:</div>
							<div class="value">Female</div>
						</div>
						<div class="item">
							<div class="info_label">Job Date:</div>
							<div class="value">2017-09-18</div>
						</div>
						<div class="item">
							<div class="info_label">Location address:</div>
							<div class="value">Dubai,United Arab Emirates</div>
						</div>
						<div class="item">
							<div class="info_label">Booker name:</div>
							<div class="value">Hetuk</div>
						</div>
						<div class="item">
							<div class="info_label">Booker's number:</div>
							<div class="value">+971 55 220 2107</div>
						</div>
						<div class="item">
							<div class="info_label">Casting details:</div>
							<div class="value">Well versed with high fashion hair and makeup. Please make sure to carry your complete work profile</div>
						</div>
					</div>
					<a href="#" class="btn btn-default">Apply</a>
				</div>
				<div class="col-sm-6 col">
					<div class="image"><img src="../images/casting_2.jpg" alt=""></div>
					<div class="title">Looking for hair and makeup artist</div>
					<div class="casting_info">
						<div class="item">
							<div class="info_label">Gender:</div>
							<div class="value">Female,Male</div>
						</div>
						<div class="item">
							<div class="info_label">Fee:</div>
							<div class="value">TBC</div>
						</div>
						<div class="item">
							<div class="info_label">Casting Date:</div>
							<div class="value">2017-09-07</div>
						</div>
						<div class="item">
							<div class="info_label">Time from:</div>
							<div class="value">11:00</div>
						</div>
						<div class="item">
							<div class="info_label">Time to:</div>
							<div class="value">Female</div>
						</div>
						<div class="item">
							<div class="info_label">Job Date:</div>
							<div class="value">2017-09-18</div>
						</div>
						<div class="item">
							<div class="info_label">Location address:</div>
							<div class="value">Dubai,United Arab Emirates</div>
						</div>
						<div class="item">
							<div class="info_label">Booker name:</div>
							<div class="value">Hetuk</div>
						</div>
						<div class="item">
							<div class="info_label">Booker's number:</div>
							<div class="value">+971 55 220 2107</div>
						</div>
						<div class="item">
							<div class="info_label">Casting details:</div>
							<div class="value">Well versed with high fashion hair and makeup. Please make sure to carry your complete work profile</div>
						</div>
					</div>
					<a href="#" class="btn btn-default">Apply</a>
				</div>
				<div class="col-sm-6 col">
					<div class="image"><img src="../images/casting_3.jpg" alt=""></div>
					<div class="title">Looking for hair and makeup artist</div>
					<div class="casting_info">
						<div class="item">
							<div class="info_label">Gender:</div>
							<div class="value">Female,Male</div>
						</div>
						<div class="item">
							<div class="info_label">Fee:</div>
							<div class="value">TBC</div>
						</div>
						<div class="item">
							<div class="info_label">Casting Date:</div>
							<div class="value">2017-09-07</div>
						</div>
						<div class="item">
							<div class="info_label">Time from:</div>
							<div class="value">11:00</div>
						</div>
						<div class="item">
							<div class="info_label">Time to:</div>
							<div class="value">Female</div>
						</div>
						<div class="item">
							<div class="info_label">Job Date:</div>
							<div class="value">2017-09-18</div>
						</div>
						<div class="item">
							<div class="info_label">Location address:</div>
							<div class="value">Dubai,United Arab Emirates</div>
						</div>
						<div class="item">
							<div class="info_label">Booker name:</div>
							<div class="value">Hetuk</div>
						</div>
						<div class="item">
							<div class="info_label">Booker's number:</div>
							<div class="value">+971 55 220 2107</div>
						</div>
						<div class="item">
							<div class="info_label">Casting details:</div>
							<div class="value">Well versed with high fashion hair and makeup. Please make sure to carry your complete work profile</div>
						</div>
					</div>
					<a href="#" class="btn btn-default">Apply</a>
				</div>
				<div class="col-sm-6 col">
					<div class="image"><img src="../images/casting_4.jpg" alt=""></div>
					<div class="title">Looking for hair and makeup artist</div>
					<div class="casting_info">
						<div class="item">
							<div class="info_label">Gender:</div>
							<div class="value">Female,Male</div>
						</div>
						<div class="item">
							<div class="info_label">Fee:</div>
							<div class="value">TBC</div>
						</div>
						<div class="item">
							<div class="info_label">Casting Date:</div>
							<div class="value">2017-09-07</div>
						</div>
						<div class="item">
							<div class="info_label">Time from:</div>
							<div class="value">11:00</div>
						</div>
						<div class="item">
							<div class="info_label">Time to:</div>
							<div class="value">Female</div>
						</div>
						<div class="item">
							<div class="info_label">Job Date:</div>
							<div class="value">2017-09-18</div>
						</div>
						<div class="item">
							<div class="info_label">Location address:</div>
							<div class="value">Dubai,United Arab Emirates</div>
						</div>
						<div class="item">
							<div class="info_label">Booker name:</div>
							<div class="value">Hetuk</div>
						</div>
						<div class="item">
							<div class="info_label">Booker's number:</div>
							<div class="value">+971 55 220 2107</div>
						</div>
						<div class="item">
							<div class="info_label">Casting details:</div>
							<div class="value">Well versed with high fashion hair and makeup. Please make sure to carry your complete work profile</div>
						</div>
					</div>
					<a href="#" class="btn btn-default">Apply</a>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
