//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content page_category not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Model Management</span>
				</div>
				<h1 class="page_title">Model Management</h1>
				<div class="top_text">
					<p>DIva is the top Dubai-based model agency that specializes in International male models and female models, child models, cast, actors, talent. </p>
					<p>We've been servind Dubai, Daha, Kuwait, Saudi, Oman and Behrain Since 2003.With almost 2000 + registered models and having serviced </p>
					<p>the best clients, Diva has become the most sought after modeling agency in the middle east. </p>
				</div>
			</div>
			<div class="view_category">
				<div class="view_header clearfix">
					<div class="col col-sm-5">
						<blockquote>
							We are meticulous in our work
							an have a keen eye for details
							and that's what sets us aside
							from other agencies. 
						</blockquote>		
					</div>
					<div class="col col-sm-6 col-sm-offset-1 main_text">
						For top Model Agency Management and modeling requirements - Contact us now to book Models, Makeup, Hair Stylist, Choreographers, Arabic, Makeup, Artist, hairdressers, agency, casting agency ,photographic modelling, TV Comercials, catalogue, advertising, photographic advertising, hair beauty and much more. Model Agency in UAE Dubai. Talent Management for photoshoot, Fashion Shows, advertising compaigns and agencies we are your preferred partners.
					</div>
				</div>
				<div class="view_content">
					<div class="col col-xs-12 col-sm-6 col-md-3">
						<div class="image"><a href="#"><img src="/images/category_1.jpg" alt=""></a></div>
						<div class="title"><a href="#">International Models</a></div>
					</div>
					<div class="col col-xs-12 col-sm-6 col-md-3">
						<div class="image"><a href="#"><img src="/images/category_2.jpg" alt=""></a></div>
						<div class="title"><a href="#">Top Female</a></div>
					</div>
					<div class="col col-xs-12 col-sm-6 col-md-3">
						<div class="image"><a href="#"><img src="/images/category_3.jpg" alt=""></a></div>
						<div class="title"><a href="#">Top Male</a></div>
					</div>
					<div class="col col-xs-12 col-sm-6 col-md-3">
						<div class="image"><a href="#"><img src="../images/category_4.jpg" alt=""></a></div>
						<div class="title"><a href="#">Child Models</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
