//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content page_clients not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Clients</span>
				</div>
				<h1 class="page_title">Clients</h1>
			</div>
			<div class="view_clients clearfix">
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_1.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_2.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_3.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_4.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_5.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_6.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_7.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_8.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_9.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_10.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_11.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_12.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_13.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_14.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_15.png" alt=""></a></div>
				</div>
				<div class="col col-sm-6 col-md-3">
					<div class="image"><a href="#"><img src="/images/logo_16.png" alt=""></a></div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
