//= templates/head.html
<div class="wrapper front">
	//= templates/header_inner.html
	<div class="wrapper_content page_contacts not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Contacts</span>
				</div>
				<h1 class="page_title">Get In Touch With Us</h1>
				<div class="top_text">
					Diva Modelling and Events FZ LLC. <br>
					Office 1912, Grosvenor House Business Tower, Tecom, New Media City Extension P.O. <br>
					Box: 502831- Dubai, UAE. <br>
					O: +971 44 227272 | F: +971 44 227422 | M: +971 50 3421613
				</div>
			</div>
			<div class="view_contacts clearfix">
				<div class="view_header">
					<div id="map" data-coordinate="25.098512, 55.177631"></div>
				</div>
				<div class="view_content">
					<!-- <div class="row"> -->
						<div class="col col-sm-6 col-md-3">
							<div class="col_content">
								<div class="title">
									Nicole Rodrigues
									<div class="post">Managing Director</div>
								</div>
								<div class="contact_info">
									<div class="contact_label">Mobile:</div>
									<div class="contact_val"><a href="tel:+971503421613">+971 50 3421613</a> /<a href="tel:+971553421613">+971 55 3421613</a> <a href="tel:+971554227277">+971554227277</a></div>
								</div>
							</div>
						</div>
						<div class="col col-sm-6 col-md-3">
							<div class="col_content">
								<div class="title">International<br>Model Representative</div>
								<div class="contact_info">
									<div class="contact_label">Email:</div>
									<div class="contact_val"><a href="mailto:international@divadubai.com">international@divadubai.com</a></div>
								</div>
							</div>
						</div>
						<div class="col col-sm-6 col-md-3">
							<div class="col_content">
								<div class="title">PR & Communication</div>
								<div class="contact_info">
									<div class="contact_label">Email:</div>
									<div class="contact_val"><a href="mailto:nicole@divadubai.com">nicole@divadubai.com</a></div>
								</div>
							</div>
						</div>
						<div class="col col-sm-6 col-md-3">
							<div class="col_content">
								<div class="title">Promotions</div>
								<div class="contact_info">
									<div class="contact_label">Email:</div>
									<div class="contact_val"><a href="mailto:activation@divadubai.com">activation@divadubai.com</a></div>
								</div>
							</div>
						</div>
					<!-- </div> -->
					<!-- <div class="row"> -->
						<div class="col col-sm-6 col-md-3">
							<div class="col_content">
								<div class="title">Hostess</div>
								<div class="contact_info">
									<div class="contact_label">Email:</div>
									<div class="contact_val"><a href="mailto:model@divadubai.com">model@divadubai.com</a></div>
								</div>
							</div>
						</div>
						<div class="col col-sm-6 col-md-3">
							<div class="col_content">
								<div class="title">Reception</div>
								<div class="contact_info">
									<div class="contact_label">Email:</div>
									<div class="contact_val"><a href="mailto:contact@divadubai.com">contact@divadubai.com</a></div>
								</div>
							</div>
						</div>
						<div class="col col-sm-6 col-md-3">
							<div class="col_content">
								<div class="title">IT</div>
								<div class="contact_info">
									<div class="contact_label">Email:</div>
									<div class="contact_val"><a href="mailto:it@divadubai.com">it@divadubai.com</a></div>
								</div>
							</div>
						</div>
						<div class="col col-sm-6 col-md-3">
							<div class="col_content">
								<div class="title">Photoshoot</div>
								<div class="contact_info">
									<div class="contact_label">Email:</div>
									<div class="contact_val"><a href="mailto:tvc@divadubai.com">tvc@divadubai.com</a></div>
								</div>
							</div>
						</div>
					<!-- </div> -->
					<!-- <div class="row"> -->
						<div class="col col-sm-6 col-md-3">
							<div class="col_content">
								<div class="title">Photographer & Graphic Designer</div>
								<div class="contact_info">
									<div class="contact_label">Email:</div>
									<div class="contact_val"><a href="mailto:cast@divadubai.com">cast@divadubai.com</a></div>
								</div>
							</div>
						</div>
						<div class="col col-sm-6 col-md-3">
							<div class="col_content">
								<div class="title">Fashion Shows</div>
								<div class="contact_info">
									<div class="contact_label">Email:</div>
									<div class="contact_val"><a href="mailto:diva@divadubai.com">diva@divadubai.com</a></div>
								</div>
							</div>
						</div>
						<div class="col col-sm-6 col-md-3">
							<div class="col_content">
								<div class="title">HR</div>
								<div class="contact_info">
									<div class="contact_label">Email:</div>
									<div class="contact_val"><a href="mailto:hr@divadubai.com">hr@divadubai.com</a></div>
								</div>
							</div>
						</div>
						<div class="col col-sm-6 col-md-3">
							<div class="col_content">
								<div class="title">TVC</div>
								<div class="contact_info">
									<div class="contact_label">Email:</div>
									<div class="contact_val"><a href="mailto:style@divadubai.com">style@divadubai.com</a></div>
								</div>
							</div>
						</div>
					<!-- </div> -->
					<!-- <div class="row"> -->
						<div class="col col-sm-6 col-md-3">
							<div class="col_content">
								<div class="title">Accounts</div>
								<div class="contact_info">
									<div class="contact_label">Email:</div>
									<div class="contact_val"><a href="mailto:finance@divadubai.com">finance@divadubai.com</a></div>
								</div>
							</div>
						</div>
						<div class="col col-sm-6 col-md-3">
							<div class="col_content">
								<div class="title">Events</div>
								<div class="contact_info">
									<div class="contact_label">Email:</div>
									<div class="contact_val"><a href="mailto:design@divadubai.com">design@divadubai.com</a></div>
								</div>
							</div>
						</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
		<div class="bottom_block">
			<div class="contacts_form">
				<div class="block_content container">
					<!-- <div class="row"> -->
						<div class="col col-sm-6 title_wrapper">
							<div class="title">
								Contact Us
							</div>
							<div class="decription">
								Send all your questions and wishes
								by filling out the form
							</div>
						</div>
						<div class="col col-sm-6">
							<div class="form_wrapper">
								<form role="form">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Name" required>
									</div>
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Email" required>
									</div>
									<div class="form-group phone">
										<input type="text" class="form-control" placeholder="Phone Number" required>
									</div>
									<div class="form-group">
										<textarea class="form-control" placeholder="Message"></textarea>
									</div>
									<div class="form_actions clearfix">
										<!-- <div class="form-group field-contactform-recaptcha required">
											<input type="hidden" id="contactform-recaptcha" name="ContactForm[reCaptcha]"><div class="g-recaptcha" data-sitekey="6LefYDAUAAAAAAc6VtVeK3v5Zxy3F4ANSJg3VyPZ" data-callback="recaptchaCallback" data-expired-callback="recaptchaExpiredCallback"></div>
											<p class="help-block help-block-error"></p>
										</div>     -->                    
										<button type="submit" class="btn btn-success">Send</button>
									</div>
								</form>
							</div>
						</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
