//= templates/head.html
<div class="wrapper front">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix container-fluid">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Production</span>
				</div>
				<h1 class="page_title">Directors/DOP</h1>
			</div>
			<div class="filter_wrapper">
				<div class="row">
					<div class="male_filter col-sm-12 col-lg-10">
						<ul>
							<li><a href="#">Photographers</a></li>
							<li><a class="active" href="#">Directors/DOP</a></li>
							<li><a href="#">Stylists</a></li>
							<li><a href="#">Locations</a></li>
							<li><a href="#">Post Production</a></li>
							<li><a href="#">Male cast</a></li>
							<li><a href="#">Female cast</a></li>
							<li><a href="#">Family cast</a></li>
						</ul>
					</div>
					<div class="parameters_wrap col-sm-12 col-lg-2">
						<div class="parameters_btn">Show parameters</div>
					</div>
				</div>
			</div>
			<div class="view_directors">
				<div class="view_content">
					<div class="row">
						<div class="col col-md-3">
	 						<div class="col_content">
								<div class="video_youtube pause" data-video="vvb65WGktoo"><img src="/images/director_1.png" alt="**.Atilio"></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-md-3">
	 						<div class="col_content">
								<div class="video_youtube pause" data-video="4DFYGdz_Roo"><img src="/images/director_2.png" alt="**.Atilio"></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-md-3">
	 						<div class="col_content">
								<div class="video_youtube pause" data-video="vvb65WGktoo"><img src="/images/director_3.png" alt="**.Atilio"></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-md-3">
	 						<div class="col_content">
								<div class="video_youtube pause" data-video="4DFYGdz_Roo"><img src="/images/director_4.png" alt="**.Atilio"></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer