//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Disclaimer</span>
				</div>
				<h1 class="page_title">Disclaimer</h1>
			</div>
			<div class="view_disclaimer">
				<div class="view_content">
					<div class="description">
						<h2>RECRUITMENT WARNING: BEWARE OF IMPOSTERS</h2>
						<p>DIVA Modelling and Events considers the safety and well-being of aspiring models a top priority. We pride ourselves on our professionalism, transparency, and authenticity and believe it is important to advise models about unscrupulous people who prey on their ambitions.</p>
						<p>Please be aware there are certain individuals on the internet falsely claiming to be representatives (or "scouts") of DIVA Modelling and Events. If you are contacted by anyone claiming to be a representative of DIVA Modelling and Events, do not respond without first verifying their identity. Promptly call us directly at one of our offices and we will be happy to assist.</p>
						<p>Should someone claiming to be a representative or model manager from any agency contact you, immediately alert your parents and/or a responsible adult.</p>
					</div>
					<div class="field_note clearfix">
						<div class="field_label">Please note:</div>
						<div class="field_content">
							<p>DIVA Modelling and Events does not conduct interviews via Skype, we never request photos in the nude or lingerie, and we never require monetary payment.</p>
						</div>
					</div>
					<div class="remind_field"><h3>We wish you well in your pursuits and remind you to always be safe.</h3></div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
