//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content page_models page_locations not_front">
		<div class="middle clearfix container-fluid">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Events</span>
				</div>
				<h1 class="page_title">Entertainers</h1>
			</div>
			<div class="filter_wrapper">
				<div class="row">
					<div class="male_filter col-sm-12 col-lg-10">
						<ul>
							<li><a href="#">Event Support</a></li>
							<li><a class="active" href="#">Entertainers</a></li>
						</ul>
					</div>
					<div class="parameters_wrap col-sm-12 col-lg-2">
						<div class="parameters_btn">Show parameters</div>
					</div>
				</div>
			</div>
			<div class="view_locations">
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_1.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_2.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_3.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_4.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_5.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_6.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_7.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_8.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_9.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_10.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_11.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_12.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_13.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_14.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
				<div class="col">
						<div class="col_content">
						<div class="image"><a href="#"><img src="/images/location_15.png" alt="**.Atilio"></a></div>
						<div class="name"><a href="#">*.JACQUES</a></div>
                 	</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
