//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content page_category page_events not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Events</span>
				</div>
				<h1 class="page_title">Diva Events</h1>
			</div>
			<div class="view_category view_events">
				<div class="view_header clearfix">
					<div class="col col-sm-12">
						<p>Diva Events offers that magical combination between efficient event management and sheer dazzle With meticulous attention to planning, structure, theme and timing, Diva Events can truly make your event the talk of the town. May It be award function crew award function hosting, crew for ceremonies, crew for corporate event, crew for wedding, event crew provider, event handler, event organizer, event talent, fashion show organizer , photography agency , talent for corporate event, talent for wedding event, talent handling, video production agency, wedding organizer.</p>
						<blockquote>
							Our Fashion Shows are guaranteed to take your breath away, is the ultimate result of the diva touch to it Diva provides the highest ranking fashion models, discovers new faces and trains the young and upcoming talents.
						</blockquote>		
						<p>Whether it's an important product launch, professional gathering, venue opening, party or celebration. we'll ensure that it's not only memorable, but provides a handsome return on investment in terms of networking opportunities and conversion prospects.</p>
						<p>Choreography is very essential to perfect the final picture of the Fashion show and working with the most talented in the region helps us achieve that for our prestigious client. From co-coordinating the runway models to conceptualizing the show and complete production to back stage management with our crew we at Diva never fail to impress.</p>
					</div>
				</div>
				<div class="view_content">
					<div class="col col-xs-12 col-sm-6 col-md-3">
						<div class="image"><a href="#"><img src="/images/event_1.png" alt=""></a></div>
						<div class="title"><a href="#">Event Support</a></div>
					</div>
					<div class="col col-xs-12 col-sm-6 col-md-3">
						<div class="image"><a href="#"><img src="/images/event_2.png" alt=""></a></div>
						<div class="title"><a href="#">Influencers</a></div>
					</div>
					<div class="col col-xs-12 col-sm-6 col-md-3">
						<div class="image"><a href="#"><img src="/images/event_3.png" alt=""></a></div>
						<div class="title"><a href="#">Entertainers</a></div>
					</div>
					<div class="col col-xs-12 col-sm-6 col-md-3">
						<div class="image"><a href="#"><img src="../images/event_4.png" alt=""></a></div>
						<div class="title"><a href="#">Equipment Rentals</a></div>
					</div>
					<div class="col col-xs-12 col-sm-6 col-md-3">
						<div class="image"><a href="#"><img src="../images/event_5.png" alt=""></a></div>
						<div class="title"><a href="#">Hostesses</a></div>
					</div>
					<div class="col col-xs-12 col-sm-6 col-md-3">
						<div class="image"><a href="#"><img src="../images/event_6.png" alt=""></a></div>
						<div class="title"><a href="#">Locations</a></div>
					</div>
					<div class="col col-xs-12 col-sm-6 col-md-3">
						<div class="image"><a href="#"><img src="../images/event_7.png" alt=""></a></div>
						<div class="title"><a href="#">Government & Local permits</a></div>	
					</div>
					<div class="col col-xs-12 col-sm-6 col-md-3">
						<div class="image"><a href="#"><img src="../images/event_8.png" alt=""></a></div>
						<div class="title"><a href="#">Catering</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
