//= templates/head.html
<div class="wrapper front">
	//= templates/header_inner.html
	<div class="wrapper_content page_models not_front">
		<div class="middle clearfix container-fluid">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Production</span>
				</div>
				<h1 class="page_title">Family Cast</h1>
			</div>
			<div class="filter_wrapper">
				<div class="row">
					<div class="male_filter col-sm-12 col-lg-10">
						<ul>
							<li><a href="#">Photographers</a></li>
							<li><a href="#">Directors/DOP</a></li>
							<li><a href="#">Stylists</a></li>
							<li><a href="#">Locations</a></li>
							<li><a href="#">Post Production</a></li>
							<li><a href="#">Male cast</a></li>
							<li><a href="#">Female cast</a></li>
							<li><a class="active" href="#">Family cast</a></li>
						</ul>
					</div>
					<div class="parameters_wrap col-sm-12 col-lg-2">
						<div class="parameters_btn">Show parameters</div>
					</div>
				</div>
			</div>
			<div class="view_models">
				<div class="view_content">
					<div class="row">
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
     						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_1.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
                         	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model4_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model5_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_6.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_7.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_8.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_1.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model4_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model5_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_6.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_7.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_8.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_1.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model4_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_1.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model4_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model5_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_6.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_7.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_8.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_1.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model4_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer