//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content page_faq not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">FAQ</span>
				</div>
				<h1 class="page_title">Frequently Asked Questions</h1>
			</div>
			<div class="view_faq clearfix">
				<div class="row">
					<div class="col col-sm-4">
						<div class="item"> 
							<h2 class="title">Registration</h2>
							<div class="description">
								For Models registration, kindly visit our website www.divadubai.com and 
								go to <strong>LOGIN , enter your email address</strong> and create your password .
								Once loged in -
								Click <strong>LOGIN</strong>- Create your own accounts
								Click <strong>Registration</strong> -Please complete all your details carefully and completely and please make sure that the name you will register is based on your passport.
							</div>
						</div>
						<div class="item">
							<h2 class="title">Category</h2>
							<div class="description">
								<ul>
									<li>International: Models with international standards with loads of tear sheets, good book, new in town and only here in for short period of time (like a month for example)</li>
									<li>Model 1: Dubai based models with international standards with loads of tear sheets, good book and loads of experience.</li>
									<li>Model 2: Dubai based models that has good portfolio and has 2 or 3 tear sheets.</li>
									<li>Out of Town: Dubai based models that will be out of town in a short period of time</li>
									<li>Celebrity: Individuals who are locally known Brand Ambassadors related to media and has a proper portfolio.</li>
									<li>New Face: Dubai based models that has proper and professional portfolio.</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col col-sm-4">
						<div class="item">
							<h2 class="title">Loading of Images and videos</h2>
							<div class="description">
								<ul>
									<li>First image needs to be a strong close up image( Jpeg only - less than 500kb )</li>
									<li>Please maintain good resolution of image</li>
									<li>Use as many editorials and jobs done within your first 10 images</li>
									<li>Please use vertical images only</li>
									<li>If you need to use horizontal image- please split into 2 horizontal images</li>
									<li>The links for Video are only youtube links with no contact info please.</li>
									<li>Please check your composite card before clicking add talent.</li>
								</ul>
							</div>
						</div>
						<div class="item">
							<h2 class="title">Specialization</h2>
							<div class="description">
								<ul>
									<li>Fashion Shows: Models for ramp shows 175cm ++for female 180 cm ++ for male</li>
									<li>Hands / Feet: Models that specialize with hands and feet modeling- please add a picture of your hands and feet if you do model them</li>
									<li>MC: Master of Ceremony, event presenter or TV presenter</li>
									<li>Host: Models who do Hostessing for fashion events, corporate events, private events and exhibitions</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col col-sm-4">
						<div class="item">
							<h2 class="title">Ethnicity</h2>
							<div class="description">
								<ul>
									<li>Indian: Indian origin and look regardless of their passport</li>
									<li>Oriental: Asians or models that can pass as Orientals</li>
									<li>European: Only blonds</li>
									<li>African: Models African features and African Americans</li>
									<li>Arabic: Arabic nationals and Arabic speakers</li>
									<li>Mediterranean: Dark hair and Dark eyes</li>
								</ul>
							</div>
						</div>
						<div class="item">
							<h3 class="main_title">Did not find the answer to your question?</h3>
							<div class="ask_btn" data-toggle="modal" data-target="#faqModal">Ask a Question</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
<div class="modals_wrap">
	<div id="faqModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-header">
				<!-- <div class="close_icon">Close</div> -->
				<button type="button" class="close" data-dismiss="modal">Close</button>
				<div class="form_title">Ask a Question</div>
			</div>
			<div class="modal-content">
				<form action="#">
					<div class="form-group">
						<label>Email</label>
						<input type="Email" class="form-control form_text">
					</div>
					<div class="form-group">
						<label>Question</label>
						<textarea class="form-control form_textarea"></textarea>
					</div>
					<div class="form_actions">
						<div class="form-group field-contactform-recaptcha required">
							<input type="hidden" id="contactform-recaptcha" name="ContactForm[reCaptcha]"><div class="g-recaptcha" data-sitekey="6LefYDAUAAAAAAc6VtVeK3v5Zxy3F4ANSJg3VyPZ" data-callback="recaptchaCallback" data-expired-callback="recaptchaExpiredCallback"></div>
							<p class="help-block help-block-error"></p>
						</div>    
						<input type="submit" class="btn btn-default" value="Send">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
