//= templates/head.html
<div class="wrapper front">
	//= templates/header.html
	<div class="wrapper_content">
		<div class="middle clearfix">
			<div class="main_slider">
				<div class="block_content">
					<div class="slide">
						<div class="image"><img class="active" src="../images/slide_new.jpg" alt=""></div>
						<div class="container slider_text">
						<div class="title">Mucius<br>menandri vix eu</div>
						<div class="description">
							Possit oporteat usu eu, has cu explicari laboramus adolescens, liber viderer cum et. Cu per quem audiam aeterno. Quo no aliquid facilisis definitiones, eirmod consetetur mel ne. Error populo no sit, debitis indoctum scriptorem has eu. 
						</div>
						</div>
					</div>
					<div class="slide">
						<div class="image"><img class="active" src="../images/slide_new.jpg" alt=""></div>
						<div class="container slider_text">
						<div class="title">Mucius<br>menandri</div>
						<div class="description">
							Error populo no sit, debitis indoctum scriptorem has eu. Possit oporteat usu eu, has cu explicari laboramus adolescens.
						</div>
						</div>
					</div>
					<div class="slide">
						<div class="image"><img class="active" src="../images/slide_new.jpg" alt=""></div>
						<div class="container slider_text">
						<div class="title">Mucius<br>menandri vix eu</div>
						<div class="description">
							Possit oporteat usu eu, has cu explicari laboramus adolescens, liber viderer cum et. Cu per quem audiam aeterno. Quo no aliquid facilisis definitiones, eirmod consetetur mel ne. Error populo no sit, debitis indoctum scriptorem has eu. 
						</div>
						</div>
					</div>
					<div class="slide">
						<div class="image"><img class="active" src="../images/slide_new.jpg" alt=""></div>
						<div class="container slider_text">
						<div class="title">Mucius<br>menandri</div>
						<div class="description">
							Error populo no sit, debitis indoctum scriptorem has eu. Possit oporteat usu eu, has cu explicari laboramus adolescens.
						</div>
						</div>
					</div>ƒ
				</div>
			</div>
			<div class="services_block">
				<div class="block_wrapper container">
					<div class="block_content ">
						<div class="slide">
							<div class="row">
								<div class="col col-sm-4 col-md-6">
									<div class="image"><a href="#"><img src="/images/sevices_1.jpg" alt=""></a></div>
									<div class="title"><a href="#">Model Management</a></div>
								</div>
								<div class="col col-sm-4 col-md-3">
									<div class="image"><a href="#"><img src="/images/sevices_2.jpg" alt=""></a></div>
									<div class="title"><a href="#">Production</a></div>
								</div>
								<div class="col col-sm-4 col-md-3">
									<div class="image"><a href="#"><img src="/images/sevices_3.jpg" alt=""></a></div>
									<div class="title"><a href="#">Events</a></div>
								</div>
								<div class="col col-sm-4 col-md-3">
									<div class="image"><a href="#"><img src="/images/services_4.jpg" alt=""></a></div>
									<div class="title"><a href="#">Promotions</a></div>
								</div>
								<div class="col col-sm-4 col-md-3">
									<div class="image"><a href="#"><img src="/images/services_5.jpg" alt=""></a></div>
									<div class="title"><a href="#">Digital Marketing</a></div>
								</div>
								<div class="col col-sm-4 col-md-6">
									<div class="image"><a href="#"><img src="/images/services_6.jpg" alt=""></a></div>
									<div class="title"><a href="#">Public Relations</a></div>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="row">
								<div class="col col-sm-4 col-md-3">
									<div class="image"><a href="#"><img src="/images/services_5.jpg" alt=""></a></div>
									<div class="title"><a href="#">Production</a></div>
								</div>
								<div class="col col-sm-4 col-md-3">
									<div class="image"><a href="#"><img src="/images/services_4.jpg" alt=""></a></div>
									<div class="title"><a href="#">Events</a></div>
								</div>
								<div class="col col-sm-4 col-md-6">
									<div class="image"><a href="#"><img src="/images/services_6.jpg" alt=""></a></div>
									<div class="title"><a href="#">Model Management</a></div>
								</div>
								<div class="col col-sm-4 col-md-6">
									<div class="image"><a href="#"><img src="/images/sevices_1.jpg" alt=""></a></div>
									<div class="title"><a href="#">Model Management</a></div>
								</div>
								<div class="col col-sm-4 col-md-3">
									<div class="image"><a href="#"><img src="/images/sevices_3.jpg" alt=""></a></div>
									<div class="title"><a href="#">Production</a></div>
								</div>
								<div class="col col-sm-4 col-md-3">
									<div class="image"><a href="#"><img src="/images/sevices_2.jpg" alt=""></a></div>
									<div class="title"><a href="#">Events</a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="container title_wrapper">
						<div class="block_title">— Services</div>
					</div>
				</div>
			</div>
			<div class="achievements_block">
				<div class="block_content container">
					<div class="row">
						<div class="col col-sm-6 col-md-3">
							<div class="image"><a href="#"><img src="/images/achievements_1.jpg" alt=""></a></div>
							<div class="title"><a href="#">Awards</a></div>
						</div>
						<div class="col col-sm-6 col-md-3">
							<div class="image"><a href="#"><img src="/images/achievements_2.jpg" alt=""></a></div>
							<div class="title"><a href="#">Our Clients</a></div>
						</div>
						<div class="col col_text col-sm-6">
							<h2 class="main_title">Our<br>Achievements</h2>
							<div class="description">Since 2003, we have parterned with the best companies in the region and continue building on our achievements.</div>
						</div>
					</div>
					<div class="row">
						<div class="col col_text col-sm-3 visible-md visible-lg"></div>
						<div class="col col-sm-6 col-md-3">
							<div class="image"><a href="#"><img src="/images/achievements_3.jpg" alt=""></a></div>
							<div class="title"><a href="#">Our Works</a></div>
						</div>
						<div class="col col-sm-6 col-md-3">
							<div class="image"><a href="#"><img src="/images/achievements_4.jpg" alt=""></a></div>
							<div class="title"><a href="#">News & Blogs</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="registrer_block">
				<div class="block_content container">
					<div class="col col-lg-6">
						<h2 class="main_title">Register Now</h2>
						<div class="description">
							Register with Us and be discoverd among the best companies and brands across the region
						</div>
						<a href="#" class="register_btn">Register</a>
					</div>
					<div class="col col-lg-6"></div>
				</div>
			</div>
			<div class="socials_block">
				<div class="container block_content">
					<div class="row">
						<div class="block_title">Follow us</div>
					    <div class="col col-xs-6 col-sm-1-5  col-md-1-5  col-lg-1-5">
					    	<div class="image"><a href="#" target="_blank"><img src="/images/socials_1.png" alt=""></a></div>
					    	<div class="title"><a href="#" target="_blank">divadubaimodels</a></div>
					    </div>
					    <div class="col col-xs-6 col-sm-1-5  col-md-1-5  col-lg-1-5">
					    	<div class="image"><a href="#" target="_blank"><img src="/images/socials_2.png" alt=""></a></div>
					    	<div class="title"><a href="#" target="_blank">divadubaiproductions</a></div>
					    </div>
					    <div class="col col-xs-6 col-sm-1-5  col-md-1-5  col-lg-1-5">
					    	<div class="image"><a href="#" target="_blank"><img src="/images/socials_2.png" alt=""></a></div>
					    	<div class="title"><a href="#" target="_blank">divadubaipromotions</a></div>
					    </div>
					    <div class="col col-xs-6 col-sm-1-5  col-md-1-5  col-lg-1-5">
					    	<div class="image"><a href="#" target="_blank"><img src="/images/socials_2.png" alt=""></a></div>
					    	<div class="title"><a href="#" target="_blank">divadubaievents</a></div>
					    </div>
					    <div class="col col-xs-6 col-sm-1-5  col-md-1-5  col-lg-1-5">
					    	<div class="image"><a href="#" target="_blank"><img src="/images/socials_2.png" alt=""></a></div>
					    	<div class="title"><a href="#" target="_blank">divadubaimodels</a></div>
					    </div>
					</div>
				</div>
			</div>
			<div class="company_block">
				<div class="block_content container">
					<div class="row">
						<div class="col col_logo col-sm-6">
							<div class="image">
								<div class="logo_content"><img src="/images/logo_company.png" alt=""></div>
							</div>
						</div>
						<div class="col col_text col-sm-6">
							<div class="main_title">Company Profile</div>
							<div class="description">
								Lucilius principes id eLucilius principes id eum, ei est velit fuisset. Dolor elaboraret eloquentiam qui id, ad eam quodsi integre adversarium, vel ex consul aperiam signiferumque. um, ei est velit fuisset.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
