//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Login</span>
				</div>
				<h1 class="page_title">Login</h1>
			</div>
			<div class="login_view">
				<form action="#" id="form_login" class="login_form">
					<div class="form_content">
						<div class="form-group clearfix">
							<label class="main_label" for="username">Username</label>
							<input type="text" class="form-control form_text" name="username" id="username" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label" for="username">Password</label>
							<input type="password" class="form-control form_text" name="password" id="password" required>
						</div>
						<div class="form-group clearfix">
							<label class="main_label base_label" for="username">Model <br>password</label>
							<input type="password" class="form-control form_text" name="model_password" id="model_password" required>
						</div>
						<div class="form_info clearfix">
							<div class="form-group">
								<div class="form_checkboxes">
									<div class="form_checkbox">
										<input type="checkbox" name="remember" id="remember">
										<label for="remember">Remember me</label>
									</div>
								</div>
							</div>
							<a href="#" class="reset_pass">Reset Password</a>
						</div>
					</div>
					<div class="form_actions">
						<input type="submit" class="btn btn-default" value="Login">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
