//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix container-fluid">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<a href="#">Female Models</a>
					<span class="this">Model Profile</span>
				</div>
				<div class="page_arrows_wrap clearfix">
					<div class="page_arr prev_arr"><a href="#">Prev</a></div>
					<div class="page_arr next_arr"><a href="#">Next</a></div>
				</div>
				<h1 class="page_title">*.Daria 4016</h1>
			</div>
			<div class="node_model clearfix">	
				<div class="photo_wrapper clearfix">
						<div class="main_photos col">
							<div class="col">
								<a href="#">
									<img src="../images/model1.jpg" alt="">
								</a>
							</div>
						</div>
						<div class="thumb_photos">
								<div class="col"><div class="photo"><a href="#"><img src="../images/model2.jpg" alt=""></a></div></div>
								<div class="col"><div class="photo"><a href="#"><img src="../images/model3.jpg" alt=""></a></div></div>
								<div class="col"><div class="photo"><a href="#"><img src="../images/model4.jpg" alt=""></a></div></div>
								<div class="col"><div class="photo"><a href="#"><img src="../images/model5.jpg" alt=""></a></div></div>
								<div class="col"><div class="photo"><a href="#"><img src="../images/model6.jpg" alt=""></a></div></div>
								<div class="col"><div class="photo"><a href="#"><img src="../images/model7.jpg" alt=""></a></div></div>
								<div class="col"><div class="photo"><a href="#"><img src="../images/model8.jpg" alt=""></a></div></div>
								<div class="col"><div class="photo"><a href="#"><img src="../images/model9.jpg" alt=""></a></div></div>
						</div>
				</div>
				<div class="model_info clearfix">
					<div class="item col-sm-2 col-xs-6">
						<div class="item_content">
							<div class="value">173</div>
							<div class="title">Height</div>
						</div>
					</div>
					<div class="item col-sm-2 col-xs-6">
						<div class="item_content">
							<div class="value">78</div>
							<div class="title">Chest</div>
						</div>
					</div>
					<div class="item col-sm-2 col-xs-6">
						<div class="item_content">
							<div class="value">60</div>
							<div class="title">Waist</div>
						</div>
					</div>
					<div class="item col-sm-2 col-xs-6">
						<div class="item_content">
							<div class="value">87</div>
							<div class="title">Hips</div>
						</div>
					</div>
					<div class="item col-sm-2 col-xs-6">
						<div class="item_content">
							<div class="value">37</div>
							<div class="title">Shoes</div>
						</div>
					</div>
					<div class="item col-sm-2 col-xs-6">
						<div class="item_content">
							<div class="title"><b>Blonde</b> Hair</div>
							<div class="title"><b>Blue</b> Eyes</div>
						</div>
					</div>
				</div>
				<div class="action_wrap">
					<a href="#" class="item item_download">Download</a>
					<a href="#" class="item item_email">Email</a>
					<a href="#" class="item item_print">Print</a>
					<a href="#" class="item item_cart">Cart</a>
				</div>
				<div class="portfolio_slider model_slider model_slider_default">
					<div class="title_wrapper clearfix">
						<div class="block_title">
							<h2 class="title">Portfolio</h2>
							<div class="slider_arrows">
								<div class="slide_arr slide_prev">Prev</div>
								<div class="slide_arr slide_next">Next</div>
							</div>
						</div>
						<a href="#" class="view_all">View Fullbook</a>
					</div>
					<div class="block_content">
						<div class="col"><img src="../images/model_slide_1.jpg" alt=""></div>
						<div class="col"><img src="../images/model_slide_2.jpg" alt=""></div>
						<div class="col"><img src="../images/model_slide_3.jpg" alt=""></div>
						<div class="col"><img src="../images/model_slide_4.jpg" alt=""></div>
						<div class="col"><img src="../images/model_slide_5.jpg" alt=""></div>
						<div class="col"><img src="../images/model_slide_2.jpg" alt=""></div>
					</div>
				</div>
				<div class="polaroids_slider model_slider model_slider_default">
					<div class="title_wrapper clearfix">
						<div class="block_title">
							<h2 class="title">Polaroids</h2>
							<div class="slider_arrows">
								<div class="slide_arr slide_prev">Prev</div>
								<div class="slide_arr slide_next">Next</div>
							</div>
						</div>
						<a href="#" class="view_all">View Fullbook</a>
					</div>
					<div class="block_content">
						<div class="col"><img src="../images/model_slide_1.jpg" alt=""></div>
						<div class="col"><img src="../images/model_slide_2.jpg" alt=""></div>
						<div class="col"><img src="../images/model_slide_3.jpg" alt=""></div>
						<div class="col"><img src="../images/model_slide_4.jpg" alt=""></div>
						<div class="col"><img src="../images/model_slide_5.jpg" alt=""></div>
						<div class="col"><img src="../images/model_slide_1.jpg" alt=""></div>
					</div>
				</div>
				<div class="showreel_slider model_slider2 model_slider_default">
					<div class="title_wrapper clearfix">
						<div class="block_title">
							<h2 class="title">Showreel</h2>
							<div class="slider_arrows">
								<div class="slide_arr slide_prev">Prev</div>
								<div class="slide_arr slide_next">Next</div>
							</div>
						</div>
					</div>
					<div class="block_content">
						<div class="row">
							<div class="col col-md-4"><img src="../images/model_slide_6.jpg" alt=""></div>
							<div class="col col-md-4"><img src="../images/model_slide_7.jpg" alt=""></div>
							<div class="col col-md-4"><img src="../images/model_slide_8.jpg" alt=""></div>
							<div class="col col-md-4"><img src="../images/model_slide_11.jpg" alt=""></div>
						</div>
					</div>
				</div>
				<div class="showreel_slider model_slider2 model_slider_default">
					<div class="title_wrapper clearfix">
						<div class="block_title">
							<h2 class="title">Casting</h2>
							<div class="slider_arrows">
								<div class="slide_arr slide_prev">Prev</div>
								<div class="slide_arr slide_next">Next</div>
							</div>
						</div>
					</div>
					<div class="block_content">
						<div class="row">
							<div class="col col-md-4"><img src="../images/model_slide_9.jpg" alt=""></div>
							<div class="col col-md-4"><img src="../images/model_slide_10.jpg" alt=""></div>
							<div class="col col-md-4"><img src="../images/model_slide_11.jpg" alt=""></div>
							<div class="col col-md-4"><img src="../images/model_slide_12.jpg" alt=""></div>
						</div>
					</div>
				</div>
				<div class="showreel_slider model_slider2 model_slider_default">
					<div class="title_wrapper clearfix">
						<div class="block_title">
							<h2 class="title">Catwalk</h2>
							<div class="slider_arrows">
								<div class="slide_arr slide_prev">Prev</div>
								<div class="slide_arr slide_next">Next</div>
							</div>
						</div>
					</div>
					<div class="block_content">
						<div class="row">
							<div class="col col-md-4"><img src="../images/model_slide_12.jpg" alt=""></div>
							<div class="col col-md-4"><img src="../images/model_slide_13.jpg" alt=""></div>
							<div class="col col-md-4"><img src="../images/model_slide_14.jpg" alt=""></div>
							<div class="col col-md-4"><img src="../images/model_slide_7.jpg" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
