//= templates/head.html
<div class="wrapper front">
	//= templates/header_inner.html
	<div class="wrapper_content page_models not_front">
		<div class="middle clearfix container-fluid">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
				</div>
				<h1 class="page_title">International Models</h1>
				<div class="top_text">
					<p>DIva is the top Dubai-based model agency that specializes in International male models and female models, child models, cast, actors, talent. </p>
					<p>We've been servind Dubai, Daha, Kuwait, Saudi, Oman and Behrain Since 2003. With almost 2000 + registered models and having serviced the best clients, Diva has become the most sought after modeling agency </p>
					<p>in the middle east. </p>
				</div>
			</div>
			<div class="filter_wrapper">
				<div class="row">
					<div class="male_filter col-sm-12 col-lg-10">
						<ul>
							<li><a href="#">Female Models</a></li>
							<li><a href="#">Male Models</a></li>
							<li><a href="#">Boy Models</a></li>
							<li><a href="#">Girl Models</a></li>
							<li><a class="active" href="#">All Models</a></li>
						</ul>
					</div>
					<div class="parameters_wrap col-sm-12 col-lg-2">
						<div class="parameters_btn">Show parameters</div>
						<div class="all_parameters">
							<form action="#">
								<div class="col_group clearfix">
									<div class="form_col">
										<div class="form-group">
											<label class="main_label">Name</label>
											<input type="text" class="form-control form_text">
										</div>
										<div class="form-group clearfix">
											<label class="main_label">Ethnicity</label>
											<div class="field">
												<div class="form_checkboxes">
													<div class="form_checkbox">
														<input type="checkbox" name="african" id="african">
														<label for="african">African</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="arabic" id="arabic">
														<label for="arabic">Arabic</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="european" id="european">
														<label for="european">European</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="mediterranean" id="mediterranean">
														<label for="mediterranean">Mediterranean</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="oriental" id="oriental">
														<label for="oriental">Oriental</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="indian" id="indian">
														<label for="indian">Indian</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form_col">
										<div class="form-group clearfix">
											<label class="main_label">Category</label>
											<div class="field">
												<div class="form_checkboxes">
													<div class="form_checkbox">
														<input type="checkbox" name="celebrity" id="celebrity">
														<label for="celebrity">Celebrity</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="directbooking" id="directbooking">
														<label for="directbooking">Direct Booking</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="inter" id="inter">
														<label for="inter">International</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="model1" id="model1">
														<label for="model1">Model 1</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="model2" id="model2">
														<label for="model2">Model 2</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="newface" id="newface">
														<label for="newface">New Face</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="outoft	own" id="outoftown">
														<label for="outoftown">Out of Town</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="portfolio" id="portfolio">
														<label for="portfolio">Portfolio</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form_col">
										<div class="form-group clearfix">
											<label class="main_label">Specialization</label>
											<div class="field">
												<div class="form_checkboxes">
													<div class="form_checkbox">
														<input type="checkbox" name="actor" id="actor">
														<label for="actor">Actor</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="fashion" id="fashion">
														<label for="fashion">Fashion Shows</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="handsfeet" id="handsfeet">
														<label for="handsfeet">Hands/Feet</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="host" id="host">
														<label for="host">Host</label>
													</div>
													<div class="form_checkbox">
														<input type="checkbox" name="mc" id="mc">
														<label for="mc">MC</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form_col submit_col">
										<div class="form_actions clearfix">
											<input type="submit" class="btn btn-default" value="Search">
											<a href="#" class="close_form">Close parameters</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="view_models">
				<div class="view_content">
					<div class="row">
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	     						<div class="col_content">
									<div class="image"><a href="#"><img src="/images/model_1.png" alt="**.Atilio"></a></div>
									<div class="name"><a href="#">**.Atilio</a></div>
	                         	</div>
							</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model4_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model5_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_6.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_7.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_8.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_1.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model4_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model5_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_6.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_7.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_8.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_1.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model4_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_1.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model4_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model5_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_6.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_7.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_8.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_1.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/model4_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
