//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content page_news not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">News&Blogs</span>
				</div>
				<h1 class="page_title">News & Blogs</h1>
			</div>
			<div class="view_news clearfix">
				<div class="view_content col-sm-8">
					<div class="view_row">
						<div class="image"><a href="#"><img src="../images/news_1.jpg" alt=""></a></div>
						<div class="date">By Admin on Sep 19, 2017</div>
						<div class="title"><a href="#">REESE WITHERSPOON WORE A BLAZER AS A DRESS ON THE EMMYS RED CARPET</a></div>
						<div class="description">
							<p>This year's Emmys red carpet did not disappoint. From Millie Bobby Brown's stunning ballerina-inspired gown to Zoë Kravitz's rainbow-colored dress, see all the best red carpet looks here.</p>

							<p>Among the all-star cast of Big Little Lies, it was Reese Witherspoon's look that had us all nodding in approval as she arrived at the award show. She broke with the unofficial tradition of wearing a floor-length gown during award show appearances (especially when appearing as the nominee of the most highly nominated show this year) and instead wore a sharp Stella McCartney blazer as a dress.</p>

							<p>The actress's navy satin jacket was impeccably tailored and complemented her straight platinum locks, and Reese made us forget about every other ball gown we saw tonight when she paired the blazer with matching stilettos.</p>

							<p>On Reese Witherspoon: Stella McCartney Bespoke Prussian Blue Duchess Silk Double Breasted Tuxedo Dress and David Webb jewelry.</p>
						</div>
					</div>
				</div>
				<div class="view_sidebar col-sm-4">
					<div class="block_popular block">
						<div class="block_title">Popular posts</div>
						<div class="block_content">
							<div class="view_row">
								<div class="image"><a href="#"><img src="../images/news_min_1.jpg" alt=""></a></div>
								<div class="title_wrap">
									<div class="title"><a href="#">CHRIS ROCK IS COMING TO DUBAI</a></div>
									<div class="description">Lauded by peers and critics alike, Chris Rock is one of our generation's strongest comedic voices. As an actor, director, producer and writer he has created many memorable moments.</div>
								</div>
							</div>
							<div class="view_row">
								<div class="image"><a href="#"><img src="../images/news_min_2.jpg" alt=""></a></div>
								<div class="title_wrap">
									<div class="title"><a href="#">VENICE FILM FESTIVAL: THE SHAPE OF WATER WINS THE GOLDEN LION</a></div>
									<div class="description">A film about a mute cleaning lady who falls in love with a merman has won the Golden Lion at the Venice International Film Festival</div>
								</div>
							</div>
							<div class="view_row">
								<div class="image"><a href="#"><img src="../images/news_min_1.jpg" alt=""></a></div>
								<div class="title_wrap">
									<div class="title"><a href="#">VENICE FILM FESTIVAL: THE SHAPE OF WATER WINS THE GOLDEN LION</a></div>
									<div class="description">Lauded by peers and critics alike, Chris Rock is one of our generation's strongest comedic voices. As an actor, director, producer and writer he has created many memorable moments.</div>
								</div>
							</div>
							<div class="view_row">
								<div class="image"><a href="#"><img src="../images/news_min_2.jpg" alt=""></a></div>
								<div class="title_wrap">
									<div class="title"><a href="#">CHRIS ROCK IS COMING TO DUBAI</a></div>
									<div class="description">A film about a mute cleaning lady who falls in love with a merman has won the Golden Lion at the Venice International Film Festival</div>
								</div>
							</div>
						</div>
					</div>
					<div class="block_recent block">
						<div class="block_title">Recent posts</div>
						<div class="block_content">
							<div class="view_row">
								<div class="title"><a href="#">Golden Lion at the Venice
							</a></div>
								<div class="date">Sep 19, 2017</div>
							</div>
							<div class="view_row">
								<div class="title"><a href="#">Golden Lion at the Venice
							</a></div>
								<div class="date">Sep 19, 2017</div>
							</div>
							<div class="view_row">
								<div class="title"><a href="#">Golden Lion at the Venice
							</a></div>
								<div class="date">Sep 19, 2017</div>
							</div>
							<div class="view_row">
								<div class="title"><a href="#">Golden Lion at the Venice
							</a></div>
								<div class="date">Sep 19, 2017</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
