//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content page_office not_front">
		<div class="middle clearfix container-fluid">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Office</span>
				</div>
				<div class="page_arrows_wrap clearfix">
					<div class="page_arr prev_arr">Prev</div>
					<div class="page_arr next_arr">Next</div>
				</div>
				<h1 class="page_title">Office Images</h1>
			</div>
			<div class="view_office">
				<div class="view_content">
					<div class="image"><a href="#"><img src="../images/office_1.jpg" alt=""></a></div>
					<div class="image"><a href="#"><img src="../images/office_2.jpg" alt=""></a></div>
					<div class="image"><a href="#"><img src="../images/office_3.jpg" alt=""></a></div>
					<div class="image"><a href="#"><img src="../images/office_4.png" alt=""></a></div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
