//= templates/head.html
<div class="wrapper front">
	//= templates/header_inner.html
	<div class="wrapper_content page_models not_front">
		<div class="middle clearfix container-fluid">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
				</div>
				<h1 class="page_title">Our work</h1>
			</div>
			<div class="filter_wrapper">
				<div class="row">
					<div class="male_filter col-sm-12 col-lg-10">
						<ul>
							<li><a class="active" href="#">Our works</a></li>
						</ul>
					</div>
					<div class="parameters_wrap col-sm-12 col-lg-2">
						<div class="parameters_btn">Show parameters</div>
					</div>
				</div>
			</div>
			<div class="view_models">
				<div class="view_content">
					<div class="row">
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	     						<div class="col_content">
									<div class="image"><a href="#"><img src="/images/work_1.png" alt="**.Atilio"></a></div>
									<div class="name"><a href="#">**.Atilio</a></div>
	                         	</div>
							</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_4.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_5.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_6.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_7.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_8.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_1.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_4.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_5.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_6.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_7.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_8.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_1.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_4.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_1.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
	 						<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_4.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_5.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_6.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_7.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_8.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_1.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_2.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_3.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
						<div class="col col-xs-6 col-sm-2 col-lg-2 col-xl-8 col-xxl-10">
							<div class="col_content">
								<div class="image"><a href="#"><img src="/images/work_4.png" alt="**.Atilio"></a></div>
								<div class="name"><a href="#">**.Atilio</a></div>
	                     	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
