//= templates/head.html
<div class="wrapper front">
	//= templates/header_inner.html
	<div class="wrapper_content page_models page_photographers not_front">
		<div class="middle clearfix container-fluid">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
				</div>
				<h1 class="page_title">Our work</h1>
			</div>
			<div class="filter_wrapper">
				<div class="row">
					<div class="male_filter col-sm-12 col-lg-10">
						<ul>
							<li><a class="active" href="#">Our works</a></li>
						</ul>
					</div>
					<div class="parameters_wrap col-sm-12 col-lg-2"> 
						<div class="parameters_btn">Show parameters</div>
					</div>
				</div>
			</div>
			<div class="view_photographers view_models">
				<div class="view_content">
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_1.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_2.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_3.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_4.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_5.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_6.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_7.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_8.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_9.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_10.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_11.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_12.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_13.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_14.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_15.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_16.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_17.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_18.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_19.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_20.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_21.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_22.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_23.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_24.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_25.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_26.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_1.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_2.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_3.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_4.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_5.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_6.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_7.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_8.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_9.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_10.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_11.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_12.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_13.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_14.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div><div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_5.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_6.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_7.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_8.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_9.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_10.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_11.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_12.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_13.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_14.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_15.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_16.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_17.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_18.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_19.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_20.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_21.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_22.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_23.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_24.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_25.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_26.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_1.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_22.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_23.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
					<div class="col">
 						<div class="col_content">
							<div class="image"><a href="#"><img src="/images/photo_24.png" alt="**.Atilio"></a></div>
							<div class="name"><a href="#">**.Atilio</a></div>
                     	</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
//= templates/footer.html
