//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content page_category page_events not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Diva Production</span>
				</div>
				<h1 class="page_title">Diva Production</h1>
			</div>
			<div class="view_category view_events view_production">
				<div class="view_header clearfix">
					<p class="first_paragraph">Diva works with the top local and international photographers in and around the region to guarantee the finest results. Photo shoots are all about the allure and our well co-ordinated production team puts that together for you and for your brand image. A successful photo shoot entails upfront business considerations, creative concepting, meticulous planning and flawless execution.</p>
					<div class="col col-sm-5">
						<blockquote>
							We work together to refine the talent needs and project plan to meet your timeline.
						</blockquote>		
					</div>
					<div class="col col-sm-6 col-sm-offset-1 main_text">
						To capture the images that reinforce your brand and do it in your countries of your target markets require creative directions, a seasoned production team and talented photographers. Our seasoned producers work for you - casting the right talents, scouting possible set locations securing the right permits/model releases and project planning the shoot.
					</div>
					<p class="last_paragraph">To capture the images that reinforce your brand and do it in your countries of your target markets require creative directions, a seasoned production team and talented photographers. Our seasoned producers work for you - casting the right talents, scouting possible set locations securing the right permits/model releases and project planning the shoot.</p>
				</div>
				<div class="view_content">
					<div class="row">
						<div class="col col-xs-12 col-sm-6 col-md-3">
							<div class="image"><a href="#"><img src="/images/production_1.png" alt=""></a></div>
							<div class="title"><a href="#">Photography</a></div>
						</div>
						<div class="col col-xs-12 col-sm-6 col-md-3">
							<div class="image"><a href="#"><img src="/images/production_2.png" alt=""></a></div>
							<div class="title"><a href="#">Directors</a></div>
						</div>
						<div class="col col-xs-12 col-sm-6 col-md-3">
							<div class="image"><a href="#"><img src="/images/production_3.png" alt=""></a></div>
							<div class="title"><a href="#">Locations</a></div>
						</div>
						<div class="col col-xs-12 col-sm-6 col-md-3">
							<div class="image"><a href="#"><img src="../images/production_4.png" alt=""></a></div>
							<div class="title"><a href="#">Stylists</a></div>
						</div>
						<div class="col col-xs-12 col-sm-6 col-md-3">
							<div class="image"><a href="#"><img src="../images/production_5.png" alt=""></a></div>
							<div class="title"><a href="#">Post Production</a></div>
						</div>
						<div class="col col-xs-12 col-sm-6 col-md-3">
							<div class="image"><a href="#"><img src="../images/production_6.png" alt=""></a></div>
							<div class="title"><a href="#">Cast</a></div>
						</div>
						<div class="col col-xs-12 col-sm-6 col-md-3">
							<div class="image"><a href="#"><img src="../images/production_7.png" alt=""></a></div>
							<div class="title"><a href="#">Permits</a></div>	
						</div>
						<div class="col col-xs-12 col-sm-6 col-md-3">
							<div class="image"><a href="#"><img src="../images/production_8.png" alt=""></a></div>
							<div class="title"><a href="#">Production</a></div>
						</div>
					</div>
					<div class="description">
						<p>Our seasoned producers work for you - casting the right talents, scouting possible set locations 
							Securing the right permits, model releases and project planning and shoot. We work together to refine the talent needs and project plan to meet your timeline. We work with you to ensure the defined creative and production.</p>
						<p>Our specialities are full service production House. Print and Still Shoot Production. TV commercial and line production, Talent Sourcing, and Management. Location Scouting, Casting Equipment, Crew, 360-degree Solutions, staging, AV, audio visual and logistics and post production services. International, Model casting & Production Agency Casting Agency Talent Management, Fashion Show, Shoot Coordination, Still production, line production, TV Commericials, Location Permissions, Production House in Dubai UAE is Diva Models</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
