//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content page_profile not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Profile</span>
				</div>
				<h1 class="page_title">Dashboard</h1>
			</div>
			<div class="view_profile clearfix">
				<div class="view_header">
					<form action="#" calss="form-inline">
						<div class="form-group clearfix">
							<input type="submit" class="form_submit" value="Search">
							<input type="text" class="form-control form_text" placeholder="Search...">
							<div class="select_form">
								<label>Show</label>
								<select name="show">
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="30">30</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="view_content">
					<div class="profile_table">
						<table>
							<thead>
								<tr>
									<th>Type</th>
									<th>ID</th>
									<th>Image</th>
									<th>Name</th>
									<th>Age</th>
									<th>Mobile</th>
									<th>Email</th>
									<th>Nationality</th>
									<th>Modify</th>
									<th>Status</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Model Form</td>
									<td>123456</td>
									<td><a href="#"><img src="../images/profile_1.png" alt=""></a></td>
									<td><a href="#">Anna</a></td>
									<td>28 (1989-02-03)</td>
									<td><a href="tel:+380123456789">+38 012 345 67 89</a></td>
									<td><a href="mailto:mail@gmail.com">mail@gmail.com</a></td>
									<td>Ukraine</td>
									<td><a href="#">Edit Profile</a></td>
									<td>Under Review</td>
									<td><a class="delete_profile" href="#">Delete</a></td>
								</tr>
								<tr>
									<td>Model Form</td>
									<td>123456</td>
									<td><a href="#"><img src="../images/profile_2.png" alt=""></a></td>
									<td><a href="#">Anna</a></td>
									<td>28 (1989-02-03)</td>
									<td><a href="tel:+380123456789">+38 012 345 67 89</a></td>
									<td><a href="mailto:mail@gmail.com">mail@gmail.com</a></td>
									<td>Ukraine</td>
									<td><a href="#">Edit Profile</a></td>
									<td>Rejected</td>
									<td><a class="delete_profile" href="#">Delete</a></td>
								</tr>
								<tr>
									<td>Promoter</td>
									<td>123456</td>
									<td><a href="#"><img src="../images/profile_3.png" alt=""></a></td>
									<td><a href="#">Anna</a></td>
									<td>28 (1989-02-03)</td>
									<td><a href="tel:+380123456789">+38 012 345 67 89</a></td>
									<td><a href="mailto:mail@gmail.com">mail@gmail.com</a></td>
									<td>Ukraine</td>
									<td><a href="#">Edit Profile</a></td>
									<td>Approved</td>
									<td><a class="delete_profile" href="#">Delete</a></td>
								</tr>
								<tr>
									<td>Cast</td>
									<td>123456</td>
									<td><a href="#"><img src="../images/profile_4.png" alt=""></a></td>
									<td><a href="#">Anna</a></td>
									<td>28 (1989-02-03)</td>
									<td><a href="tel:+380123456789">+38 012 345 67 89</a></td>
									<td><a href="mailto:mail@gmail.com">mail@gmail.com</a></td>
									<td>Ukraine</td>
									<td><a href="#">Edit Profile</a></td>
									<td>Approved</td>
									<td><a class="delete_profile" href="#">Delete</a></td>
								</tr>
								<tr>
									<td>Photographer</td>
									<td>123456</td>
									<td><a href="#"><img src="../images/profile_5.png" alt=""></a></td>
									<td><a href="#">Anna</a></td>
									<td>28 (1989-02-03)</td>
									<td><a href="tel:+380123456789">+38 012 345 67 89</a></td>
									<td><a href="mailto:mail@gmail.com">mail@gmail.com</a></td>
									<td>Ukraine</td>
									<td><a href="#">Edit Profile</a></td>
									<td>Approved</td>
									<td><a class="delete_profile" href="#">Delete</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
