//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Public Relations</span>
				</div>
				<h1 class="page_title">Public Relations</h1>
			</div>
			<div class="view_public clearfix">
				<div class="view_content">
					<p>Diva PR is a full service communications department . We are specialized in connecting our luxury clients goals and mission to their target audience in the region. May it be with Influencers, digital marketing or just print media, events Diva is your one stop shop for all PR requirements and needs. We can assist you with social media management, social media campaigns, event management, digital marketing, traditional media, consultancy , Photography and videography, website development, animation or just branding and Graphic design.</p>
						<div class="photos_wrap">
							<div class="item item_1"><img src="../images/public_1.png" alt=""></div>
							<div class="item item_2"><img src="../images/public_2.png" alt=""></div>
							<div class="item item_3"><img src="../images/public_3.png" alt=""></div>
							<div class="item item_4"><img src="../images/public_4.png" alt=""></div>
						</div>
					<p>We plan, implement and use strategic methods to market your brand and product. Being the mother of most local and international celebrities in the region we can help you with celebrity endorsements. We believe that each and every client has their own vision of how it should be done- we listen and understand your product and requirement. </p>
					 <p>Unique to the region Diva communications provides effective communication strategies who are looking to raise the brand awareness and image in the middle east- UAE Dubai Ranging from Fashion, beauty, lifestyle PR Diva helps with developing the brands image, Understanding your customer, tackle both traditional PR and digital marketing , work your way through media and blogger communication/relation.</p>
					<p>Let Diva be your partners for your next event or for your retainer relationship .</p>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
