//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content page_register not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Registration</span>
				</div>
				<h1 class="page_title">Registration</h1>
			</div>
			<div class="register_wrap">
				<form action="#" role="form">
					<!-- <div class="container"> -->
						<div class="form_wrap">
							<div class="form_title">Personal info</div>
							<div class="form_content">
								<div class="form-group field_select clearfix">
									<label class="main_label col-md-2">Main category</label>
									<div class="field col-sm-9 col-md-10">
										<select>
											<option value="Model">Model</option>
											<option value="Model2">Model2</option>
											<option value="Model3">Model3</option>
										</select>
									</div>
								</div>
								<div class="form-group field_name clearfix">
									<label class="main_label col-md-2">Name *</label>
									<div class="field col-sm-9 col-md-10">
										<input type="text" class="form_text form-control" placeholder="First Name" required>
										<input type="text" class="form_text form-control" placeholder="Last Name" required>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="main_label col-md-2">Gender *</label>
									<div class="field col-sm-9 col-md-10">
										<div class="form_checkboxes">
											<div class="form_checkbox">
												<input type="checkbox" name="male" id="male">
												<label for="male">Male</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="female" id="female">
												<label for="female">Female</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="boy" id="boy">
												<label for="boy">Boy</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="girl" id="girl">
												<label for="girl">Girl</label>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group field_birth clearfix">
									<label class="main_label col-md-2">Date of Birth *</label>
									<div class="field col-sm-9 col-md-10">
										<input type="text" class="form_text form-control" placeholder="mm/dd/yy" required>
									</div>
								</div>
								<div class="form-group field-userinfo-phone required">
									<label class="control-label main_label col-md-2" for="userinfo-phone">Mobile No. *</label>
									<div class="input-group field col-md-10">
										<span class="input-group-btn">
											<div class="form-group field-userinfo-prepend_phone required">
											<label class="control-label" for="userinfo-prepend_phone">Prepend Phone</label>
											<select id="userinfo-prepend_phone" class="form-control" name="UserInfo[prepend_phone]" aria-required="true">
												<option value=""></option>
												<option value="1">+1</option>
												<option value="7">+7</option>
												<option value="20">+20</option>
												<option value="27">+27</option>
												<option value="30">+30</option>
												<option value="31">+31</option>
												<option value="32">+32</option>
												<option value="33">+33</option>
												<option value="34">+34</option>
												<option value="36">+36</option>
												<option value="39">+39</option>
												<option value="40">+40</option>
												<option value="41">+41</option>
												<option value="42">+42</option>
												<option value="43">+43</option>
												<option value="44">+44</option>
												<option value="45">+45</option>
												<option value="46">+46</option>
												<option value="47">+47</option>
												<option value="48">+48</option>
												<option value="49">+49</option>
												<option value="51">+51</option>
												<option value="52">+52</option>
												<option value="53">+53</option>
												<option value="54">+54</option>
												<option value="55">+55</option>
												<option value="56">+56</option>
												<option value="57">+57</option>
												<option value="58">+58</option>
												<option value="60">+60</option>
												<option value="61">+61</option>
												<option value="62">+62</option>
												<option value="63">+63</option>
												<option value="64">+64</option>
												<option value="65">+65</option>
												<option value="66">+66</option>
												<option value="81">+81</option>
												<option value="82">+82</option>
												<option value="84">+84</option>
												<option value="86">+86</option>
												<option value="90">+90</option>
												<option value="91">+91</option>
												<option value="94">+94</option>
												<option value="98">+98</option>
												<option value="212">+212</option>
												<option value="213">+213</option>
												<option value="216">+216</option>
												<option value="218">+218</option>
												<option value="220">+220</option>
												<option value="221">+221</option>
												<option value="222">+222</option>
												<option value="223">+223</option>
												<option value="224">+224</option>
												<option value="226">+226</option>
												<option value="227">+227</option>
												<option value="228">+228</option>
												<option value="229">+229</option>
												<option value="231">+231</option>
												<option value="232">+232</option>
												<option value="233">+233</option>
												<option value="234">+234</option>
												<option value="236">+236</option>
												<option value="237">+237</option>
												<option value="238">+238</option>
												<option value="239">+239</option>
												<option value="240">+240</option>
												<option value="241">+241</option>
												<option value="242">+242</option>
												<option value="244">+244</option>
												<option value="245">+245</option>
												<option value="249">+249</option>
												<option value="250">+250</option>
												<option value="251">+251</option>
												<option value="252">+252</option>
												<option value="253">+253</option>
												<option value="254">+254</option>
												<option value="256">+256</option>
												<option value="257">+257</option>
												<option value="258">+258</option>
												<option value="260">+260</option>
												<option value="261">+261</option>
												<option value="262">+262</option>
												<option value="263">+263</option>
												<option value="264">+264</option>
												<option value="265">+265</option>
												<option value="266">+266</option>
												<option value="267">+267</option>
												<option value="268">+268</option>
												<option value="269">+269</option>
												<option value="290">+290</option>
												<option value="291">+291</option>
												<option value="297">+297</option>
												<option value="298">+298</option>
												<option value="299">+299</option>
												<option value="350">+350</option>
												<option value="351">+351</option>
												<option value="352">+352</option>
												<option value="353">+353</option>
												<option value="354">+354</option>
												<option value="356">+356</option>
												<option value="358">+358</option>
												<option value="359">+359</option>
												<option value="370">+370</option>
												<option value="371">+371</option>
												<option value="372">+372</option>
												<option value="373">+373</option>
												<option value="374">+374</option>
												<option value="375">+375</option>
												<option value="376">+376</option>
												<option value="377">+377</option>
												<option value="378">+378</option>
												<option value="379">+379</option>
												<option value="380">+380</option>
												<option value="385">+385</option>
												<option value="387">+387</option>
												<option value="389">+389</option>
												<option value="417">+417</option>
												<option value="421">+421</option>
												<option value="500">+500</option>
												<option value="501">+501</option>
												<option value="502">+502</option>
												<option value="503">+503</option>
												<option value="504">+504</option>
												<option value="505">+505</option>
												<option value="506">+506</option>
												<option value="507">+507</option>
												<option value="509">+509</option>
												<option value="590">+590</option>
												<option value="591">+591</option>
												<option value="592">+592</option>
												<option value="593">+593</option>
												<option value="594">+594</option>
												<option value="595">+595</option>
												<option value="596">+596</option>
												<option value="597">+597</option>
												<option value="598">+598</option>
												<option value="671">+671</option>
												<option value="672">+672</option>
												<option value="673">+673</option>
												<option value="674">+674</option>
												<option value="675">+675</option>
												<option value="676">+676</option>
												<option value="677">+677</option>
												<option value="678">+678</option>
												<option value="679">+679</option>
												<option value="680">+680</option>
												<option value="681">+681</option>
												<option value="682">+682</option>
												<option value="683">+683</option>
												<option value="686">+686</option>
												<option value="687">+687</option>
												<option value="688">+688</option>
												<option value="689">+689</option>
												<option value="691">+691</option>
												<option value="692">+692</option>
												<option value="850">+850</option>
												<option value="852">+852</option>
												<option value="853">+853</option>
												<option value="855">+855</option>
												<option value="856">+856</option>
												<option value="880">+880</option>
												<option value="886">+886</option>
												<option value="960">+960</option>
												<option value="961">+961</option>
												<option value="962">+962</option>
												<option value="963">+963</option>
												<option value="964">+964</option>
												<option value="965">+965</option>
												<option value="966">+966</option>
												<option value="968">+968</option>
												<option value="969">+969</option>
												<option value="971" selected>+971</option>
												<option value="972">+972</option>
												<option value="973">+973</option>
												<option value="974">+974</option>
												<option value="975">+975</option>
												<option value="976">+976</option>
												<option value="977">+977</option>
												<option value="993">+993</option>
												<option value="994">+994</option>
												<option value="996">+996</option>
												<option value="1242">+1242</option>
												<option value="1246">+1246</option>
												<option value="1264">+1264</option>
												<option value="1268">+1268</option>
												<option value="1284">+1284</option>
												<option value="1340">+1340</option>
												<option value="1345">+1345</option>
												<option value="1441">+1441</option>
												<option value="1473">+1473</option>
												<option value="1649">+1649</option>
												<option value="1664">+1664</option>
												<option value="1758">+1758</option>
												<option value="1787">+1787</option>
												<option value="1809">+1809</option>
												<option value="1868">+1868</option>
												<option value="1869">+1869</option>
												<option value="1876">+1876</option>
												<option value="7880">+7880</option>
												<option value="90392">+90392</option>
											</select>
											<div class="help-block"></div>
											</div>
										</span>
								    <input type="text" id="userinfo-phone" class="form-control form_text" name="UserInfo[phone]" value="" aria-required="true">
									</div>
									<div class="help-block"></div>
								</div>
								<div class="form-group field-userinfo-phone">
									<label class="control-label main_label col-md-2" for="userinfo-phone">Alternate No.</label>
									<div class="input-group field col-md-10">
										<span class="input-group-btn">
											<div class="form-group field-userinfo-prepend_phone required">
											<label class="control-label" for="userinfo-prepend_phone">Prepend Phone</label>
											<select id="userinfo-prepend_phone" class="form-control" name="UserInfo[prepend_phone]" aria-required="true">
												<option value=""></option>
												<option value="1">+1</option>
												<option value="7">+7</option>
												<option value="20">+20</option>
												<option value="27">+27</option>
												<option value="30">+30</option>
												<option value="31">+31</option>
												<option value="32">+32</option>
												<option value="33">+33</option>
												<option value="34">+34</option>
												<option value="36">+36</option>
												<option value="39">+39</option>
												<option value="40">+40</option>
												<option value="41">+41</option>
												<option value="42">+42</option>
												<option value="43">+43</option>
												<option value="44">+44</option>
												<option value="45">+45</option>
												<option value="46">+46</option>
												<option value="47">+47</option>
												<option value="48">+48</option>
												<option value="49">+49</option>
												<option value="51">+51</option>
												<option value="52">+52</option>
												<option value="53">+53</option>
												<option value="54">+54</option>
												<option value="55">+55</option>
												<option value="56">+56</option>
												<option value="57">+57</option>
												<option value="58">+58</option>
												<option value="60">+60</option>
												<option value="61">+61</option>
												<option value="62">+62</option>
												<option value="63">+63</option>
												<option value="64">+64</option>
												<option value="65">+65</option>
												<option value="66">+66</option>
												<option value="81">+81</option>
												<option value="82">+82</option>
												<option value="84">+84</option>
												<option value="86">+86</option>
												<option value="90">+90</option>
												<option value="91">+91</option>
												<option value="94">+94</option>
												<option value="98">+98</option>
												<option value="212">+212</option>
												<option value="213">+213</option>
												<option value="216">+216</option>
												<option value="218">+218</option>
												<option value="220">+220</option>
												<option value="221">+221</option>
												<option value="222">+222</option>
												<option value="223">+223</option>
												<option value="224">+224</option>
												<option value="226">+226</option>
												<option value="227">+227</option>
												<option value="228">+228</option>
												<option value="229">+229</option>
												<option value="231">+231</option>
												<option value="232">+232</option>
												<option value="233">+233</option>
												<option value="234">+234</option>
												<option value="236">+236</option>
												<option value="237">+237</option>
												<option value="238">+238</option>
												<option value="239">+239</option>
												<option value="240">+240</option>
												<option value="241">+241</option>
												<option value="242">+242</option>
												<option value="244">+244</option>
												<option value="245">+245</option>
												<option value="249">+249</option>
												<option value="250">+250</option>
												<option value="251">+251</option>
												<option value="252">+252</option>
												<option value="253">+253</option>
												<option value="254">+254</option>
												<option value="256">+256</option>
												<option value="257">+257</option>
												<option value="258">+258</option>
												<option value="260">+260</option>
												<option value="261">+261</option>
												<option value="262">+262</option>
												<option value="263">+263</option>
												<option value="264">+264</option>
												<option value="265">+265</option>
												<option value="266">+266</option>
												<option value="267">+267</option>
												<option value="268">+268</option>
												<option value="269">+269</option>
												<option value="290">+290</option>
												<option value="291">+291</option>
												<option value="297">+297</option>
												<option value="298">+298</option>
												<option value="299">+299</option>
												<option value="350">+350</option>
												<option value="351">+351</option>
												<option value="352">+352</option>
												<option value="353">+353</option>
												<option value="354">+354</option>
												<option value="356">+356</option>
												<option value="358">+358</option>
												<option value="359">+359</option>
												<option value="370">+370</option>
												<option value="371">+371</option>
												<option value="372">+372</option>
												<option value="373">+373</option>
												<option value="374">+374</option>
												<option value="375">+375</option>
												<option value="376">+376</option>
												<option value="377">+377</option>
												<option value="378">+378</option>
												<option value="379">+379</option>
												<option value="380">+380</option>
												<option value="385">+385</option>
												<option value="387">+387</option>
												<option value="389">+389</option>
												<option value="417">+417</option>
												<option value="421">+421</option>
												<option value="500">+500</option>
												<option value="501">+501</option>
												<option value="502">+502</option>
												<option value="503">+503</option>
												<option value="504">+504</option>
												<option value="505">+505</option>
												<option value="506">+506</option>
												<option value="507">+507</option>
												<option value="509">+509</option>
												<option value="590">+590</option>
												<option value="591">+591</option>
												<option value="592">+592</option>
												<option value="593">+593</option>
												<option value="594">+594</option>
												<option value="595">+595</option>
												<option value="596">+596</option>
												<option value="597">+597</option>
												<option value="598">+598</option>
												<option value="671">+671</option>
												<option value="672">+672</option>
												<option value="673">+673</option>
												<option value="674">+674</option>
												<option value="675">+675</option>
												<option value="676">+676</option>
												<option value="677">+677</option>
												<option value="678">+678</option>
												<option value="679">+679</option>
												<option value="680">+680</option>
												<option value="681">+681</option>
												<option value="682">+682</option>
												<option value="683">+683</option>
												<option value="686">+686</option>
												<option value="687">+687</option>
												<option value="688">+688</option>
												<option value="689">+689</option>
												<option value="691">+691</option>
												<option value="692">+692</option>
												<option value="850">+850</option>
												<option value="852">+852</option>
												<option value="853">+853</option>
												<option value="855">+855</option>
												<option value="856">+856</option>
												<option value="880">+880</option>
												<option value="886">+886</option>
												<option value="960">+960</option>
												<option value="961">+961</option>
												<option value="962">+962</option>
												<option value="963">+963</option>
												<option value="964">+964</option>
												<option value="965">+965</option>
												<option value="966">+966</option>
												<option value="968">+968</option>
												<option value="969">+969</option>
												<option value="971" selected>+971</option>
												<option value="972">+972</option>
												<option value="973">+973</option>
												<option value="974">+974</option>
												<option value="975">+975</option>
												<option value="976">+976</option>
												<option value="977">+977</option>
												<option value="993">+993</option>
												<option value="994">+994</option>
												<option value="996">+996</option>
												<option value="1242">+1242</option>
												<option value="1246">+1246</option>
												<option value="1264">+1264</option>
												<option value="1268">+1268</option>
												<option value="1284">+1284</option>
												<option value="1340">+1340</option>
												<option value="1345">+1345</option>
												<option value="1441">+1441</option>
												<option value="1473">+1473</option>
												<option value="1649">+1649</option>
												<option value="1664">+1664</option>
												<option value="1758">+1758</option>
												<option value="1787">+1787</option>
												<option value="1809">+1809</option>
												<option value="1868">+1868</option>
												<option value="1869">+1869</option>
												<option value="1876">+1876</option>
												<option value="7880">+7880</option>
												<option value="90392">+90392</option>
											</select>
											<div class="help-block"></div>
											</div>
										</span>
								    <input type="text" id="userinfo-phone" class="form-control form_text" name="UserInfo[phone]" value="" aria-required="true">
									</div>
									<div class="help-block"></div>
								</div>
								<div class="form-group clearfix">
									<label class="main_label col-md-2">Email *</label>
									<div class="field col-sm-9 col-md-10">
										<input type="email" class="form_text form-control" required>
									</div>
								</div>
								<div class="form-group field_address clearfix">
									<label class="main_label col-md-2">Address *</label>
									<div class="field col-sm-9 col-md-10">
										<input type="text" class="form_text form-control" required>
									</div>
								</div>
								<div class="form-group field_select clearfix">
									<label class="main_label col-md-2">Nationality *</label>
									<div class="field col-sm-9 col-md-10">
										<select>
											<option value="Model">Select...</option>
											<option value="Model2">Nationality1</option>
											<option value="Model3">Nationality2</option>
										</select>
									</div>
								</div>
								<div class="form-group field_select clearfix">
									<label class="main_label col-md-2">Country *</label>
									<div class="field col-sm-9 col-md-10">
										<select>
											<option value="Model">Select...</option>
											<option value="Model2">Country1</option>
											<option value="Model3">Country2</option>
										</select>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="main_label col-md-2">City *</label>
									<div class="field col-sm-9 col-md-10">
										<div class="form_checkboxes">
											<div class="form_checkbox">
												<input type="checkbox" name="abudhabi" id="abudhabi">
												<label for="abudhabi">Abu Dhabi</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="ajman" id="ajman">
												<label for="ajman">Ajman</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="dubai" id="dubai">
												<label for="dubai">Dubai</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="rasalkhaimah" id="rasalkhaimah">
												<label for="rasalkhaimah">Ras Al Khaimah</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="sharjah" id="sharjah">
												<label for="sharjah">Sharjah</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="others" id="others">
												<label for="others">Others</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form_wrap">
							<div class="form_title">Basic specifications</div>
							<div class="form_content">
								<div class="form-group clearfix">
									<label class="main_label col-md-2">Ethnicity *</label>
									<div class="field col-sm-9 col-md-10">
										<div class="form_checkboxes">
											<div class="form_checkbox">
												<input type="checkbox" name="african" id="african">
												<label for="african">African</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="arabic" id="arabic">
												<label for="arabic">Arabic</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="european" id="european">
												<label for="european">European</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="indian" id="indian">
												<label for="indian">Indian</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="mediterranean" id="mediterranean">
												<label for="mediterranean">Mediterranean</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="oriental" id="oriental">
												<label for="oriental">Oriental</label>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group field_select clearfix">
									<label class="main_label col-md-2">Height, <sub>cms</sub></label>
									<div class="field col-sm-9 col-md-10">
										<select>
											<option value="Model">Select...</option>
											<option value="Model2">Model2</option>
											<option value="Model3">Model3</option>
										</select>
									</div>
								</div>
								<div class="form-group field_select clearfix">
									<label class="main_label col-md-2">Weight, <sub>cms</sub></label>
									<div class="field col-sm-9 col-md-10">
										<select>
											<option value="Model">Select...</option>
											<option value="Model2">Model2</option>
											<option value="Model3">Model3</option>
										</select>
									</div>
								</div>
								<div class="form-group field_select clearfix">
									<label class="main_label col-md-2">Collar, <sub>cms</sub></label>
									<div class="field col-sm-9 col-md-10">
										<select>
											<option value="Model">Select...</option>
											<option value="Model2">Model2</option>
											<option value="Model3">Model3</option>
										</select>
									</div>
								</div>
								<div class="form-group field_select clearfix">
									<label class="main_label col-md-2">Bust/Chest, <sub>cms</sub></label>
									<div class="field col-sm-9 col-md-10">
										<select>
											<option value="Model">Select...</option>
											<option value="Model2">Model2</option>
											<option value="Model3">Model3</option>
										</select>
									</div>
								</div>
								<div class="form-group field_select clearfix">
									<label class="main_label col-md-2">Waist, <sub>cms</sub></label>
									<div class="field col-sm-9 col-md-10">
										<select>
											<option value="Model">Select...</option>
											<option value="Model2">Model2</option>
											<option value="Model3">Model3</option>
										</select>
									</div>
								</div>
								<div class="form-group field_select clearfix">
									<label class="main_label col-md-2">Hips, <sub>cms</sub></label>
									<div class="field col-sm-9 col-md-10">
										<select>
											<option value="Model">Select...</option>
											<option value="Model2">Model2</option>
											<option value="Model3">Model3</option>
										</select>
									</div>
								</div>
								<div class="form-group field_select clearfix">
									<label class="main_label col-md-2">Shoe size, <sub>cms</sub></label>
									<div class="field col-sm-9 col-md-10">
										<select>
											<option value="Model">Select...</option>
											<option value="Model2">Model2</option>
											<option value="Model3">Model3</option>
										</select>
									</div>
								</div>
								<div class="form-group field_select clearfix">
									<label class="main_label col-md-2">Dress/Suit size, <sub>cms</sub></label>
									<div class="field col-sm-9 col-md-10">
										<select>
											<option value="Model">Select...</option>
											<option value="Model2">Model2</option>
											<option value="Model3">Model3</option>
										</select>
									</div>
								</div>
								<div class="form-group field_select clearfix">
									<label class="main_label col-md-2">Pant size, <sub>cms</sub></label>
									<div class="field col-sm-9 col-md-10">
										<select>
											<option value="Model">Select...</option>
											<option value="Model2">Model2</option>
											<option value="Model3">Model3</option>
										</select>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="main_label col-md-2">Hair color *</label>
									<div class="field col-sm-9 col-md-10">
										<div class="form_checkboxes">
											<div class="form_checkbox">
												<input type="checkbox" name="black" id="black">
												<label for="black">Black</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="blonde" id="blonde">
												<label for="blonde">Blonde</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="brown" id="brown">
												<label for="brown">Brown</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="gray" id="gray">
												<label for="gray">Gray</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="red" id="red">
												<label for="red">Red</label>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group field_select clearfix">
									<label class="main_label col-md-2">Hair length, <sub>cms</sub></label>
									<div class="field col-sm-9 col-md-10">
										<select>
											<option value="Model">Select...</option>
											<option value="Model2">Model2</option>
											<option value="Model3">Model3</option>
										</select>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="main_label col-md-2">Eye color *</label>
									<div class="field col-sm-9 col-md-10">
										<div class="form_checkboxes">
											<div class="form_checkbox">
												<input type="checkbox" name="black_2" id="black_2">
												<label for="black_2">Black</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="blue" id="blue">
												<label for="blue">Blue</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="brown_2" id="brown_2">
												<label for="brown_2">Brown</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="gray_2" id="gray_2">
												<label for="gray_2">Gray</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="green" id="green">
												<label for="green">Green</label>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group clearfix">
									<label class="main_label col-md-2">Language</label>
									<div class="field col-sm-9 col-md-10">
										<div class="form_checkboxes">
											<div class="form_checkbox">
												<input type="checkbox" name="arabic_2" id="arabic_2">
												<label for="arabic_2">Arabic</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="english" id="english">
												<label for="english">English</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="farsi" id="farsi">
												<label for="farsi">Farsi</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="french" id="french">
												<label for="french">French</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="german" id="german">
												<label for="german">german</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="hindi" id="hindi">
												<label for="hindi">Hindi</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="italian" id="italian">
												<label for="italian">Italian</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="malayalam" id="malayalam">
												<label for="malayalam">Malayalam</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="marathi" id="marathi">
												<label for="marathi">Marathi</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="russian" id="russian">
												<label for="russian">Russian</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="spanish" id="spanish">
												<label for="spanish">Spanish</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="tagalog" id="tagalog">
												<label for="tagalog">Tagalog</label>
											</div>
										</div>
										<input class="form-control form_text" placeholder="Other">
									</div>
								</div>
								<div class="form-group field_select clearfix">
									<label class="main_label col-md-2">VISA status</label>
									<div class="field col-sm-9 col-md-10">
										<select>
											<option value="Model">Select...</option>
											<option value="Model2">Model2</option>
											<option value="Model3">Model3</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="form_wrap">
							<div class="form_title">Specific Info</div>
							<div class="form_content">
								<div class="form-group clearfix">
									<label class="main_label col-md-2">Specialization</label>
									<div class="field col-sm-9 col-md-10">
										<div class="form_checkboxes">
											<div class="form_checkbox">
												<input type="checkbox" name="actor" id="actor">
												<label for="actor">Actor</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="fashionshows" id="fashionshows">
												<label for="fashionshows">Fashion Shows</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="handsfeet" id="handsfeet">
												<label for="handsfeet">Hands / Feet</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="host" id="host">
												<label for="host">Host</label>
											</div>
											<div class="form_checkbox">
												<input type="checkbox" name="mc" id="mc">
												<label for="mc">MC</label>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
						<div class="form_wrap">
							<div class="form_title">Upload portfolio</div>
							<div class="form_content clearfix" id="group_parent">
								<div class="row">
									<div class="col-md-6 col-lg-5 col">
										<div class="form-group photo_upload base_field">
											<label class="main_label col-sm-4">Image 1 *</label>
											<div class="fl_upld field">
												<div class="field_text"></div>
												<label>
													<input class="form-control file_style" type="file" name="file_1">
													Select
												</label>
											</div>
										</div>
										<div class="form-group photo_upload">
											<label class="main_label col-sm-4">Image 2 *</label>
											<div class="fl_upld field">
												<div class="field_text"></div>
												<label>
													<input class="form-control file_style" type="file" name="file_2">
													Select
												</label>
											</div>
										</div>
										<div class="form-group photo_upload">
											<label class="main_label col-sm-4">Image 3 *</label>
											<div class="fl_upld field">
												<div class="field_text"></div>
												<label>
													<input class="form-control file_style" type="file" name="file_3">
													Select
												</label>
											</div>
										</div>
										<div class="form-group photo_upload">
											<label class="main_label col-sm-4">Image 4 *</label>
											<div class="fl_upld field">
												<div class="field_text"></div>
												<label>
													<input class="form-control file_style" type="file" name="file_4">
													Select
												</label>
											</div>
										</div>
										<div class="form-group photo_upload">
											<label class="main_label col-sm-4">Image 5 *</label>
											<div class="fl_upld field">
												<div class="field_text"></div>
												<label>
													<input class="form-control file_style" type="file" name="file_5">
													Select
												</label>
											</div>
										</div>
										<div class="form-group photo_upload">
											<label class="main_label col-sm-4">Image 6 *</label>
											<div class="fl_upld field">
												<div class="field_text"></div>
												<label>
													<input class="form-control file_style" type="file" name="file_6">
													Select
												</label>
											</div>
										</div>
										<div class="form-group photo_upload">
											<label class="main_label col-sm-4">Image 7 *</label>
											<div class="fl_upld field">
												<div class="field_text"></div>
												<label>
													<input class="form-control file_style" type="file" name="file_7">
													Select
												</label>
											</div>
										</div>
										<div class="form-group photo_upload">
											<label class="main_label col-sm-4">Image 8 *</label>
											<div class="fl_upld field">
												<div class="field_text"></div>
												<label>
													<input class="form-control file_style" type="file" name="file_8">
													Select
												</label>
											</div>
										</div>
										<div class="form-group photo_upload">
											<label class="main_label col-sm-4">Image 9 *</label>
											<div class="fl_upld field">
												<div class="field_text"></div>
												<label>
													<input class="form-control file_style" type="file" name="file_9">
													Select
												</label>
											</div>
										</div>
										<div class="form-group photo_upload">
											<label class="main_label col-sm-4">Image 10 *</label>
											<div class="fl_upld field">
												<div class="field_text"></div>
												<label>
													<input class="form-control file_style" type="file" name="file_10">
													Select
												</label>
											</div>
										</div>
										<div class="add_image">Add image</div>
									</div>
									<div class="col-lg-offset-1 col-md-6 images_wrap">
										<div class="row">
											<div class="col-sm-6 main_image">
												<div class="big_image" data-name="file_1"></div>
											</div>
											<div class="image_group col-sm-6">
												<div class="col-sm-4 image_col">
													<div class="image" data-name="file_2"></div>
												</div>
												<div class="col-sm-4 image_col">
													<div class="image" data-name="file_3"></div>
												</div>
												<div class="col-sm-4 image_col">
													<div class="image" data-name="file_4"></div>
												</div>
												<div class="col-sm-4 image_col">
													<div class="image" data-name="file_5"></div>
												</div>
												<div class="col-sm-4 image_col">
													<div class="image" data-name="file_6"></div>
												</div>
												<div class="col-sm-4 image_col">
													<div class="image" data-name="file_7"></div>
												</div>
												<div class="col-sm-4 image_col">
													<div class="image" data-name="file_8"></div>
												</div>
												<div class="col-sm-4 image_col">
													<div class="image" data-name="file_9"></div>
												</div>
												<div class="col-sm-4 image_col">
													<div class="image" data-name="file_10"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form_title form_title_upload">Polaroid</div>
							<div class="row">
								<div class="col-md-6 col-lg-5 col">
									<div class="form-group photo_upload">
										<label class="main_label col-sm-4">Image 1</label>
										<div class="fl_upld field">
											<div class="field_text"></div>
											<label>
												<input class="form-control file_style" type="file" name="file_1_2">
												Select
											</label>
										</div>
									</div>
									<div class="form-group photo_upload">
										<label class="main_label col-sm-4">Image 2</label>
										<div class="fl_upld field">
											<div class="field_text"></div>
											<label>
												<input class="form-control file_style" type="file" name="file_2_2">
												Select
											</label>
										</div>
									</div>
									<div class="form-group photo_upload">
										<label class="main_label col-sm-4">Image 3</label>
										<div class="fl_upld field">
											<div class="field_text"></div>
											<label>
												<input class="form-control file_style" type="file" name="file_3_2">
												Select
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="form_title form_title_upload">Catwalk</div>
							<div class="row">
								<div class="col-md-6 col-lg-5 col">
									<div class="form-group video_upload">
										<label class="main_label col-sm-4">Video 1</label>
										<div class="field">
											<input type="text" class="form-control form_text" name="video_1">
											<div class="field_suffix">Add link</div>
										</div>
									</div>
									<div class="form-group video_upload">
										<label class="main_label col-sm-4">Video 2</label>
										<div class="field">
											<input type="text" class="form-control form_text" name="video_2">
											<div class="field_suffix">Add link</div>
										</div>
									</div>
									<div class="description col-sm-offset-4">You can add only youtube/ vimeo video</div>
								</div>
							</div>
							<div class="form_title form_title_upload">Showreel</div>
							<div class="row">
								<div class="ccol-md-6 col-lg-5 col">
									<div class="form-group video_upload">
										<label class="main_label col-sm-4">Video 1</label>
										<div class="field">
											<input type="text" class="form-control form_text" name="video_1_2">
											<div class="field_suffix">Add link</div>
										</div>
									</div>
									<div class="form-group video_upload">
										<label class="main_label col-sm-4">Video 2</label>
										<div class="field">
											<input type="text" class="form-control form_text" name="video_2_2">
											<div class="field_suffix">Add link</div>
										</div>
									</div>
									<div class="description col-sm-offset-4">You can add only youtube/ vimeo video</div>
								</div>
							</div>
						</div>
						<div class="form_actions clearfix">
							<input type="submit" class="btn btn-default" value="Add talent">
							<div class="description">Note: If you have regsitration issues email at contact@divadubai.com</div>
						</div>
					<!-- </div> -->
				</form>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
