//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Reset password</span>
				</div>
				<h1 class="page_title">Reset password</h1>
			</div>
			<div class="login_view">
				<form action="#" id="form_login" class="login_form">
					<div class="form_content">
						<div class="form-group clearfix">
							<label class="main_label" for="username">Username</label>
							<input type="text" class="form-control form_text" name="username" id="username" required>
						</div>
					</div>
					<div class="form_actions">
						<input type="submit" class="btn btn-default" value="Reset">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
