//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix container">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Signing</span>
				</div>
				<h1 class="page_title">Signing</h1> 
			</div>
			<div class="view_signing clearfix">
				<form action="#">
					<div class="view_header">
						<ul class="tabs_nav">
							<li class="tabs_item active"><a href="#sign_1" data-toggle="tab" class="tabs_link">Draw</a></li>
							<li class="tabs_item"><a href="#sign_2" data-toggle="tab" class="tabs_link">Upload</a></li>
							<li class="tabs_item"><a href="#sign_3" data-toggle="tab" class="tabs_link">Camera</a></li>
						</ul>
					</div>
					<div class="view_content">
						<div id="sign_1" class="tab-pane active">
							<div id="signature-pad" class="signature-pad">
								<div class="signature-pad--body">
									<canvas></canvas>
									<div class="text">Sign your name using trackpad, mouse or touch device.</div>
								</div>
							</div>
						</div>
						<div id="sign_2" class="tab-pane">
							<div class="form-group">
								<div class="form_wrap">
									<div class="image_wrap"></div>
									<label for="image">
										Choose image
										<input type="file" class="form-control form_text" id="image">
									</label>
								</div>
							</div>
						</div>
						<div id="sign_3" class="tab-pane">

							<!-- <div class="container"> -->

							  <div class="app">

							    <a href="#" id="start-camera" class="visible">Click to start camera</a>
							    <video id="camera-stream"></video>
							    <img id="snap">

							    <p id="error-message"></p>

							    <div class="controls">
							     <!--  <a href="#" id="delete-photo" title="Delete Photo" class="disabled"><i class="material-icons">delete</i></a>
							      <a href="#" id="take-photo" title="Take Photo"><i class="material-icons">camera_alt</i></a>
							      <a href="#" id="download-photo" download="selfie.png" title="Save Photo" class="disabled"><i class="material-icons">file_download</i></a>   -->
							    </div>

							    <!-- Hidden canvas element. Used for taking snapshot of video. -->
							    <canvas></canvas>

							  </div>

							<!-- </div> -->
						</div>
					</div>
					<div class="signature-pad--footer">
						<div class="signature-pad--actions">
							<!-- <button type="button" class="button clear" data-action="clear">Clear</button> -->
							<!-- <button type="button" class="button" data-action="undo">Undo</button> -->
							<!-- <button type="button" class="button save" data-action="save-png">Book now</button> -->
							<input type="submit" class="btn btn-default form_submit" value="Book now">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
