//= templates/head.html
<div class="wrapper">
	//= templates/header_inner.html
	<div class="wrapper_content not_front">
		<div class="middle clearfix">
			<div class="top_inner">
				<div class="breadcrumbs">
					<a href="/">Home</a>
					<span class="this">Model Portfolio &Training</span>
				</div>
				<h1 class="page_title">Model Portfolio & Training</h1>
			</div>
			<div class="view_training clearfix">
				<div class="view_header">
					<div class="item"><img src="../images/training_1.png" alt=""></div>
					<div class="item"><img src="../images/training_2.png" alt=""></div>
					<div class="item"><img src="../images/training_3.png" alt=""></div>
					<div class="item"><img src="../images/training_4.png" alt=""></div>
					<div class="item"><img src="../images/training_2.png" alt=""></div>
					<div class="item"><img src="../images/training_3.png" alt=""></div>
				</div>
				<div class="view_content container">
					<div class="col_group clearfix">
						<div class="col-sm-6 col">
							<div class="col_content">
								<h2>Model Training Course</h2>
								<p>Spread across a time span on 32 hours, The Model Training Course at Diva prepares you the enter the Modelling Field. Being in the industry since 2003, we at Diva know exactly what is required to prepare the new faces for the industry. During the course, you would be trained on how to pose for the camera, how to walk the ramp and how to walk wearing heels. Having done the practical bit, you would also be taught theoretically about being a model. Once you are ready, you will get a professional portfolio done by Diva to help you boost your modelling career along with a certificate.</p>
								<p>The Model Training Course costs AED 5000 and constitutes of 32 hour long and extensive Model training based on theory and practical implementation. A free portfolio and a completion certificate.</p>
								<div class="btn">Book now</div>
							</div>
						</div>
						<div class="col-sm-6 col">
							<div class="col_content">
								<h2>Model Portfolio</h2>
								<p>The Model Portfolio at Diva is a great chance for you to get the best book in the market and boost your modelling career.</p>
								<p>A Professional photographer, a make-up stylist, a hair-stylist, a wardrobe-stylist and a creative director will make sure to get the best pictures out of the shoot. Edited and raw pictures will be given on a DVD (Total of 15 best edited pictures and will be uploaded in the website) along with other top models.</p>
								<p>5 different looks (traditional look, a look with dress/suit, beauty/fashion shots, office look and a casual look, etc) Close up's, mid-length, full length. <br>Venue will be in an exclusive studio/location. All for just AED 2000</p>
								<div class="btn">Book now</div>
							</div>
						</div>
					</div>
					<div class="question_wrap">
						<h3>When can I get the portfolio done?</h3>
						<p>
							We do portfolios once or twice in a month. So pay and book in advance so you are sure to get a space. Come to the agency and settle the payment for you to receive your receipt/booking sheet.
						</p>
						<h3 >What should I bring? </h3>
						<p>
							Your own clothes only, the wardrobe stylist will help you to mix prior to shoot date  If you want to get your career started as a model, promoter, a cast or anything else with Diva, it is very important to carry a portfolio as most clients choose the artist on the portfolios even for the first casting.
						</p>
						<h3>But I already have my own pictures, so why should I get a portfolio?</h3>
						<p>
							Because it will give you the best opportunities in a competitive market, and we know which pictures could better sell in this market.
							When we have a job, the first thing we do is to send different portfolios from our website to the client, which means: The better pictures you have, the better chance to get the job.
						</p>
						<p>
							When you do your portfolio, you will also learn to pose, and that will give you an advantage in castings compared to models who do not have experience. It is important to bring your portfolio along when you meet a client. The client will then see the variety of your looks, he will see that you are able to pose, and that you are serious about what you are doing because you already have a portfolio. It is not enough being beautiful and having good photos, the clients want the real thing which means high quality pictures and a high quality book.
						</p>
						<p>
							That is what we will give you the advantage. At the end of the day, you can consider a portfolio as an investment for your future. Whether you want to be a promoter, a model, a cast or anything else, the portfolio is the first thing the clients will see. It is your business card, your ID and the first essential step on the way to becoming what you wish for.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
