.error_view{
	text-align: center;
	margin-bottom: 85px;
	padding-top: 30px;
	.error_title{
		width: 612px;
		height: 309px;
		padding: 20px 160px 0 120px;
		color: #d6d6d6;
		font-size: 200px;
		font-weight: 300;
		background:transparent url('../images/404_bg.png') left top no-repeat;
		margin: 0 auto;
		padding-top: 15px;
		@include respond-to(phone){
			background: none;
			font-size: 140px;
			width: 100%;
			height: auto;
			line-height: .5;
			padding: 10px 15px 15px;
		}
	}
	.title{
		font-size: 50px;
		font-weight: 700;
		margin-bottom: 1px;
		color: #3f3f40;
		padding-left: 34px;
	}
	.subtitle{
		font-weight: 700;
		font-size: 24px;
		display: block;
		text-align: center;
		margin-bottom: 12px;
		color: #585858;
	}
	.description{
		font-size: 18px;
		max-width: 385px;
		margin: 0 auto;
		color: #585858;
	}
}