.page_about{
	.page_title{
		margin-bottom: 0;
	}
}
.view_about{
	margin-bottom: 60px;
	.video_youtube{
		display: table;
		margin: 0 auto;
		max-width: 920px;
		img{
			max-width: 100%;
			height: auto;
		}
		iframe{
			width: 920px;
			height: 576px;
			@include respond-to(tabv){
				width: 720px;
				height: 450px;
			}
			@include respond-to(phone){
				width: 100%;
				height: 300px;
			}
		}
	}
}
.video_vimeo,
.video_youtube{
	position: relative;
	cursor: pointer;
	&.pause{
		&::after{
			content: '';
			display: block;
			width: 60px;
			height: 42px;
			background:transparent url('../images/play_btn.svg') left top no-repeat;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -21px 0 0 -30px;
			transition: .3s;
			z-index: 10;
		}
	}
	&:hover{
		&::after{
			transform: scale(1.1);
		}
	}
}