.page_awards{
	.top_inner{
		padding-bottom: 27px;
	}
}
.view_awards{
	margin-bottom: 40px;
	.col{
		margin-bottom: 30px;
		@include respond-to(xxl){
			width: 12.5%;
		}
		@include respond-to(xl){
			width: 16.6%;
		}
		@include respond-to(phoneb){
			width: 50%;
			float: left;
		}
		.col_content{
			transition: .5s;
			&:hover{
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
			}
		}
		.image{
			height: 154px;
			background: #fff;
			display: table;
			width: 100%;
			transition: .5s;
			filter: grayscale(100%);
			&:hover{
				filter: grayscale(0);
			}
			a{
				display: table-cell;
				vertical-align: middle;
				img{
					display: block;
					margin: 0 auto;
				}
			}
		}
		.title{
			a{
				background-color: #e9e9e9;
				color: #7d7d7d;
				display: block;
				text-align: center;
				padding: 13.5px 10px;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}