.page_book_form{
	.top_text{
		line-height: 30px;
		padding: 0 30px;
	}
	.top_inner{
		padding-bottom: 29px;
		.page_title,
		.breadcrumbs{
			margin-bottom: 24px;
		}
	}
}
.book_form{
	margin-bottom: 60px;
	.form_content{
		max-width: 570px;
		background: #fff;
		margin: 0 auto;
		padding: 28px 95px;
		@include respond-to(phone){
			padding: 20px;
		}
	}
	.form-group{
		width: 100%;
		margin-bottom: 11px;
	}
	.main_label{
		font-weight: 400;
		width: 100%;
		color: #3f3f40;
		line-height: 38px;
		margin-bottom: 0;
		@include respond-to(phone){
			width: 100%;
			margin-bottom: 3px;
		}
		&.base_label{
			line-height: 1.1;
			padding-top: 5px;
		}
	}
	.form_text{
		width: 100%;
		height: 37px;
		background: #f8f8f8;
		border-radius: 0;
		border: none;
		padding: 0 15px;
		box-shadow: none;
		float: left;
		@include respond-to(phone){
			width: 100%;
		}
	}
	.form_checkbox{
		@include respond-to(phone){
			width: 50%;
			padding-right: 10%;
			margin-right: 0;
		}
		input{
			display: none;
			&:checked{
				&+label{
					&::before{
						border: 5px solid #3f3f40;
						transition: 0.3s;
					}
				}
			}
		}
		label{
			font-weight: 300;
			padding-left: 30px;
			color: #a4a4a4;
			position: relative;
			margin-bottom: 0;
			display: block;
			line-height: 35px;
			cursor: pointer;
			@include respond-to(phone){
				line-height: 1.2;
				margin-bottom: 10px;
			}
			&::before{
				content: '';
				display: block;
				position: absolute;
				width: 20px;
				height: 20px;
				background-color: #f8f8f8;
				top: 50%;
				left: 0;
				margin: -12px 0 0;
				border: 5px solid transparent;
				transition: 0.3s;
			}
		}
	}
	.form_actions{
		text-align: center;
		.btn{
			border-radius: 0;
			display: inline-block;
			color: #3f3f40;
			font-size: 18px;
			border: 2px solid #3f3f40;
			font-weight: 700;
			padding: 7px 37px;
			background: none;
			transition: .3s;
			&:hover{
				color: #fff;
				background: #000;
			}
		}
	}
	.field-contactform-recaptcha{
		background: #f9f9f9;
		max-width: 570px;
		margin: 0 auto;
		padding: 6px 0 0;
	}
	.g-recaptcha{
		margin-bottom: 44px;
		&>div{
			display: table;
			margin: 0 auto;
			div{
				width: 300px !important;
				height: 74px !important;
				overflow: hidden;
			}
			iframe{
				position: relative;
				top: -1px;
				left: -1px;
			}
		}
	}
	.form_description{
		text-align: center;
		padding-top: 35px;
		font-size: 18px;
	    letter-spacing: -0.1px;
	}
}	