.page_casting{
	.top_inner{
		padding-bottom: 0;
	}
	.page_title{
		margin-bottom: 24px;
	}
}
.view_casting{
	margin-bottom: 25px;
	.col{
		margin-bottom: 40px;
	}
	.image{ 
		margin-bottom: 36px;
		img{
			max-width: 100%;
			height: auto;
		}
	}
	.title{
		font-size: 20px;
		font-weight: 700;
		color: #3f3f40;
		margin-bottom: 20px;
	}
	.item{
		font-size: 14px;
		color: #8d8d8d;
		border-bottom: 1px solid #dadada;
		padding: 8.5px 4px;
		&:last-child{
			border-bottom: none;
		}
		&::after{
			content: '';
			display: table;
			clear: both;
		}
	}
	.info_label{
		float: left;
		width: 25%;
	}
	.value{
		overflow: hidden;
	}
	.btn{
		margin-top: 20px;
		border: 2px solid #3f3f40;
		font-size: 18px;
		font-weight: 700;
		color: #3f3f40;
		padding: 9px 55px;
		background: none;
		border-radius: 0;
		transition: .3s;
		&:hover{
			background: #3f3f40;
			color: #fff;
		}
	}
}
.casting_modal{
	.modal-dialog{
		width: 475px;
	}
	.form_title{
		font-size: 24px;
	}
	.modal-header{
 		padding-bottom: 20px;
	}
	.modal-content{
		max-width: 350px;
	}
	.description{
		font-weight: 700;
		margin: -10px 0 30px;
	}
	.field-contactform-recaptcha{
		margin-bottom: 25px;
	}
	.form_actions{
		clear: both;
		&::after{
			content: '';
			display: table;
			clear: both;
		}
		.btn{
			float: left;
		}
		.cancel_btn{
			float: right;
			color: #939393;
			line-height: 43px;
			cursor: pointer;
			text-decoration: underline;
			font-size: 18px;
			&:hover{
				text-decoration: none;
			}
		}
	}
}