.page_category{
	.top_text{
		text-align: left;
		margin-bottom: 56px;
		padding: 0 17px;
		@include respond-to(phone){
			margin-bottom: 25px;
			padding: 0;
		}
	}
	.top_inner{
		padding-top: 40px;
		.breadcrumbs{
			margin-bottom: 31px;
		}
	}
}
.view_category{
	padding: 0 7px;
	.view_header{
		margin-bottom: 60px;
		color: #8d8d8d;
		@include respond-to(phone){
			margin-bottom: 35px;
		}
	}
	p{
		font-size: 18px;
		line-height: 30px;
		color: #8d8d8d;
		margin-bottom: 31px;
	}
	blockquote{
		font-size: 30px;
		line-height: 1;
		padding: 0;
		border: none;
		margin: 0;
		font-weight: 700;
		position: relative;
		padding-left: 35px;
		margin-top: 7px;
		@include respond-to(phone){
			margin-bottom: 20px;
			font-size: 24px;
		}
		&::before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 96%;
			background-color: #3f3f40;
		}
	}
	.main_text{
		font-size: 18px;
		padding-left: 23px;
		line-height: 1.7;
		@include respond-to(phone){
			padding: 0;
		}
	}
	.view_content{
		@include respond-to(tabv){
			display: table;
			margin: 0 auto;
		}
		&::after{
			content: '';
			display: table;
			clear: both;
		}
		.col{
			margin-bottom: 30px;
			@include respond-to(tabv){
				margin-bottom: 30px;
			}
			@include respond-to(phone){
				// margin-bottom: 40px;
				max-width: 300px;
				margin: 0 auto 40px;
				width: auto;
				display: table;
				float: none;
			}
			&:hover{
				img{
					transform: scale(1.1);
					transition: 6s;
				}
			}
			.image{
				overflow: hidden;
			}
			img{
				transition: 2s;
				transform: scale(1);
				@include respond-to(tabv){
					width: 100%;
				}
				@include respond-to(phone){
					width: 100%;
				}
			}
			.title{
				a{
					font-size: 18px;
					font-weight: 700;
					text-align: center;
					display: block;
					padding: 10px 5px;
					background: #fff;
				}
			}
		}
	}
	.first_paragraph{
		margin-bottom: 52px;
	}
	.last_paragraph{
		padding-top: 34px;
		clear: both;
		margin-bottom: 59px;
	}
}
.page_events{
	.top_inner{
		padding-bottom: 0;
	}
	.page_title{
		margin-bottom: 31px;
	}
}
.view_events{
	blockquote{
		margin-bottom: 49px;
	}
	.view_header{
		margin-bottom: 22px;
		.col{
			padding: 0 8px;
			@include respond-to(phone){
				padding: 0;
			}
		}
	}
}
.view_production{
	padding: 0 15px;
	@include respond-to(phone){
		margin-bottom: 35px;
	}
	blockquote{
		margin: 38px 0 0;
	}
	.description{
		padding-top: 44px;
		clear: both;
		p{
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}