.page_clients{
	.top_inner{
		padding-bottom: 27px;
	}
}
.view_clients{
	margin-bottom: 40px;
	.col{
		margin-bottom: 30px;
		@include respond-to(phone){
			width: 50%;
			float: left;
			padding: 0 7px;
		}
		.image{
			height: 154px;
			background: #fff;
			display: table;
			width: 100%;
			transition: .3s;
			&:hover{
				opacity: .65;
			}
			a{
				display: table-cell;
				vertical-align: middle;
				img{
					display: block;
					margin: 0 auto;
					@include respond-to(phone){
						max-width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}