.page_contacts{
	.page_title{
		margin-bottom: 20px !important;
	}
	.top_text{
		color: #7d7d7d;
		font-weight: 700;
		max-width: 540px;
		margin: 0 auto;
		line-height: 20px;
		font-size: 14px;
	}
	.bottom_block{
		padding-bottom: 235px;
		@include respond-to(phone){
			padding-bottom: 0;
		}
	}
}	
.view_contacts{
	.col{
		margin-bottom: 10px;
		&:nth-child(-n+4){
			.col_content{
				min-height: 150px;
			}
		}
		.col_content{
			background: #fff;
			padding: 22px 30px 20px 16px;
			min-height: 130px;
		}
		.title{
			font-weight: 700;
			color: #191919;
			margin-bottom: 13px;
			height: 36px;
			overflow: hidden;
		}
		.post{
			color: #7d7d7d;
			font-weight: 400;
		}
		.contact_info{
			color: #191919;
			.contact_label{
				color: #7d7d7d;
				line-height: 1;
			}
		}
	}
}
#map{
	height: 540px;	
	width: 100%;
	margin-bottom: 45px;
	filter: grayscale(100%);
	@include respond-to(phone){
		height: 340px;
	}
}
.contacts_form{
	height: 487px;
	background: transparent url(/images/contacts_form_bg.jpg) center 0 no-repeat;
	margin-top: 89px;
	padding-top: 59px;
	@include respond-to(phone){
		background-size: cover;
		height: auto;
		padding-bottom: 20px;
	}
	.title_wrapper{
		color: #fff;
	}
	.title{
		font-size: 50px;
		font-weight: 700;
		line-height: .8;
		margin-bottom: 27px;
		padding-top: 10px;
	}
	.decription{
		max-width: 280px;
		font-size: 18px;
		line-height: 24px;
	}
	.form_wrapper{
		margin-left: 95px;
		max-width: 445px;
		@include respond-to(tabh){
			margin-left: 40px;
		}
		@include respond-to(tabv){
			margin-left: 20px;
		}
		@include respond-to(phone){
			margin-left: 0;
			padding-top: 15px;
		}
	}
	.form-group{
		margin-bottom: 13px;
		&.phone{
			margin-bottom: 15px;
		}
	}
	input{
		background-color: transparent;
		border-radius: 0;
		height: 46px;
		border: 1px solid #474747;
		background-color: #111111;
		color: #fff;
		padding-left: 18px;
	}
	textarea{
		resize:none;
		height: 97px;
		background-color: transparent;
		border-radius: 0;
		border: 1px solid #474747;
		background-color: #111111;
		color: #fff;
		padding-top: 13px;
		padding-left: 18px;
	}
	.form_actions{
		padding-top: 15px;
		@include respond-to(tabv){
			padding-top: 0;
		}
	}
	.g-recaptcha{
		float: left;
		transform: scale(0.65);
		transform-origin:0 0;
		float: left;
		width: 199px;
		@include respond-to(tabv){
			display: table;
			float: none;
			margin: 0 auto;
		}
		@include respond-to(phone){
			display: table;
			float: none;
			margin: 0 auto;
		}
		div{
			width: 199px !important;
		}
	}
	.btn{
		float: right;
		border: 2px solid #f5f5f5;
		background-color: rgba(17, 17, 17, 0);
		height: 50px;
		font-size: 24px;
		font-weight: 700;
		color: #fff;
		padding: 0 59px;
		transition: .3s;
		border-radius: 0;
		@include respond-to(tabv){
			display: table;
			float: none;
			margin: 0 auto;
		}
		@include respond-to(phone){
			display: table;
			float: none;
			margin: 0 auto;
		}
		&:hover{
			background: #fff;
			color: #111111;
		}
	}
}