.view_directors{
	margin-bottom: 60px;
	.row{
		margin: 0 -10px;
	}
	.col{
		padding: 0 10px;
		margin-bottom: 20px;
		&:hover{
			.name{
				a{
					text-decoration: none;
					color: #fff;
					background: #3f3f40;
				}
			}
		}
	}
	img{
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	.name{
		a{
			display: block;
			text-align: center;
			padding: 17px 10px 18px;
			color: #3f3f40;
			transition: .4s;
			background: #fff;
		}
	}
}