.page_disclaimer{
	.top_inner{
		padding-bottom: 0;
	}
	.page_title{
		margin-bottom: 18px;
	}
	.breadcrumbs{
		margin-bottom: 22px;
	}
}
.view_disclaimer{
	margin-bottom: 110px;
	padding: 0 15px;
	p{
		color: #8d8d8d;
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 30px;
	}
	h2{
		color: #3f3f40;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
		text-transform: uppercase;
		margin: 0 0 22px;
	}
	.field_note{
		padding-top: 32px;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		margin-bottom: 33px;
		.field_label{
			float: left;
			width: 135px;
			padding-right: 10px;
			color: #3f3f40;
			font-size: 18px;
			font-weight: 700;
			@include respond-to(phone){
				width: 100%;
				margin-bottom: 5px;
				float: none;
			}
		}
		.field_content{
			overflow: hidden;
		}
	}
	h3{
		color: #3f3f40;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
		margin: 0;
	}
}