.view_faq{
	padding-left: 23px;
	@include respond-to(phone){
		padding-left: 0;
	}
	@include respond-to(phone){
		.col{
			margin-bottom: 30px;
		}
	}
	.item{
		background: #fff;	
		padding: 23px 30px 25px 28px;
		margin-bottom: 30px;
		line-height: 1.75;
		@include respond-to(tabv){
			padding: 15px;
		}
	}
	.title{
		font-size: 18px;
		font-weight: 700;
		margin: 0 0 10px;
		color: #3f3f40;
	}
	.description{
		color: #7d7d7d;
		strong{
			color: #3f3f40;
		}
		li{
			list-style: none;
			position: relative;
			padding-left: 18px;
			&::before{
				content: '';
				display: block;
				width: 6px;
				height: 6px;
				background: #3f3f40;
				border-radius: 50%;
				position: absolute;
				top: 8px;
				left: 0;
			}
		}
	}
	.main_title{
		font-size: 30px;
		line-height: 1;
		font-weight: 700;
		margin: 0 0 35px;
		@include respond-to(tabv){
			font-size: 24px;
		}
	}
	.ask_btn{
		border: 2px solid #3f3f40;
		font-size: 24px;
		font-weight: 700;
		line-height: 1;
		display: inline-block;
		padding: 11.5px 20px;
		cursor: pointer;
		transition: .3s;
		@include respond-to(tabv){
			font-size: 18px;
		}
		&:hover{
			background: #3f3f40;
			color: #fff;
		}
	}
}
.modal-dialog{
	background: #fff;
	width: 570px;
	@include respond-to(phone){
		width: 94%;
	}
	.form_title{
		color: #3f3f40;
		font-size: 30px;
		text-align: center;
		margin-bottom: 10px;
	}
	.close{
		width: 16px;
		height: 16px;
		background:transparent url('../images/close.svg') left top no-repeat;
		text-indent: -9999px;
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
		opacity: .8;
		transition: .4s;
		&:hover{
			opacity: 1;
		}
	}
	.form-group{
		margin-bottom: 25px;
	}
	.modal-content{
		max-width: 384px;
		margin: 0 auto;	
		box-shadow: none;
		border: none;
		padding-bottom: 55px;
		@include respond-to(phone){
			padding: 0 15px 15px;
		}
	}
	.modal-header{
		border-bottom: none;
		padding: 47px 15px 25px;
		@include respond-to(phone){
			padding-top: 20px;
		}
	}
	.form_text{
		height: 37px;
		background-color: #f8f8f8;
		box-shadow: none;
		border: none;
		border-radius: 0;
	}
	.form_textarea{
		height: 130px;
		background-color: #f8f8f8;
		box-shadow: none;
		border: none;
		border-radius: 0;
		resize: none;
	}
	label{
		font-weight: 400;
		margin-bottom: 8px;
	}
	.field-contactform-recaptcha{
		background: #f9f9f9;
		max-width: 570px;
		margin: 0 auto;
		padding: 6px 0 0;
		height: 75px;
		overflow: hidden;
		margin-bottom: 40px;
	}
	.g-recaptcha{
		margin-bottom: 44px;
		&>div{
			display: table;
			margin: 0 auto;
			div{
				width: 300px !important;
				height: 74px !important;
				overflow: hidden;
			}
			iframe{
				position: relative;
				top: -6px;
				left: -1px;
			}
		}
	}
	.form_actions{
		text-align: center;
		.btn{
			border-radius: 0;
			display: inline-block;
			color: #3f3f40;
			font-size: 18px;
			border: 2px solid #3f3f40;
			font-weight: 700;
			padding: 7px 57px;
			background: none;
			transition: .3s;
			&:hover{
				color: #fff;
				background: #000;
			}
		}
	}
}