.footer {
	width: 100%;
	margin: -235px auto 0;
	height: 235px;
	background: #fff;
	position: relative;
	@include respond-to(phone){
		height: auto;
		margin-top: 0;
		padding-bottom: 30px;
	}
	.footer_content{
		padding-top: 45px;
		font-size: 13px;
		.row{
			margin: 0;
			@include respond-to(phone){
				text-align: center;
			}
		}
	}
	@include respond-to(phone){
		.logo_footer{
			text-align: center;
			margin-bottom: 10px;
		}
	}
	.menu{
		padding-top: 11px;
		position: relative;
		z-index: 10;
		padding-left: 5px;
		li{
			list-style: none;
			margin-bottom: 8px;
			a{
				color: #7d7d7d;
				position: relative;
				&::after{
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					width: 100%;
					left: 0;
					height: 1px;
					background: #e3e3e3;
					transition: .3s;
				}
				&:hover{
					text-decoration: none;
					&::after{
						opacity: 0;
					}
				}
			}
		}
		.menu{
			&:nth-child(2){
				padding-left: 38px;
				@include respond-to(tabv){
					padding-left: 15px;	
				}
				@include respond-to(phone){
					padding-left: 15px;
					padding-right: 15px;
					li{
						margin-bottom: 11px;
					}
				}
			}
			&:nth-child(3){
				padding: 0 0 0 34px;
				@include respond-to(tabv){
					padding-left: 0;	
				}
				@include respond-to(phone){
					clear: both;
					padding-left: 15px;
				}
			}
		}
	}
	.info_footer{
		padding-right: 0;
		margin-left: 23%;
		padding-top: 5px;
		@include respond-to(tab){
			padding-left: 0;	
		}
		@include respond-to(phone){
			padding-left: 0;
		}
		@include respond-to(phone){
			clear: both;
			padding: 0;
			margin-left: 0;
		}
	}
	.info_text{
		color: #7d7d7d;
		margin-bottom: 33px;
		padding: 4px 0 0 28px;
		@include respond-to(tabh){
			margin-bottom: 15px;
		}
		@include respond-to(tabv){
			padding-left: 0;
		}
		@include respond-to(phone){
			padding: 0;
		}
		p{
			margin-bottom: 2px;
		}
		a{
			color: #7d7d7d;
		}
	}
	.social_wrapper{
		font-size: 0;
		text-align: right;
		@include respond-to(phone){
			display: table;
			margin: 0 auto;
		}
		.social{
			display: inline-block;
			vertical-align: top;
			margin-left: 5px;
			@include respond-to(tabh){
				margin-left: 3px;
			}
			@include respond-to(phone){
				&:nth-child(1){
					margin-left: 0;
				}
			}
			a{
				height: 36px;
				width: 36px;
				display: block;
				transition: .3s;
				@include respond-to(tabv){
					width: 24px;
					height: 24px;
					background-size: cover !important;
				}
				&:hover{
					opacity: .6;
				}
			}
			&_1{
				a{
					background: url(../images/socials_bg.png) no-repeat 0 0 transparent;
				}
			}
			&_2{
				a{
					background: url(../images/socials_bg.png) no-repeat -42px 0 transparent;
					@include respond-to(tabv){
						background-position: -28px 0;
					}
				}
			}
			&_3{
				a{
					background: url(../images/socials_bg.png) no-repeat -84px 0 transparent;
					@include respond-to(tabv){
						background-position: -56px 0;
					}
				}
			}
			&_4{
				a{
					background: url(../images/socials_bg.png) no-repeat -126px 0 transparent;
					@include respond-to(tabv){
						background-position: -84px 0;
					}
				}
			}
			&_5{
				a{
					background: url(../images/socials_bg.png) no-repeat -168px 0 transparent;
					@include respond-to(tabv){
						background-position: -112px 0;
					}
				}
			}
			&_6{
				a{
					background: url(../images/socials_bg.png) no-repeat -210px 0 transparent;
					@include respond-to(tabv){
						background-position: -140px 0;
					}
				}
			}
		}
	}
}