//-----------------------------------MAIN SLIDER----------------------------//
.main_slider{
	width: 100%;
	// height: 834px;
	height: 650px; // new
	position: relative;
	overflow: hidden;
	background: #000;
	@include respond-to(phone){
		height: 525px;
	}
	.block_content{
		width: 1920px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -960px;
	}
	.image{
		position: relative;
		height: 1015px;
		top: -300px; // new
	}
	img{
		position: absolute;
		top: 0;
	}
	.slide{
		position: relative;
	}
	.slider_text{
		position: absolute;
		// top: 305px;
		top: 85px; // new
		width: 100%;
		left: 50%;
		margin-left: -570px;
		color: #fff;
		@include respond-to(tabh){
			margin-left: -515px;
		}
		@include respond-to(tabv){
			margin-left: -385px;
		}
		@include respond-to(phone){
			margin-left: -150px;
			width: 300px;
			top: 225px;
		}
		@include respond-to(phoneb){
			margin-left: -190px;
			width: 380px;
		}
		@include respond-to(phonebb){
			width: 600px;
			margin-left: -300px;
		}
		.title{
			// font-size: 72px;
			font-size: 60px; // new
			font-weight: 700;
			line-height: 0.7;
			margin-bottom: 36px;
			max-width: 410px; // new
			height: 84px; // new
			overflow: hidden; // new
			@include respond-to(phone){
				font-size: 30px;
				line-height: 1;
				margin-bottom: 20px;
			}
			@include respond-to(phonebb){
				font-size: 50px;
			}
		}
		.description{
			font-size: 18px;
			font-weight: 700;
			line-height: 1.66;
			max-width: 435px;	
			@include respond-to(phone){
				font-size: 16px;
			}
			@include respond-to(phonebb){
				font-size: 18px;
			}
		}
	}
	.slick-dots{
		position: absolute;
		top: 48%;
		right: 50%;
		// margin-right: -553px;
		margin-right: -610px; // new
		z-index: 10;
		transform: translateY(-50%);
		@include respond-to(tabh){
			margin-left: -500px;
		}
		@include respond-to(phone){
			margin-right: -150px;
			top: 20%;
		}
		@include respond-to(phoneb){
			margin-right: -190px;
		}
		@include respond-to(phonebb){
			margin-right: -290px;
		}
		li{
			height: 8px;
			margin-bottom: 10px;
			list-style: none;
			&:last-child{
				margin-bottom: 0;
			}
			button{
				border: none;
				border-radius: 50%;
				width: 8px;
				height: 100%;
				background: #fff;
				text-indent: -9999px;
				cursor: pointer;
				transition: .3s;
				outline: none;
				&:hover{
					opacity: .7;
				}
			}
			&.slick-active{
				&+li{
					position: relative;
					z-index: 1;
				}
				button{
					transform: scale(1.625);
				}
			}
		}
	}
}
//-----------------------------------SERVICES----------------------------//
.services_block{
	background:#f5f5f5;
	padding-bottom: 112px;
	@include respond-to(phone){
		padding-bottom: 40px;
	}
	.block_wrapper{
		// margin-top: -160px;
		margin-top: -265px; // new
		background: #fff;
		padding: 28px 30px 36px;
		position: relative;
		@include respond-to(tabv){
			width: 100%;
		}
		@include respond-to(phone){
			margin-top: 0;
		}
	}
	@include respond-to(phoneb){
		.row{
			margin-left: 0;
			margin-right: 0;
		}
	}
	.col{
		position: relative;
		margin-bottom: 32px;
		@include respond-to(phone){
			width: auto;
			display: table;
			margin-left: auto;
			margin-right: auto;
		}
		@include respond-to(phoneb){
			width: 50%;
			float: left;
			display: block;
			padding-left: 5px;
			padding-right: 5px;
		}
		@include respond-to(phonebb){
			display: table;
			.title{
				left: 17%;
			}
		}
		&:hover{
			.image{
				img{
					transform: scale(1.2);
					transition: 10s;
				}
			}
			.title{
				a{
					color: #c8c8c8;
					text-decoration: none;
				}
			}
		}
	}
	.image{
		overflow: hidden;
		@include respond-to(phone){
			max-width: 255px;
			margin: 0 auto;
		}
		img{
			display: block;
			transform: scale(1);
			transition: 4s;
		}
	}
	.title{
		position: absolute;
		bottom: 20px;
		left: 40px;
		padding-right: 40px;
		a{
			font-size: 24px;
			font-weight: 700;
			color: #fff;
			line-height: 1;
			transition: .4s;
			@include respond-to(phoneb){
				font-size: 20px;
			}
		}
	}
	.title_wrapper{
		padding-left: 0px;
		padding-right: 0px;
		@include respond-to(tabv){
			width: 100%;
		}
		.block_title{
			color: #c3c3c3;
			font-size: 50px;
			line-height: 0.96;
			font-weight: 700;
			padding-top:38px;
			@include respond-to(phone){
				font-size: 32px;
			}
		}
	}
	.slick-dots{
		position: absolute;
		bottom: -83px;
		right: 4px;
		@include respond-to(phone){
			bottom: -78px;
		}
		li{
			list-style: none;
			float: left;
			margin-left: 9px;
			button{
				border: none;
				border-radius: 50%;
				width: 8px;
				height: 8px;
				text-indent: -9999px;
				cursor: pointer;
				transition: .3s;
				outline: none;
				&:hover{
					opacity: .9;
				}
			}
			&.slick-active{
				button{
					background: #121212;
				}
			}
		}
	}
}
//-----------------------------------ACHIEVEMENTS----------------------------//
.achievements_block{
	background: #f5f5f5;
	padding-bottom: 103px;
	@include respond-to(phone){
		padding-bottom: 10px;
	}
	.block_content{
		position: relative;
		&::before{
			content: '';
			display: block;
			background: #fff;
			position: absolute;
			top: 120px;
			left: 155px;
			width: 476px;
			height: 289px;
			@include respond-to(phone){
				display: none;
			}
		}
	}
	.row{
		margin: 0 0 30px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.col{
		position: relative;
		margin-bottom: 30px;
		@include respond-to(phone){
			width: auto;
			display: table;
			margin-left: auto;
			margin-right: auto;
		}
		@include respond-to(phoneb){
			width: 50%;
			overflow: hidden;
			float: left;
			display: block;
		}
		@include respond-to(phonebb){
			.title{
				left: 17%;
			}
		}
		&:hover{
			.image{
				img{
					transform: scale(1.2);
					transition: 10s;
				}
			}
			.title{
				a{
					color: #c8c8c8;
					text-decoration: none;
				}
			}
		}
	}
	.image{
		overflow: hidden;
		@include respond-to(phone){
			margin: 0 auto;
			display: table;
		}
		img{
			display: block;
			transform: scale(1);
			transition: 4s;
		}
	}
	.title{
		position: absolute;
		bottom: 20px;
		left: 40px;
		padding-right: 40px;
		a{
			font-size: 24px;
			font-weight: 700;
			color: #fff;
			line-height: 1;
			transition: .4s;
		}
	}
	.col_text{
		padding-left: 109px;
		@include respond-to(tabv){
			padding-top: 30px;
		}
		@include respond-to(phone){
			padding-left: 20px;
			margin-bottom: 0;
			width: 100%;
		}
		.main_title{
			color: #454545;
			font-size: 50px;
			line-height: 0.96;
			font-weight: 700;
			margin: 10px 0 16px;
			@include respond-to(phone){
				font-size: 30px;
			}
		}
		.description{
			color: #8d8d8d;
			font-size: 18px;
			line-height: 1.66;
			max-width: 420px;
		}
	}
}
//-----------------------------------REGISTER BLOCK----------------------------//
.registrer_block{
	background: url(../images/register_bg.jpg) no-repeat center 0 transparent;
	height: 487px;
	display: flex;
	align-items: center;
	.block_content{
		.main_title{
			color: #f5f5f5;
			font-size: 50px;
			line-height: 0.96;
			font-weight: 700;
			margin: 0px 0 20px;
			@include respond-to(phone){
				font-size: 32px;
			}
		}
		.description{
			color: #f5f5f5;
			max-width: 400px;
			font-size: 18px;
			line-height: 1.66;
			margin-bottom: 50px;
		}
		.register_btn{
			display: inline-block;
			line-height: 55px;
			padding: 0 64px;
			border: 2px solid #f5f5f5;
			color: #ffffff;
			font-size: 24px;
			font-weight: 700;
			cursor: pointer;
			transition: .3s;
			text-decoration: none;
			&:hover{
				background: #fff;
				color: #121211;
			}
		}
	}
}
//-----------------------------------SOCIALS BLOCK----------------------------//
.socials_block{
	.block_content{
		position: relative;
		height: 175px;
		padding: 50px 40px 0;
		@include respond-to(phone){
			height: auto;
			padding: 30px 15px 20px;
		}
	}
	.block_title{
		position: absolute;		
		bottom: 0;
		left: 38px;
		font-size: 180px;
		font-weight: 700;
		color: #f5f5f5;
		text-transform: uppercase;
		line-height: 0.6;
		letter-spacing: 5.6px;
		@include respond-to(tabh){
			font-size: 145px;
		}
		@include respond-to(tabv){
			font-size: 100px;
		}
		@include respond-to(phone){
			font-size: 38px;
			position: static;
			color: #999;
			font-size: 36px;
			margin-bottom: 20px;
			text-align: center;
			line-height: 1;
		}
	}
	.col-xs-1-5,
	.col-sm-1-5,
	.col-md-1-5,
	.col-lg-1-5 {
	  position: relative;
	  min-height: 1px;
	  padding-right: 10px;
	  padding-left: 10px;
	}
	@include respond-to(phone){
		.row{
			font-size: 0;
			text-align: center;
		}
	}
	.col-lg-1-5 {
	  width: 20%;
	  float: left;
	  text-align: center;
	  @include respond-to(phone){
	  	width: 50%;
		display: inline-block;
		vertical-align: top;
	  	margin-bottom: 35px;
	  	float: none;
	  	font-size: 14px;
	  }
	}
	img{
		display: block;
		margin: 0 auto 15px;
		transition: .3s;
	}
	.col{
		&:hover{
			img{
				opacity: .6;
			}
		}
	}
}
//-----------------------------------COMPANY BLOCK----------------------------//
.company_block{
	height: 599px;
	background: url(../images/company_bg.jpg) no-repeat center 0 transparent;
	background-size: cover;
	@include respond-to(phone){
		height: auto;
		padding-bottom: 30px;
	}
	.col_logo{
		margin-top: 115px;
		@include respond-to(phone){
			margin-top: 30px;
		}
	}
	.col_text{
		padding: 197px 0 0 111px;
		color: #454545;
		@include respond-to(tab){
			padding-left: 50px;
		}
		@include respond-to(tabv){
			padding-top: 140px;
		}
		@include respond-to(phone){
			padding: 40px 0 0 20px;
		}
		@include respond-to(phonebb){
			text-align: center;
		}
	}
	.main_title{
		font-size: 50px;
		line-height: 0.96;
		font-weight: 700;
		margin: 0px 0 20px;
		@include respond-to(phone){
			font-size: 32px;
		}
	}
	.description{
		max-width: 400px;
		font-size: 18px;
		line-height: 1.7;
		@include respond-to(phonebb){
			margin: 0 auto;
		}
	}
	.image{
		max-width: 540px;
		height: 374px;
		padding-top: 74px;
		background: #fff;
		@include respond-to(phone){
			width: auto;
			display: table;
			margin: 0 auto;
			height: 250px;
			padding: 35px 15px 0;
		}
		@include respond-to(tab){
			width: 100%;
		}
		img{
			display: block;
			margin: 0 auto;
			@include respond-to(phone){
				max-width: 100%;
				height: auto;
			}
		}
		.logo_content{
			@include respond-to(phone){
				max-width: 230px;
			}
		}
	}
	.row{
		margin: 0;
	}
}