.header {
	padding-top: 13px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	.main_menu{
		position: relative;
		z-index: 50;
		top: 13px;
	}
	.menu{ 
		max-width: 1685px;
		margin: 0 auto;
		background: none;
		border: none;
		min-height: auto;
		margin-bottom: 5px;
		display: block;
		@include respond-to(lg){
			padding: 0 15px;
		}
		@include respond-to(tab){
			padding: 0 15px;
		}
		@include respond-to(phone){
			padding: 0 5px;
			margin-bottom: 25px;
		}
		.menu_item{
			float: left;
			list-style: none;
			position: relative;
			&.not-register{
				&::before{
					display: none !important;
				}
			}
			@include respond-to(phone){
				padding-right: 0 !important;
				float: left !important;
				width: 33.3%;
				text-align: center;
				&::before{
					display: none !important;
				}
			}
			&:hover{
				.dropdown{
					display: block;
				}
			}
			.dropdown{
				padding: 25px 30px;
				background: #fff;
				position: absolute;
				top: 30px;
				left: -48px;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
				display: none;
				&::before{
					content: '';
					display: block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 10px 7px 10px;
					border-color: transparent transparent #fff transparent;
					position: absolute;
					top: -7px;
					left: 50%;
					margin-left: -10px;
				}
				li{
					list-style: none;
				}
				a{
					color: #191919;
					line-height: 30px;
					display: block;
					white-space: nowrap;
				}
			}
			a{
				color: #fff;
				padding: 0;
				line-height: 1;
				&:hover{
					background: none;
					text-decoration: underline;
				}
			}
			&:nth-last-child(-n+3){
				float: right;
			}
			&_1{
				padding-right: 50px;
				position: relative;
				@include respond-to(phone){
					padding-right: 20px;
				}
				&::before{
					content: '';
					display: block;
					width: 10px;
					height: 1px;
					background-color: #8d8d8d;
					position: absolute;
					right: 17.5px;
					top: 8px;
					@include respond-to(phone){
						right: 4.5px;
					}
				}
			}	
			&_2{
				padding-right: 50px;
				position: relative;
				@include respond-to(phone){
					padding-right: 20px;
				}
				&::before{
					content: '';
					display: block;
					width: 10px;
					height: 1px;
					background-color: #8d8d8d;
					position: absolute;
					right: 17.5px;
					top: 8px;
					@include respond-to(phone){
						right: 4.5px;
					}
				}
			}	
			&_6,
			&_3{
				padding-right: 45px;
				position: relative;
				@include respond-to(phone){
					padding-right: 20px;
				}
				&::before{
					content: '';
					display: block;
					width: 10px;
					height: 1px;
					background-color: #8d8d8d;
					position: absolute;
					right: 17.5px;
					top: 8px;
					@include respond-to(phone){
						right: 4.5px;
					}
				}
			}
			&_5{
				padding-bottom: 5px;
			}
		}
	}
	.header_content{
		max-width: 1685px;
		margin: 0 auto;
		padding: 0 6px 0 0;
		position: relative;
		@include respond-to(tab){
			padding: 0 15px;
		}
		@include respond-to(phone){
			padding: 0 15px;
		}
		@include respond-to(lg){
			padding: 0 15px;
		}
		.dropdown_menu{
			margin-top: 30px;
			float: left;
			overflow: hidden;
			margin-left: -30px;
			padding-left: 30px;
		}
		.menu_btn{
			width: 39px;
			cursor: pointer;
			margin-top: 40.5px;
			position: relative;
			z-index: 10;
			&:hover{
				.item{
					width: 100%;	
				}
			}	
			.item{
				line-height: 1;
				text-indent: -9999px;
				width: 100%;	
				background: #FFF;
				height: 3px;
				margin-bottom: 5px;
				transition: .3s;	
				&_1{
					width: 85%;
				}
				&_3{
					margin-bottom: 0;
					width: 69%;
				}
			}
			&.active{
				height: 26px;
				.item{
					&_1{
						transform: translate3d(0,8px,0) rotate(45deg);
						width: 100%;
					}
					&_2{
						transform: translate3d(0,0px,0) rotate(-45deg);	
					}
					&_3{
						display: none;
					}
				}

			}
		}
		.menu_show{
			border: 1px solid #333333;
			background-color: #0c0c0c;
			margin-left: -30px;
			padding: 88px 60px 0 30px;
			position: absolute;
			top: 42px;
			left: 0;
			z-index: 5;
			display: none;
			@include respond-to(lg){
				left: 20px;
			}
			@include respond-to(phone){
				margin-left: 0;
			}
			&.active{
				display: block;
			}
			li{
				list-style: none;
				margin-bottom: 15px;
				@include respond-to(phone){
					margin-bottom: 20px;
				}
			}
			a{
				color: #fff;
				@include respond-to(phone){
					font-size: 18px;
				}
			}
		}
		.search_block{
			float: right;
			margin-top: 65px;
			position: relative;
			@include respond-to(phone){
				margin-top: 45px;
			}
			.cart_btn{
				float: right;
				width: 24px;
				height: 21px;
				display: block;
				text-indent: -9999px;
				background:transparent url('../images/cart_icon.svg') left top no-repeat;
				margin-left: 20px;
				transition: .3s;
				@include respond-to(phone){
					margin: 0 0 10px;
					float: none;
				}
				&:hover{
					opacity: .6;
				}
			}
			.search_btn{
				background: url(../images/search_icon.svg) no-repeat 0 0 transparent;
				text-indent: -9999px;
				width: 20px;
				height: 21px;
				transition: .3s;
				cursor: pointer;
				float: right;
				@include respond-to(phone){
					float: none;
					margin-left: 3px;
				}
				&:hover{
					opacity: .6;
				}
			}
			.search_form{
				position: absolute;
				top: -6px;
				right: 0px;
				opacity: 0;
				z-index: -1;
				transition: .3s;
				.active &{
					opacity: 1;
					z-index: 50;
				}
				.form_text{
					height: 32px;
					border-radius: 0;
					padding: 0 10px;
					width: 320px;
					@include respond-to(phone){
						width: 280px;
					}
				}
				.form_submit{
					position: absolute;
					top: 5px;
					right: 10px;
					background: url(../images/search_icon2.svg) no-repeat 0 0 transparent;
					border: none;
					text-indent: -9999px;
					width: 20px;
					height: 21px;
					transition: .3s;
					cursor: pointer;
				}
			}
		}
		.logo{
			display: table;
			margin: 0 auto;
			@include respond-to(phone){
				max-width: 200px;
				img{
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
	.header_contacts{
		color: #868686;
		text-align: center;
		padding: 8px 0 8px;
		margin-top: -13px;
		background: #fff;
		@include respond-to(tab){
			background: #fff;
		}
		@include respond-to(phone){
			line-height: 1.3;
			background: #fff;
			padding: 10px 0;
		}
		.container{
			.text{
				font-size: 0;
				span{
					display: inline-block;
					vertical-align: middle;
					font-size: 14px;
					padding-right: 26px;
					position: relative;
					@include respond-to(phone){
						padding-right: 0;
					}
					&::after{
						content: '';
						display: block;
						width: 4px;
						height: 4px;
						border-radius: 50%;
						background: #fff;
						position: absolute;
						top: 50%;
						right: 10px;
						margin-top: -2px;
						@include respond-to(phone){
							display: none;
						}
					}
					&:last-child{
						padding-right: 0;
						&::after{
							display: none;
						}
					}
				}
			}
		}
		a{
			color: #868686;
		}
	}
}
.popup{
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	&.active{
		display: block;
	}
	.active &{
		display: block;
		z-index: 100;
	}
}
.header_inner{
	background: #ffffff url(../images/header_inner_bg.jpg) center 58px no-repeat;
	min-height: 263px;
	padding-top: 0;
	position: relative;
	@include respond-to(tab){
		background-position: center 65px;
	}
	@include respond-to(phone){
		background: #524941;
	}
	.header_contacts{
		color: #868686;
		text-align: center;
		padding: 22px 0 16px;
		@include respond-to(tab){
			background: #fff;
		}
		@include respond-to(phone){
			line-height: 1.3;
			background: #fff;
			padding: 10px 0;
		}
		.container{
			.text{
				font-size: 0;
				padding-top: 10px;
				span{
					display: inline-block;
					vertical-align: middle;
					font-size: 14px;
					padding-right: 26px;
					position: relative;
					@include respond-to(phone){
						padding-right: 0;
					}
					&::after{
						content: '';
						display: block;
						width: 4px;
						height: 4px;
						border-radius: 50%;
						background: #fff;
						position: absolute;
						top: 50%;
						right: 10px;
						margin-top: -2px;
						@include respond-to(phone){
							display: none;
						}
					}
					&:last-child{
						padding-right: 0;
						&::after{
							display: none;
						}
					}
				}
			}
		}
		a{
			color: #868686;
		}
	}
	.main_menu{
		padding-top: 17px;
		top: 0;
	}
	.menu{
		.menu_item{
			a{
				color: #fff;
			}
		}
	}
	.header_content{
		.dropdown_menu{
			margin-top: 25px;
		}
		.menu_btn{
			.item{
				background: #fff;
			}
		}
		.search_block{
			.search_btn{
				background-image: url(../images/search_icon.svg);
			}
		}
		.logo{
			position: relative;
			top: -18px;
		}
	}
}