.page_locations{
	.container-fluid{
		max-width: 1710px;
	}
	.page_title{
		margin-bottom: 26px;
	}
	.filter_wrapper .male_filter ul li{
		margin-right: 30px;
	}
}
.view_locations{
	font-size: 0;
	margin: 0 -7px;
	@include respond-to(phone){
		margin: 0;
	}
	.col{
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		width: 20%;
		padding: 0 7px;
		margin-bottom: 14px;
		@include respond-to(tab){
			width: 33.3%;
		}
		@include respond-to(phone){
			width: 100%;
		}
		&:hover{
			img{
				transform: scale(1.1);
				transition: 6s;
			}
			.name{
				a{
					text-decoration: none;
					color: #fff;
					background: #3f3f40;
				}
			}
		}
	}
	.image{
		border: 1px solid rgba(232,232,232,.7);
		border-bottom: none;
		overflow: hidden;
	}
	img{
		max-width: 100%;
		width: 100%;
		transition: 2s;
		transform: scale(1);
	}
	.name{
		a{
			display: block;
			text-align: center;
			padding: 17px 10px 18px;
			color: #3f3f40;
			transition: .4s;
			background: #fff;
		}
	}
}