.login_form{
	.form_content{
		max-width: 540px;
		background: #fff;
		margin: 0 auto 45px;
		padding: 45px 80px 27px;
		@include respond-to(phone){
			padding: 20px;
		}
	}
	.form-group{
		width: 100%;
		margin-bottom: 20px;
	}
	.main_label{
		font-weight: 400;
		width: 110px;
		padding-right: 1px;
		color: #3f3f40;
		line-height: 37px;
		margin-bottom: 0;
		float: left;
		@include respond-to(phone){
			width: 100%;
			margin-bottom: 3px;
		}
		&.base_label{
			line-height: 1.1;
			padding-top: 5px;
		}
	}
	.form_text{
		width: 270px;
		height: 37px;
		background: #f8f8f8;
		border-radius: 0;
		border: none;
		padding: 0 15px;
		box-shadow: none;
		float: left;
		@include respond-to(phone){
			width: 100%;
		}
	}
	.form_checkbox{
		@include respond-to(phone){
			width: 50%;
			padding-right: 10%;
			margin-right: 0;
		}
		input{
			display: none;
			&:checked{
				&+label{
					&::before{
						border: 5px solid #3f3f40;
						transition: 0.3s;
					}
				}
			}
		}
		label{
			font-weight: 300;
			padding-left: 30px;
			color: #a4a4a4;
			position: relative;
			margin-bottom: 0;
			display: block;
			line-height: 35px;
			cursor: pointer;
			@include respond-to(phone){
				line-height: 1.2;
				margin-bottom: 10px;
			}
			&::before{
				content: '';
				display: block;
				position: absolute;
				width: 20px;
				height: 20px;
				background-color: #f8f8f8;
				top: 50%;
				left: 0;
				margin: -12px 0 0;
				border: 5px solid transparent;
				transition: 0.3s;
			}
		}
	}
	.form_info{
		padding-top: 14px;
		.form-group{
			float: left;
			width: auto;
			margin-bottom: 0;
		}
		.reset_pass{
			float: right;
			text-decoration: underline;
			color: #191919;
			line-height: 35px;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.form_actions{
		text-align: center;
		.btn{
			border-radius: 0;
			display: inline-block;
			color: #3f3f40;
			font-size: 18px;
			border: 2px solid #3f3f40;
			font-weight: 700;
			padding: 7px 57px;
			margin-bottom: 250px;
			background: none;
			transition: .3s;
			@include respond-to(phone){
				margin-bottom: 60px;
			}
			&:hover{
				color: #fff;
				background: #000;
			}
		}
	}
}	