@mixin respond-to($media) {
  @if $media == phone {
    @media (max-width: 767px) { @content; }
  }
  @else if $media == phoneb {
     @media (min-width: 400px) and (max-width: 767px) { @content; }
  }
  @else if $media == phonebb {
     @media (min-width: 650px) and (max-width: 767px) { @content; }
  }
  @else if $media == tabv {
    @media (min-width: 768px) and (max-width: 991px) { @content; }
  }
  @else if $media == tabh {
    @media (min-width: 992px) and (max-width: 1200px) { @content; }
  }
  @else if $media == tab {
    @media (min-width: 768px) and (max-width: 1200px) { @content; }
  }
  @else if $media == lg {
    @media (min-width: 1201px) and (max-width: 1650px) { @content; }
  }
  @else if $media == xl {
    @media (min-width: 1651px) and (max-width: 1919px) { @content; }
  }
  @else if $media == xxl {
    @media (min-width: 1920px) { @content; }
  }
}