.page_model{
	.container-fluid{
		max-width: 1700px;
	}
	.top_inner{
		position: relative;
		padding-bottom: 0;
		.page_title{
			margin-bottom: 29px;
		}
	}
	.wrapper{
		overflow: hidden;
	}
}
.page_arrows_wrap{
	position: absolute;
	top: 93px;
	left: 0;
	width: 100%;
	@include respond-to(phone){
		position: static;
	}
	.prev_arr{
		float: left;
	}
	.next_arr{
		float: right;
	}
	.page_arr{
		a{
			font-size: 18px;
			text-decoration: underline;
			font-weight: 700;
			color: #3f3f40;
			display: block;	
			line-height: 50px;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.node_model{
	margin-bottom: 45px;
	@include respond-to(phone){
		margin-bottom: 0;
	}
	img{
		max-width: 100%;
		height: auto;
		@include respond-to(lg){
			max-width: none;
			width: 240px;
			height: 320px;
		}
		@include respond-to(tabh){
			// max-width: none;
		}
	}
	.photo_wrapper{
		height: 650px;
		overflow: hidden;
		font-size: 0;
		// display: table;
		margin: 0 auto;
		@include respond-to(tabv){
			height: auto;
			overflow: visible;
		}
		a{
			display: block;
			overflow: hidden;
		}
	}
	.main_photos{
		width: 33%;
		display: inline-block;
		vertical-align: top;
		@include respond-to(tabv){
			width: 100%;
			text-align: center;
		}
		img{
			height: 670px;
			width: 550px;
			@include respond-to(tabv){
				width: auto;
				height: auto;
				max-width: 100%;
			}
			@include respond-to(phone){
				width: auto;
				max-width: 100%;
				height: auto;
			}
		}
		@include respond-to(tabv){
			img{
				display: block;
				margin: 0 auto 30px;
			}
		}
		@include respond-to(phone){
			width: 100%;
			img{
				display: block;
				margin: 0 auto 30px;
			}
		}
	}
	.thumb_photos{
		// padding-left: 35px;
		width: 67%;
		display: inline-block;
		vertical-align: top;
		@include respond-to(tabh){
			padding-left: 15px;
		}
		@include respond-to(tabv){
			width: 100%;
			margin-left: -10px;
		}
		@include respond-to(phone){
			// padding-left: 15px;
			width: 100%;
		}
		.col{
			margin-bottom: 30px;
			width: 25%;
			display: inline-block;
			vertical-align: top;
			padding-left: 38px;
			@include respond-to(lg){
				padding-left: 0;
				width: 23%;
				margin-left: 15px;
				overflow: hidden;
			}
			@include respond-to(tabh){
				padding-left: 10px;
			}
			@include respond-to(tabv){
				padding-left: 10px;
			}
			@include respond-to(phone){
				padding: 0 5px;
				width: 50%;
				margin-bottom: 10px;
			}
			img{
				display: block;
				margin: 0 auto;
				@include respond-to(phone){
					display: table;
					margin: 0 auto;
				}
			}
			.photo{
				display: table;
				height: 320px;
				width: 100%;
				a{
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
	}
	.model_info{
		padding-top: 20px;
		margin-bottom: 25px;
		.item{
			background: #fff;
			border-right: 1px solid #ddd;
			text-align: center;
			color: #959595;
			font-size: 20px;
			font-weight: 400;
			height: 130px;
			display: table;
			.item_content{
				display: table-cell;
				vertical-align: middle;
			}
			&:last-child{
				border: none;
			}
			&:nth-child(even){
				@include respond-to(phone){
					border: none;	
				}
			}
		}
		.value{
			color: #c7c7c7;
			font-size: 55px;
			line-height: 1.09;
			font-weight: 700;

		}
	}
	.action_wrap{
		float: right;
		font-size: 0;
		padding-bottom: 125px;
		@include respond-to(phone){
			float: none;
			display: table;
			margin: 0 auto;
			padding-bottom: 45px;
		}
		.item{
			display: inline-block;
			vertical-align: middle;
			text-indent: -9999px;
			margin-left: 20px;
			transition: .3s;
			&:hover{
				opacity: .6;
			}
			&_download{
				background: transparent url('../images/download_icon.svg') left top no-repeat;
				width: 25px;
				height: 25px;
			}
			&_email{
				background: transparent url('../images/email_icon.svg') left top no-repeat;
				width: 27px;
				height: 22px;
			}
			&_print{
				background: transparent url('../images/print_icon.svg') left top no-repeat;
				width: 23px;
				height: 24px;
			}
			&_cart{
				background: transparent url('../images/cart_icon2.svg') left top no-repeat;
				width: 26px;
				height: 24px;
			}
		}
	}
}
.model_slider_default{
	clear: both;
	margin-bottom: 60px;
	.block_content{
		margin: 0 -7px;
	}
	.title_wrapper{
		margin-bottom: 48px;
	}
	img{
		margin: 0 auto;
	}
	.block_title{
		float: left;
		h2{
			color: #3f3f40;
			font-size: 36px;
			font-weight: 700;
			margin: 0;
			float: left;
			line-height: .8;
		}
		.slider_arrows{
			float: left;
			margin-left: 45px;
			@include respond-to(phone){
				margin-left: 10px;
			}
		}
		.slide_arr{
			float: left;
			width: 16px;
			height: 30px;
			margin-right: 35px;
			text-indent: -9999px;
			cursor: pointer;
			transition: .3s;
			@include respond-to(phone){
				margin-right: 10px;
			}
			&:hover{
				opacity: .6;
			}
			&.slide_prev{
				background:transparent url('../images/slider_model_prev.png') left top no-repeat;
			}
			&.slide_next{
				background:transparent url('../images/slider_model_next.png') left top no-repeat;
			}
		}
	}
	.view_all{
		float: right;
		color: #3f3f40;
		font-size: 18px;
		margin-top: 7px;
		text-decoration: underline;
		@include respond-to(phone){
			float: left;
			padding-top: 10px;
			clear: both;
		}
		&:hover{
			text-decoration: none;
		}
	}
	.slick-arrow{
		display: none !important;
	}
}
.model_slider{
	.block_content{
		margin: 0 -7px;
	}
	.col{
		margin: 0 7px;
	}
}