.filter_wrapper{
	margin-bottom: 32px;
	position: relative;
	.male_filter{
		ul{
			font-size: 0;
			border-bottom: 1px solid #ddd;
			display: table;
			margin-bottom: 0; 
			@include respond-to(tabh){
				display: flex;
				justify-content: space-between;
			}
			@include respond-to(phone){
				border: none;
				margin: 0 auto 15px;
				padding-left: 0 !important;
			}
			li{
				display: inline-block;
				vertical-align: top;
				list-style: none;
				font-size: 18px;
				margin-right: 50px;
				@include respond-to(tabh){
					margin-right: 0;
				}
				@include respond-to(tabv){
					margin-right: 15px;
				}
				@include respond-to(phone){
					margin-right: 0;
					width: 100%;
				}
				&:last-child{
					margin-right: 0;
				}
				a{
					display: block;
					color: #959595;
					line-height: 56px;
					transition: .3s;
					position: relative;
					@include respond-to(phone){
						display: table;
						margin: 0 auto;
					}
					&::after{
						content: '';
						display: block;
						position: absolute;
						bottom: -1px;
						left: 0;
						width: 0;
						height: 2px;
						background: #191919;
						transition: .3s;
					}
					&.active{
						color: #191919;
						position: relative;
						&::after{
							width: 100%;
						}
					}
					&:hover{
						text-decoration: none;
						color: #191919;
						&::after{
							width: 100%;
						}
					}
				}
			}
		}
	}
	.parameters_wrap{
		text-align: right;
		position: static;
		@include respond-to(tab){
			text-align: left;
		}
		@include respond-to(phone){
			text-align: center;
		}
		.parameters_btn{
			display: inline-block;
			padding-left: 35px;
			background: transparent url(../images/filter_icon.svg) 0 center no-repeat;
			font-size: 18px;
			color: #a4a4a4;
			padding-right: 5px;
			position: relative;
			line-height: 56px;
			cursor: pointer;
			&::after{
				content: '';
				display: block;
				width: 80%;
				position: absolute;
				right: 0;
				bottom: 17px;
				border-bottom: 1px dashed #9c9b9c;
				opacity: 1;
				transition: .3s;
			}
			&:hover{
				&::after{
					opacity: 0;
				}
			}
		}
	}
	.all_parameters{
		position: absolute;
		top: 87px;
		left: 0;
		width: 100%;
		z-index: -5;
		background: #fff;
		padding: 30px 20px;
		text-align: left;
		opacity: 0;
		transition: .5s;
		&.active{
			opacity: 1;
			z-index: 10;
		}
	}
	.form_col{
		width: 33.3%;
		padding-right: 7%;
		float: left;
		@include respond-to(lg){
			padding-right: 2%;
		}
		@include respond-to(tab){
			padding-right: 2%;
		}
		@include respond-to(tabv){
			width: 50%;
		}
		@include respond-to(phone){
			width: 100%;
		}
	}
	.main_label{
		color: #3f3f40;
		margin-bottom: 9px;
	}
	.form_text{
		height: 37px;
		background-color: #f8f8f8;
		box-shadow: none;
		border: none;
		border-radius: 0;
	}
	.form-group{
		margin-bottom: 30px;
	}
	.form_checkboxes{
		font-size: 0;
		margin-bottom: 4px;
		margin-right: -30px;
		@include respond-to(lg){
			margin-right: -5px;
		}
		@include respond-to(tab){
			margin-right: -5px;
		}
		@include respond-to(phone){
			margin-right: 0;
		}
		.form_checkbox{
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			width: 33.3%;
			padding-right: 30px;
			@include respond-to(lg){
				padding-right: 5px;
			}
			@include respond-to(tab){
				width: 50%;
				padding-right: 5px;
			}
			@include respond-to(phone){
				width: 50%;
				padding-right: 10%;
				margin-right: 0;
			}
			input{
				display: none;
				&:checked{
					&+label{
						&::before{
							border: 5px solid #3f3f40;
							transition: 0.3s;
						}
					}
				}
			}
			label{
				font-weight: 300;
				padding-left: 30px;
				color: #3f3f40;
				position: relative;
				margin-bottom: 0;
				display: block;
				line-height: 37px;
				cursor: pointer;
				@include respond-to(phone){
					line-height: 1.2;
					margin-bottom: 10px;
				}
				&::before{
					content: '';
					display: block;
					position: absolute;
					width: 20px;
					height: 20px;
					background-color: #f8f8f8;
					top: 50%;
					left: 0;
					margin: -12px 0 0;
					border: 5px solid transparent;
					transition: 0.3s;
				}
			}
		}
	}
	.form_actions{
		.btn{
			height: 43px;
			border: 2px solid #3f3f40;
			float: left;
			color: #3f3f40;
			font-size: 18px;
			font-weight: 700;
			background: none;
			padding: 0 55px;
			border-radius: 0;
			transition: .3s;
			&:hover{
				background: #000;
				color: #fff;
			}
		}
		.close_form{
			display: block;
			margin-left: 27px;
			color: #a4a4a4;
			font-size: 18px;
			padding: 10px 0;
			float: left;
			position: relative;
			@include respond-to(phone){
				margin-left: 0;
			}
			&::after {
			    content: '';
			    display: block;
			    width: 100%;
			    position: absolute;
			    right: 0;
			    bottom: 13px;
			    border-bottom: 1px dashed #9c9b9c;
			    opacity: 1;
			    transition: .3s;
			}
			&:hover{
				text-decoration: none;
				&::after{
					opacity: 0;
				}
			}
		}
	}
	.submit_col{
		clear: both;
		@include respond-to(tabv){
			margin-top: -100px;
		}
	}
}
.view_models{
	padding: 0 10px;
	.view_content{
		font-size: 0;
	}
	.col{
		font-size: 14px;
		float: none;
		display: inline-block;
		vertical-align: top;
		padding: 0 5px;
		margin-bottom: 24px;
		@include respond-to(tab){
			width: 20%;
		}
		@include respond-to(phonebb){
			width: 33.3%;
		}
		&:hover{
			img{
				transform: scale(1.1);
				transition: 6s;
			}
			.name{
				a{
					text-decoration: none;
					color: #fff;
					background: #3f3f40;
				}
			}
		}
		.image{
			border: 1px solid rgba(232,232,232,.7);
			border-bottom: none;
			overflow: hidden;
		}
		img{
			max-width: 100%;
			width: 100%;
			transition: 2s;
			transform: scale(1);
		}
		.name{
			a{
				display: block;
				text-align: center;
				padding: 17px 10px 18px;
				color: #3f3f40;
				transition: .4s;
				background: #fff;
			}
		}
	}
}