.page_news{
	.top_inner{
		padding-bottom: 0;
	}
	.page_title{
		margin-bottom: 25px;
	}
}
.view_news{
	margin-bottom: 38px;
	.view_content{
		padding-top: 3px;
		.view_row{
			margin-bottom: 38px;
		}
		.image{
			padding: 8px;
			background: #fff;
			margin-bottom: 27px;
			a{
				display: block;
				overflow: hidden;
			}
			&:hover{
				img{
					transform: scale(1.1);
					transition: 10s;
				}
			}
			img{
				transition: 4s;
				transform: scale(1);
				@include respond-to(phone){
					max-width: 100%;
					height: auto;
				}
			}
		}
		.date{
			color: #8d8d8d;
			margin-bottom: 12px;
		}
		.title{
			margin-bottom: 18px;
			a{
				color: #3f3f40;
				font-size: 18px;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
		.description{
			color: #8d8d8d;
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 25px;
		}
		.more_btn{
			float: left;
			color: #3f3f40;
		    padding: 10px 22px 10px 15px;
			text-transform: uppercase;
			border: 2px solid #e6e6e6;
			background: #f5f5f5 url('../images/btn_arr.svg') right 11px center no-repeat;
			transition: .3s;
			&:hover{
				background-color: #e6e6e6;
				text-decoration: none;
			}
		}
		.share_wrap{
			float: right;
			position: relative;
			&:hover{
				.share_content{
					height: auto;
					overflow: visible;
					opacity: 1;
				}
			}
			.share_btn{
				display: inline-block;
				color: #3f3f40;
				padding: 12px 17px;
				text-transform: uppercase;
				background-color: #e6e6e6;
				transition: .3s;
				cursor: pointer;
				&:hover{
					opacity: .7;
				}
			}
			.share_content{
				position: absolute;
				right: 0;
				white-space: nowrap;
				opacity: 0;
				bottom: 100%;
				height: 0;
				overflow: hidden;
				transition: .5s;
			}
		}
	}
	.view_sidebar{
		.block{
			background: #fff;
			padding: 24px 0;
			margin-bottom: 22px;
		}
		.block_title{
			color: #c3c3c3;
			font-size: 24px;
			padding-left: 27px;
			margin-bottom: 23px;
		}
	}
	.block_popular{
		.view_row{
			padding: 24px 30px;
			border-bottom: 1px solid #ddd;
			@include respond-to(tabv){
				padding: 15px 20px;
			}
			&::after{
				content: '';
				display: table;
				clear: both;
			}
			&:last-child{
				border-bottom: none;
				padding-bottom: 0;
			}
			&:first-child{
				padding-top: 0;
			}
		}
		.image{
			float: left;
			margin-right: 17px;
			overflow: hidden;
			padding-top: 5px;
			@include respond-to(tabv){
				float: none;
				margin: 0 0 5px;
			}
			@include respond-to(phone){
				float: none;
				margin: 0 0 5px;
			}
			a{
				display: block;
				overflow: hidden;
			}
			&:hover{
				img{
					transform: scale(1.2);
					transition: 3s;
				}
			}
			img{
				transition: 1s;
				transform: scale(1);
			}
		}
		.title_wrap{
			overflow: hidden;
		}
		.title{
			line-height: 18px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		.description{
			color: #8d8d8d;
			line-height: 18px;
		}
	}
	.block_recent{
		.view_row{
			padding: 12px 30px;
			border-bottom: 1px solid #ddd;
			@include respond-to(tabv){
				padding: 10px 20px;
			}
			&::after{
				content: '';
				display: table;
				clear: both;
			}
			&:first-child{
				padding-top: 0;
			}
		}
		.title{
			margin-bottom: 2px;
		}
		.date{
			color: #8d8d8d;
		}
	}
}