.page_office{
	.container-fluid{
		padding: 0;	
	}
	.top_inner{
		padding-bottom: 0;
		position: relative;
	}
	.page_title{
		margin-bottom: 9px;
	}
	.page_arrows_wrap{
		width: 920px;
		left: 50%;
		margin-left: -460px;
		z-index: 50;
		top: 111px;
		@include respond-to(tabv){
			width: 700px;
			margin-left: -350px;
		}
		@include respond-to(phone){
			width: 98%;
			margin-left: 0;
			transform: translateX(-50%);
			position: absolute;
			top: 99px;
		}
		.page_arr{
			width: 16px;
			height: 30px;
			margin-right: 35px;
			text-indent: -9999px;
			cursor: pointer;
			transition: .3s;
			&:hover{
				opacity: .7;
			}
			&.prev_arr {
			    background: url(../images/slider_model_prev.png) left top no-repeat;
			}
			&.next_arr {
			    background: url(../images/slider_model_next.png) left top no-repeat;
			    margin-right: 0;
			}
		}
	}
}
.view_office{
	position: relative;
	height: 885px;
	overflow: hidden;
	margin-bottom: 165px;
	@include respond-to(tabv){
		margin-bottom: 50px;
		height: 700px;
	}
	@include respond-to(phone){
		margin-bottom: 50px;
		height: 200px;
	}
	.view_content{
		width: 2950px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -1475px;
		@include respond-to(tabv){
			width: 2000px;
			margin-left: -1000px;
		}
		@include respond-to(phone){
			width: 800px;
			margin-left: -400px;
		}
	}
	.image{
		margin: 0 15px;
		opacity: .3;
		transition: .3s;
		img{
			max-width: 100%;
			height: auto;
		}
		&.slick-current{
			opacity: 1;
		}
	}
}