.pagination-div{
	display: table;
	margin: 0 auto;
	a{
		background: none !important;
		border: none !important;
		color: #8d8d8d !important;
		font-size: 18px;
		transition: 0.4s;
		&:hover{
			color: #454545 !important;
		}
	}
	li{
		&.active{
			a{
				color: #454545 !important;
				font-weight: 700;
			    padding: 5px 12px !important;
			}
		}
		&.prev,
		&.next{
			a{
				padding: 4px 15px !important;
			    font-size: 24px !important;
    			line-height: 1 !important;
			}
		}
		span{
			background: none !important;
			border: none !important;
		}
	}
}