.page_photographers{
	.container-fluid{
		max-width: 1700px;
	}
}
.view_photographers{
	padding: 0;
	margin-bottom: 40px;
	.view_content{
		margin: 0 -7px;
	}
	.col{
		width: 16.6%;
		padding: 0 7px;
		margin-bottom: 14px;
		@include respond-to(tabh){
			width: 25%;
		}
		@include respond-to(tabv){
			width: 33.3%;
		}
		@include respond-to(phone){
			width: 50%;
		}
	}
}