.page_profile{
	.top_inner{
		padding-bottom: 19px;
	}
	.page_title{
		text-align: left;
		padding-left: 15px;
	}
}
.view_profile{
	margin-bottom: 70px;
	.view_header{
		.form-group{
			background: #fff;
			height: 60px;
			padding: 0 24px;
			margin-bottom: 17px;
		}
		.form_submit{
			float: left;
			height: 100%;
			border: none;
			width: 21px;
			background: transparent url('../images/search_btn.svg') center no-repeat;
			text-indent: -9999px;
		}
		.form_text{
			float: left;
			height: 100%;
			width: 85%;
			float: left;
			border: none;
			box-shadow: none;
			color: #3f3f40;
		}
		.select_form{
			float: right;
			color: #3f3f40;
			label{
				font-weight: 400;
				line-height: 64px;
			}
			select{
			    padding: 0 11px 0 7px;
			    margin-top: 2px;
				height: 100%;
				border: none;
				appearance: none;
				cursor: pointer;
				background: transparent url('../images/select_arr.svg') right 1px center no-repeat;
				font-size: 18px;
			}
		}
	}
	.profile_table{
		width: 100%;
		background: #fff;
		padding-bottom: 35px;
		table{
			width: 100%;
		}
		th{
			padding-left: 16px;
			height: 66px;
			border-bottom: 1px solid #dddddd;
		}
		td{
			border-bottom: 1px solid #dddddd;
			padding: 15px 5px 15px 16px;
			@include respond-to(tabv){
				float: left;
				width: 50%;
				height: 118px;
				padding: 15px 5px 15px 5px;
				.th_label{
					font-weight: 700;
				}
				img{
					margin-top: 3px;
				}
			}
			@include respond-to(phone){
				float: left;
				width: 100%;
				text-align: center;
				padding: 15px 5px 15px 5px;
				.th_label{
					font-weight: 700;
				}
				img{
					margin-top: 3px;
				}
			}
			@include respond-to(phonebb){
				width: 50%;
				height: 118px;
			}
		}
		.delete_profile{
			width: 16px;
		    height: 16px;
		    background: url(../images/close.svg) left top no-repeat;
		    text-indent: -9999px;
		    cursor: pointer;
		    opacity: .6;
		    transition: .4s;
		    display: block;
		    margin-right: 15px;
		    &:hover{
		    	opacity: 1;
		    }
		}
		tr{
			@include respond-to(tabv){
				border-bottom: 3px solid #dddddd;
			}
			@include respond-to(phone){
				border-bottom: 3px solid #dddddd;
			}
		}
	}
	.link-site{
		border-radius: 0;
	    display: table;
	    color: #3f3f40;
	    font-size: 18px;
	    border: 2px solid #3f3f40;
	    font-weight: 700;
	    padding: 7px 57px;
	    background: 0 0;
	    transition: .3s;
	    margin: 30px auto 0;
	    &:hover{
	    	background: #3f3f40;
	    	color: #fff;
	    	text-decoration: none;
	    }
	}
}