.page_public{
	.top_inner{
		padding-bottom: 0;
	}
	.page_title{
		margin-bottom: 30px;
	}
}
.view_public{
	padding: 0 8px;
	p{
		color: #8d8d8d;
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 42px;
	}
	.photos_wrap{
		font-size: 0;
		margin-bottom: 155px;
		padding: 28px 0 0 95px;
		@include respond-to(tabv){
			padding-left: 0;
		}
		@include respond-to(phone){
			padding-left: 0;
			margin-bottom: 30px;
		}
	}
	.item{
		display: inline-block;
		vertical-align: top;
		@include respond-to(tab){
			width: 25%;
		}
		@include respond-to(phone){
			position: static !important;
			text-align: center;
			margin-bottom: 25px;
			width: 100%;
		}
		@include respond-to(phonebb){
			width: 50%;
		}
		&_4,
		&_2{
			position: relative;
			top: 95px;
			right: 65px;
		}
		&_4{
			right: 100px;
		}
		&_3{
			right: 35px;
			position: relative;
		}
	}
}