.page_register{
	background: #f5f5f5;
	.top_inner{
		padding-bottom: 5px;
	}
}
.register_wrap{
	.form_title{
		padding-left: 29px;
		color: #c3c3c3;
		font-size: 24px;
		margin-bottom: 25px;
		&.form_title_upload{
			padding-top: 20px;
		}
	}
	.form_wrap{
		background: #fff;
		padding: 20px 15px;
		margin-bottom: 30px;
		@include respond-to(phone){
			padding: 20px 0;
		}
	}
	.form-group{
		margin-bottom: 17px;
	}
	.main_label{
		font-weight: 400;
		padding-left: 30px;
		color: #3f3f40;
		line-height: 37px;
		width: 148px;
		margin-bottom: 0;
		@include respond-to(tabv){
			float: left;
		}
	}
	.field_select{
		select{
			appearance: none;
			width: 303px;
			height: 37px;
			background: #f8f8f8 url(../images/select_arr.svg) right 15px center no-repeat;
			border-radius: 0;
			border: none;
			padding: 0 15px;
			@include respond-to(phone){
				width: 100%;
			}
		}
	}
	.form_text{
		width: 303px;
		height: 37px;
		background: #f8f8f8;
		border-radius: 0;
		border: none;
		padding: 0 15px;
		box-shadow: none;
		@include respond-to(phone){
			width: 100%;
		}
	}
	.field_name{
		.form_text{
			float: left;
			margin-right: 35px;
			@include respond-to(tabv){
				margin-bottom: 15px;
			}
			@include respond-to(phone){
				margin-bottom: 15px;
			}

		}
	}
	.form_checkboxes{
		font-size: 0;
		margin-bottom: 4px;
		.form_checkbox{
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			margin-right: 32px;
			@include respond-to(phone){
				width: 50%;
				padding-right: 10%;
				margin-right: 0;
			}
			input{
				display: none;
				&:checked{
					&+label{
						&::before{
							border: 5px solid #3f3f40;
							transition: 0.3s;
						}
					}
				}
			}
			label{
				font-weight: 300;
				padding-left: 30px;
				color: #a4a4a4;
				position: relative;
				margin-bottom: 0;
				display: block;
				line-height: 37px;
				cursor: pointer;
				@include respond-to(phone){
					line-height: 1.2;
					margin-bottom: 10px;
				}
				&::before{
					content: '';
					display: block;
					position: absolute;
					width: 20px;
					height: 20px;
					background-color: #f8f8f8;
					top: 50%;
					left: 0;
					margin: -12px 0 0;
					border: 5px solid transparent;
					transition: 0.3s;
				}
			}
		}
	}
	.field-userinfo-phone{
		.input-group{
			position: relative;
			padding-left: 15px;
		}
		.input-group-btn{
			position: absolute;
			top: 0;
			left: 15px;
			z-index: 10;
			width: 72px;
			&::after{
				content: '';
				display: block;
				width: 1px;
				height: 18px;
				background: #d6d6d6;
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -9px;
				z-index: 5;
			}
			&::before{
				content: '';
				display: block;
				width: 8px;
				height: 5px;
				background: url(../images/select_arr.svg) 0 0 no-repeat;
				position: absolute;
				right: 10px;
				top: 50%;
				margin-top: -2.5px;
				z-index: 5;
			}
		}
		select{
			width: 100%;
			height: 37px;
			border: none;
			background: #f8f8f8;
			box-shadow: none;
			padding: 0 15px;
			appearance: none;
			color: #a4a4a4;
			cursor: pointer;
		}
		.form-group {
			margin-bottom: 0;
			label{
				margin-bottom: 0;
			}
		}
		.form_text{
			padding-left: 80px;
		}
	}
	.field_birth{
		position: relative;
		z-index: 5;
	}
	.field_address{
		.form_text{
			width: 636px;
			@include respond-to(tabv){
				width: 100%;
			}
			@include respond-to(phone){
				width: 100%;
			}
		}
	}
	.photo_upload{
		.fl_upld{
			width:300px;
			overflow: hidden;
			padding-left: 15px;
			&::after{
				content: '';
				display: table;
				clear: both;
			}
		}
		.file_style{
			display:none;
		}
		.field_text{
			width: 215px;
			height: 37px;
			line-height: 37px;
			background: #f8f8f8;
			float: left;
			padding: 0 15px;
		}
		label:not(.main_label){
			width: 70px;
			height: 37px;
			background-color: #7b7b7b;
			cursor: pointer;
			color: #fff;
			line-height: 37px;
			font-weight: 400;
			text-align: center;
			margin-bottom: 0;
			float: left;
			font-size: 14px;
			transition: .3s;
			&:hover{
				opacity: .8;
			}
		}
	}
	.col{
		padding-right: 0;
	}
	.add_image{
		padding-left: 35px;
		line-height: 22px;
		background: url(../images/add_image.svg) 0 0 no-repeat;
		display: table;
		margin: 0 auto;
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
	}
	.images_wrap{
		@include respond-to(tabv){
			padding-top: 30px;
		}
		.big_image{
			height: 330px;
			background-color: #efefef;
		}
		.image{
			height: 100px;
			margin-bottom: 15px;
			background-color: #efefef;
		}
		.image_col,
		.main_image{
			padding-right: 0;
		}
		.image_group{
			padding-left: 0;			
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
	.video_upload{
		.field{
			position: relative;
			overflow: hidden;
			width: 300px;
		}
		.field_suffix{
			width: 70px;
			height: 37px;
			background-color: #7b7b7b;
			color: #fff;
			line-height: 37px;
			font-weight: 400;
			text-align: center;
			font-size: 14px;
			transition: .3s;
			position: absolute;
			top: 0;
			right: 0px;
		}
		.form_text{
			margin-left: 15px;
			padding-right: 100px;
		}
	}
	.description{
		color: #a4a4a4;
		padding-left: 15px;
	}
	.form_actions{
		padding: 15px 18px 52px;
		.btn{
			height: 43px;
			border: 2px solid #3f3f40;
			float: left;
			color: #3f3f40;
			font-size: 18px;
			font-weight: 700;
			background: none;
			padding: 0 36px;
			border-radius: 0;
			transition: .3s;
			&:hover{
				background: #000;
				color: #fff;
			}
		}
		.description{
			float: left;
			margin-left: 30px;
			line-height: 43px;
		}
	}
}
.ui-datepicker{
	z-index: 11 !important;
}