.page_register{
	background: #f5f5f5;
	.top_inner{
		padding-bottom: 5px;
	}
}
.register_wrap{
	.form_title{
		padding-left: 29px;
		color: #c3c3c3;
		font-size: 24px;
		margin-bottom: 25px;
		&.form_title_upload{
			padding-top: 20px;
		}
	}
	.form_wrap{
		background: #fff;
		padding: 20px 15px;
		margin-bottom: 30px;
		@include respond-to(phone){
			padding: 20px 0;
		}
	}
	.form-group{
		margin-bottom: 17px;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	.main_label{
		font-weight: 400;
		padding-left: 30px;
		color: #3f3f40;
		line-height: 37px;	
		width: 148px;
		margin-bottom: 0;
		@include respond-to(tabv){
			float: left;
		}
	}
	.field_select{
		select{
			appearance: none;
			width: 303px;
			height: 37px;
			background: #f8f8f8 url(../images/select_arr.svg) right 15px center no-repeat;
			border-radius: 0;
			border: none;
			padding: 0 15px;
			@include respond-to(phone){
				width: 100%;
			}
		}
	}
	.form_text{
		width: 303px;
		height: 37px;
		background: #f8f8f8;
		border-radius: 0;
		border: none;
		padding: 0 15px;
		box-shadow: none;
		@include respond-to(phone){
			width: 100%;
		}
	}
	.field_name{
		.form_text{
			float: left;
			margin-right: 35px;
			@include respond-to(tabv){
				margin-bottom: 15px;
			}
			@include respond-to(phone){
				margin-bottom: 15px;
			}

		}
	}
	.form_checkboxes{
		font-size: 0;
		margin-bottom: 4px;
		.form_checkbox{
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			margin-right: 32px;
			@include respond-to(phone){
				width: 50%;
				padding-right: 10%;
				margin-right: 0;
			}
			input{
				display: none;
				&:checked{
					&+label{
						&::before{
							border: 5px solid #3f3f40;
							transition: 0.3s;
						}
					}
				}
			}
			label{
				font-weight: 300;
				padding-left: 30px;
				color: #a4a4a4;
				position: relative;
				margin-bottom: 0;
				display: block;
				line-height: 37px;
				cursor: pointer;
				@include respond-to(phone){
					line-height: 1.2;
					margin-bottom: 10px;
				}
				&::before{
					content: '';
					display: block;
					position: absolute;
					width: 20px;
					height: 20px;
					background-color: #f8f8f8;
					top: 50%;
					left: 0;
					margin: -12px 0 0;
					border: 5px solid transparent;
					transition: 0.3s;
				}
			}
		}
	}
	.field-userinfo-phone{
		.input-group{
			position: relative;
			padding-left: 15px;
		}
		.input-group-btn{
			position: absolute;
			top: 0;
			left: 15px;
			z-index: 10;
			width: 72px;
			&::after{
				content: '';
				display: block;
				width: 1px;
				height: 18px;
				background: #d6d6d6;
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -9px;
				z-index: 5;
			}
			&::before{
				content: '';
				display: block;
				width: 8px;
				height: 5px;
				background: url(../images/select_arr.svg) 0 0 no-repeat;
				position: absolute;
				right: 10px;
				top: 50%;
				margin-top: -2.5px;
				z-index: 5;
			}
		}
		select{
			width: 100%;
			height: 37px;
			border: none;
			background: #f8f8f8;
			box-shadow: none;
			padding: 0 15px;
			appearance: none;
			color: #a4a4a4;
			cursor: pointer;
		}
		.form-group {
			margin-bottom: 0;
			label{
				margin-bottom: 0;
			}
		}
		.form_text{
			padding-left: 89px;
		}
	}
	.field_birth{
		position: relative;
		z-index: 5;
	}
	.field_address{
		.form_text{
			width: 636px;
			@include respond-to(tabv){
				width: 100%;
			}
			@include respond-to(phone){
				width: 100%;
			}
		}
	}
	@include respond-to(phone){
		#group_parent{
			.row{
				margin: 0;
			}
			.col{
				padding-left: 0;
			}
		}
		// .showreel_row{
		// 	margin: 0;
		// 	.field{
		// 		width: 100% !important;
		// 		.form_text{
		// 			margin-left: 0;
		// 		}
		// 	}
		// }
		.video_upload{
			padding: 0 15px;
			.form_text{
				margin-left: 0 !important;
			}
			.field{
				width: 100% !important;
			}
		}
	}
	#group_parent{
		.photo_upload.base_field{
			margin-bottom: 0;
		}
		label.error{
			position: relative;
			top: -9px;
			line-height: 1.2;
		}
	}
	.photo_upload{
		.fl_upld{
			width:300px;
			overflow: hidden;
			padding-left: 15px;
			@include respond-to(phone){
				width: 100%;
				padding-right: 15px;
			}
			&::after{
				content: '';
				display: table;
				clear: both;
			}
		}
		input{
			opacity: 0;
			height: 0;
			overflow: hidden;
			&:not(.required){
				display: none;
			}
		}
		.field_text{
			width: 215px;
			height: 37px;
			line-height: 37px;
			background: #f8f8f8;
			float: left;
			padding: 0 15px;
			@include respond-to(phone){
				width: 78%;
			}
		}
		label:not(.main_label):not(.error){
			width: 70px;
			height: 37px;
			background-color: #7b7b7b;
			cursor: pointer;
			color: #fff;
			line-height: 37px;
			font-weight: 400;
			text-align: center;
			margin-bottom: 0;
			float: left;
			font-size: 14px;
			transition: .3s;
			label{
				margin-bottom: 15px;
			}
			@include respond-to(phone){
				width: 22%;
			}
			&:hover{
				opacity: .8;
			}
		}
	}
	.col{
		padding-right: 0;
		@include respond-to(phone){
			padding-right: 15px;
		}
	}
	.add_image{
		padding-left: 35px;
		line-height: 22px;
		background: url(../images/add_image.svg) 0 0 no-repeat;
		display: table;
		margin: 0 auto;
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
	}
	.images_wrap{
		@include respond-to(tabv){
			padding-top: 30px;
		}
		@include respond-to(phone){
			padding-top: 20px;
		}
		canvas{
			max-width: 100%;
			height: 100%;
			display: block;
			margin: 0 auto;
		}
		.big_image{
			height: 330px;
			background-color: #efefef;
			@include respond-to(phone){
				max-width: 270px;
				margin: 0 auto;		
			}
		}
		.image{
			height: 100px;
			margin-bottom: 15px;
			background-color: #efefef;
		}
		.image_col,
		.main_image{
			padding-right: 0;
			@include respond-to(phone){
				padding-left: 0;
			}
		}
		.image_col{
			@include respond-to(phone){
				width: 85px;
				padding: 0 5px;
				display: inline-block;
				vertical-align: top;
			}
		}
		.image_group{
			padding-left: 0;	
			@include respond-to(phone){
				padding: 10px 0 0;
				display: table;
				width: 255px;
				margin: 0 auto;
			}		
		}
		img{
			// width: 100%;
			height: 100%;
			max-width: 100%;
			display: table;
			margin: 0 auto;
		}
		.image_in{
			cursor: pointer;
			transition: .3s;
			overflow: hidden;
			&:hover{
				opacity: .8;
			}
		}
	}
	.video_upload{
		.field{
			position: relative;
			overflow: hidden;
			width: 300px;
		}
		.field_suffix{
			width: 70px;
			height: 37px;
			background-color: #7b7b7b;
			color: #fff;
			line-height: 37px;
			font-weight: 400;
			text-align: center;
			font-size: 14px;
			transition: .3s;
			position: absolute;
			top: 0;
			right: 0px;
			display: none;
		}
		.form_text{
			margin-left: 15px;
			padding-right: 15px;
		}
	}
	.description{
		color: #a4a4a4;
		padding-left: 15px;
	}
	.form_actions{
		padding: 15px 18px 52px;
		@include respond-to(phone){
			padding: 0 0 18px;
		}
		.btn{
			height: 43px;
			border: 2px solid #3f3f40;
			float: left;
			color: #3f3f40;
			font-size: 18px;
			font-weight: 700;
			background: none;
			padding: 0 36px;
			border-radius: 0;
			transition: .3s;
			&:hover{
				background: #000;
				color: #fff;
			}
		}
		.description{
			float: left;
			margin-left: 30px;
			line-height: 43px;
			@include respond-to(phone){
				padding-left: 0;
				margin-left: 0;
				line-height: 1.3;
				padding-top: 20px;
			}
		}
	}
	label.error{
		color: 	#d44444;
		line-height: 37px;
		display: block;
		clear: both;
	}

}
.ui-datepicker{
	z-index: 11 !important;
}

.crop_popup{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.6);
	z-index: 99;
	display: none;
	.crop_content{
		background: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 340px;
		margin: 0 0 0 -170px;
		padding: 35px;
		transform: translateY(-50%)
	}
	.image_crop{
		text-align: center;
		width: 270px;
		height: 230px;
		text-align: center;
		display: table;
		margin: 0 auto 15px;
		&>img{
			max-width: 100%;
			height: auto;
		}
	}
	.close_icon{
		width: 16px;
		height: 16px;
		background:transparent url('../images/close.svg') left top no-repeat;
		text-indent: -9999px;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		opacity: .8;
		transition: .4s;
		&:hover{
			opacity: 1;
		}
	}
	.btn{
		border: 1px solid #3f3f40;
	    font-size: 16px;
	    font-weight: 700;
	    line-height: 1;
	    display: inline-block;
	    padding: 8px 20px;
	    cursor: pointer;
	    transition: .3s;
	    margin-right: 15px;
	    &:hover{
	    	background: #3f3f40;
	    	color: #fff;
	    }
	}
}