.page_services{
	.top_inner{
		position: relative;
		padding-bottom: 0;
		.page_title{
			margin-bottom: 25px;
		}
	}
}
.view_services{
	margin-bottom: 50px;
	.col{
		&:nth-child(odd){
			@include respond-to(tabv){
				clear: both;
			}
		}
	}
	.image{
		overflow: hidden;
		margin-bottom: 36px;
		&:hover{
			img{
				transition: 10s;
				transform: scale(1.2);
			}
		}
		img{
			transition: 4s;
			transform: scale(1);
			max-width: 100%;
			height: auto;
		}
	}
	.title{
		margin-bottom: 18px;
		text-align: center;
		a{
			color: #3f3f40;
			font-size: 20px;
			font-weight: 700;
			white-space: nowrap;
			@include respond-to(tabh){
				font-size: 18px;
				white-space: normal;
			}
		}
	}
	.sub_services{
		li{
			list-style: none;
			&:last-child{
				a{
					border: none;
				}
			}
			a{
				display: block;
				border-bottom: 1px solid #dadada;
				padding: 8.5px 10px 8.5px 19px;
				position: relative;
				color: #8d8d8d;
				&::before{
					content: '';
					display: block;
					position: absolute;
					top: 14px;
					left: 0;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: #353536;
				}
			}
		}
	}
}