.view_signing {
	margin-bottom: 50px;
	.tab-pane{
		background: #fff;
	}
	.view_content{
		position: relative;
		.text{
			position: absolute;
			top: 50%;
			font-size: 18px;
			width: 100%;
			text-align: center;
			margin-top: -12px;
		}
	}
	.app{
		text-align: center;
		font-size: 18px;
		padding-top: 150px;
		a{
			display: block;
		}
	}
	canvas	{
		height: 450px;
		width: 100%;
	}
	.form-group{
		height: 450px;
		display: flex;
		justify-content: center;
		align-items: center;
		input{
			display: none;
		}
		label{
			border: 2px solid #3f3f40;
			font-size: 18px;
			font-weight: 700;
			line-height: 1;
			padding: 7px 12px;
			cursor: pointer;
			transition: .3s;
			&:hover{
				color: #fff;
				background: #3f3f40;
			}
		}
	}
	.image_wrap{
		max-width: 145px;
		margin-bottom: 15px;
		text-align: center;
		img{
			max-width: 100%;
			height: auto;
		}
	}
	.tab-pane{
		display: none;
		&.active{
			display: block;
		}
	}
	.tabs_nav{
		padding: 0 115px;
		font-size: 0;
		border-bottom: 1px solid #000;
		margin-bottom: 0;
		@include respond-to(phone){
			padding: 0;
		}
		.tabs_item{
			list-style: none;
			width: 33.3%;
			display: inline-block;
			vertical-align: top;
			font-size: 18px;
			text-align: center;
			@include respond-to(phone){
				width: 100%;
			}
			.tabs_link{
				text-decoration: none;
				padding: 15px 35px;
				display: inline-block;
				position: relative;
			}
			&.active{
				.tabs_link{
					&::after{
						content: '';
						display: block;
						width: 100%;
						height: 1px;
						position: absolute;
						bottom: 0;
						left: 0;
						background: #000;
					}
				}
			}
		}
	}
	.signature-pad--actions{
		display: flex;
		justify-content: center;
		padding-top: 25px;
	}
	.form_submit{	
		border: 2px solid #3f3f40;
		font-size: 24px;
		font-weight: 700;
		line-height: 1;
		padding: 11.5px 20px;
		cursor: pointer;
		transition: .3s;
		border-radius: 0;
		background: none;
		&:hover{
			color: #fff;
			background: #3f3f40;
		}
	}
}