.top_inner{
	padding-top: 25px;
	padding-bottom: 34px;
	@include respond-to(phone){
		padding-bottom: 10px;
	}
	.breadcrumb,
	.breadcrumbs{
		text-align: center;
		margin-bottom: 15px;
		font-size: 0;
		li::before{
			display: none;
		}
		li,
		span,
		a{
			line-height: 23px;
			background-color: #fffbf8;
			padding: 0 11px;
			color: #a4a4a4;
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
		}
		li.active,
		span{
			// margin-left: 14px;
		}
		a {
			&+ a{
				margin-left: 14px;
			}
		}
		li + li{
			margin-left: 14px;
		}
	}
	.page_title{
		color: #3f3f40;
		font-size: 50px;
		font-weight: 700;
		text-align: center;
		margin: 0;
		line-height: 1;
		margin-bottom: 35px;
		@include respond-to(phone){
			font-size: 36px;
		}
	}
	.top_text{
		text-align: center;
		color: #8d8d8d;
		font-size: 18px;
		line-height: 1.2;
		p{
			margin-bottom: 10px;
		} 
	}
}