.page_training{
	.top_inner{
		padding-top: 41px;
		padding-bottom: 0;
	}
	.page_title{
		margin-bottom: 28px;
	}
}
.view_training{
	.slick-arrow{
		border: none;
		text-indent: -9999px;
		position: absolute;
		top: 50%;
		margin-top: -1.5px;
		width: 10px;
		height: 13px;
		z-index: 1;
		&.slick-prev{
			left: 13px;
			background:transparent url('../images/training_prev.png') left top no-repeat;
			background-size: cover;
		}
		&.slick-next{
			right: 13px;
			background:transparent url('../images/training_next.png') left top no-repeat;
			background-size: cover;
		}
	}
	.view_header{
		margin-bottom: 65px;
	}
	.item{
		margin: 0 3.5px;
	}
	.col{
		padding-left: 11px;
		padding-right: 19px;
		@include respond-to(phone){
			padding: 0;
			margin-bottom: 30px;
		}
	}
	.col_group{
		margin-bottom: 65px;
	}
	.col_content{
		border: 3px solid #000;
		padding: 30px 40px 36px;
		@include respond-to(phone){
			padding: 15px 20px;
		}
	}
	.title{
		font-size: 24px;
		font-weight: 700;
		margin: 0px 0 21px;
	}
	.description{
		color: #8d8d8d;
		font-size: 18px;
		line-height: 30px;
		p{
			margin-bottom: 29px;
		}
	}
	.btn{
		text-transform: uppercase;
		color: #fff;
		display: inline-block;
		max-width: 359px;
		width: 100%;
		background: #191919;
		padding: 20.5px 15px;
		border-radius: 0;	
		transition: .3s;
		border: 2px solid transparent;
		margin-top: 3px;
		&:hover{
			background: #fff;
			color: #191919;
			border: 2px solid #191919;
		}
	}
	.question_wrap{
		padding: 0 9px;
	}
	.question{
		margin: 0 0 24px;
		font-size: 24px;
		font-weight: 700;
		color: #3f3f40;
	}
	.answer{
		color: #8d8d8d;
		font-size: 18px;
		line-height: 30px;
		p{
			margin-bottom: 49px;
		}
	}
	.question_item{
		padding-bottom: 20px;
	}
}