	<footer class="footer clearfix">
		<div class="footer_content container">
			<div class="row">
				<div class="col-sm-2"><div class="logo_footer"><a href="/"><img src="/images/logo_footer.png" alt=""></a></div></div>
				<div class="menu_wrapper">
					<ul class="menu col col-xs-6 col-sm-1 col-sm-offset-1">
						<li><a href="#">About Us</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Our Work</a></li>
						<li><a href="#">Training</a></li>
					</ul>
					<ul class="menu col col-xs-6 col-sm-1 col-sm-offset-1">
						<li><a href="#">Register</a></li>
						<li><a href="#">Office</a></li>
						<li><a href="#">Clients</a></li>
						<li><a href="#">FAQ</a></li>
					</ul> 
				</div>
				<div class="col-sm-3 col-sm-offset-3 info_footer">
					<div class="info_text">
						<p>
							Get In Touch: <a href="tel:97144227272">+971 (4) 422 7272</a> <br>
						</p>
						<p>
							For Model Registration: <a href="tel:971529185083">+971 52 9185083</a> <br>
						</p>
						<p>
							For Client Enquiries: <a href="tel:971553421613">+971 55 3421613</a> <br>
						</p>
						<p>Write to Us: <a href="mailto:enquiry@divadubai.com">enquiry@divadubai.com</a></p>
					</div>
					<div class="social_wrapper">
						<div class="social social_1"><a href="#" target="_blank">LinkedIn</a></div>
						<div class="social social_2"><a href="#" target="_blank">Facebook</a></div>
						<div class="social social_3"><a href="#" target="_blank">Instagram</a></div>
						<div class="social social_4"><a href="#" target="_blank">Twitter</a></div>
						<div class="social social_5"><a href="#" target="_blank">Youtube</a></div>
						<div class="social social_6"><a href="#" target="_blank">Vimeo</a></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/slick.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyAsgajRdZv5H2LGoHO8BXbyVZq2CLMZNxE"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src='../js/jquery-ui.min.js'></script>
	<script src='../js/jquery.livequery.min.js'></script>
	<script src='../js/infinite-scroll.pkgd.min.js'></script>
	<script src='../js/imagesloaded.pkgd.min.js'></script>
	<script src='../js/masonry.pkgd.min.js'></script>
	<script src='../js/cropper.min.js'></script>
	<script src='../js/datepicker.js'></script>
	<script src='../js/jquery.validate.min.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
	<script src="../js/main.js"></script>
</body>
</html>