<header class="header">
	<div class="header_contacts">
		<div class="container">
			<div class="text"><span>Get In Touch: <a href="tel:+97144227272">+971 (4) 422 7272</a></span><span>Model Registration: <a href="tel:+971529185083">+971 52 9185083</a></span> <span>For Client Enquiries: <a href="tel:+971553421613">+971 55 3421613</a></span>	<span>Write to Us: <a href="mailto:enquiry@divadubai.com">enquiry@divadubai.com</a></span>	</div>
		</div>
	</div>
	<nav class="main_menu">
		<ul class="menu clearfix">
			<li class="menu_item menu_item_1"><a href="/">Casting</a></li>
			<li class="menu_item menu_item_2"><a href="/">Newsletters</a></li>
			<li class="menu_item menu_item_5">
				<a href="/">Book</a>
				<div class="dropdown">
					<ul >
						<li><a href="#">Photoshoot</a></li>
						<li><a href="#">Fashion</a></li>
						<li><a href="#">Show</a></li>
						<li><a href="#">Hostessing</a></li>
						<li><a href="#">Promotion</a></li>
						<li><a href="#">TVC/Film</a></li>
						<li><a href="#">Video</a></li>
						<li><a href="#">Location</a></li>
						<li><a href="#">Other</a></li>
					</ul>
				</div>
			</li>  
			<li class="menu_item menu_item_4"><a href="/">Register</a></li>			
			<li class="menu_item menu_item_3"><a href="/">Login</a></li>
			<li class="menu_item menu_item_6"><a href="/">My profile</a></li>	
		</ul>
	</nav> 
	<div class="header_content clearfix">
		<div class="dropdown_menu">
			<div class="menu_btn">
				<div class="item_1 item">-</div>
				<div class="item_2 item">-</div>
				<div class="item_3 item">-</div>		
			</div>
			<div class="menu_show">
				<ul class="clearfix">
					<li><a href="#">Home</a></li>
					<li><a href="#">Model Management</a></li>
					<li><a href="#">Production</a></li>
					<li><a href="#">Promotions/Activations</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Digital Marketing</a></li>
					<li><a href="#">Public Relations</a></li>
					<li><a href="#">Awards</a></li>
					<li><a href="#">Training</a></li>
					<li><a href="#">Our Work</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div>
		</div>
		<div class="search_block">
			<a href="#" class="cart_btn">Cart</a>
			<div class="search_btn">Search</div>
			<div class="search_form">
				<form action="#">
					<input type="text" class="form_text" placeholder="Search">
					<input type="submit" class="form_submit" value="Search">
				</form>
			</div>
		</div>
		<div class="logo"><a href="/"><img src="/images/logo.png" alt="Diva | Modeling & Events FZ - LLC"></a></div>
	</div>
</header>
<div class="popup"></div>