//-----------------------------------MIXINS----------------------------//
@import 'components/_mixins';

//-----------------------------------FONTS----------------------------//
@import 'components/_fonts';

//-----------------------------------HEADER----------------------------//
@import 'components/_header';

//-----------------------------------TOP INNER----------------------------//
@import 'components/_top_inner';

//-----------------------------------FRONT----------------------------//
@import 'components/_front';

//-----------------------------------MODELS----------------------------//
@import 'components/_models';

//-----------------------------------MODEL PAGE----------------------------//
@import 'components/_model_page';

//-----------------------------------CATEGORY----------------------------//
@import 'components/_category';

//-----------------------------------FAQ----------------------------//
@import 'components/_faq';

//-----------------------------------CLIENTS----------------------------//
@import 'components/_clients';

//-----------------------------------AWARDS----------------------------//
@import 'components/_awards';

//-----------------------------------CONTATCS----------------------------//
@import 'components/_contacts';

//-----------------------------------REGISTER----------------------------//
@import 'components/_register';

//-----------------------------------LOGIN----------------------------//
@import 'components/_login';

//-----------------------------------404----------------------------//
@import 'components/_404';

//-----------------------------------SERVICES----------------------------//
@import 'components/_services';

//-----------------------------------BOOK FORMS----------------------------//
@import 'components/_book_forms';

//-----------------------------------CASTING----------------------------//
@import 'components/_casting';

//-----------------------------------LOCATIONS----------------------------//
@import 'components/_locations';

//-----------------------------------PHOTOGRAPHERS----------------------------//
@import 'components/_photographers';

//-----------------------------------ABOUT US----------------------------//
@import 'components/_about_us';

//-----------------------------------TRAINING----------------------------//
@import 'components/_training';

//-----------------------------------PUBLIC----------------------------//
@import 'components/_public';

//-----------------------------------DIRECTORS----------------------------//
@import 'components/_directors';

//-----------------------------------DISCLAIMER----------------------------//
@import 'components/_disclaimer';

//-----------------------------------NEWS----------------------------//
@import 'components/_news';

//-----------------------------------PROFILE----------------------------//
@import 'components/_profile';

//-----------------------------------OFFICE----------------------------//
@import 'components/_office';

//-----------------------------------GRID----------------------------//
@import 'components/_grid';

//-----------------------------------FOOTER----------------------------//
@import 'components/_footer';

//-----------------------------------BASE STYLES----------------------------//
.middle {
	padding-bottom: 235px;
	@include respond-to(phone){
		overflow: hidden;
		padding-bottom: 0;
	}
	.page_contacts &{
		padding-bottom: 0;	
	}
}
a{
	color: #454545;
	&:hover{
		color: #454545;
	}
}
* {
	margin: 0;
	padding: 0;
	outline: none;
}    
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 400 14px 'ProximaNova', Arial, sans-serif;
	width: 100%;
	height: 100%;
	line-height: 1.3;
	position: relative;
	

}
.wrapper {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.page_category {
	&.wrapper_content{
		background: #f5f5f5;
		padding-bottom: 90px;
		@include respond-to(phone){
			padding-bottom: 0px;
		}
	}
}
.page_login{
	.top_inner{
		padding-bottom: 3px;
	}
}
.not_front{
	background: #f5f5f5;
}
.page_contacts,
.page_awards,
.page_clients,
.page_faq {
	&.wrapper_content{
		padding-bottom: 90px;
		@include respond-to(phone){
			padding-bottom: 0px;
		}
	}
	.top_inner{
		.page_title{
			margin-bottom: 0px;
		}
	}
}
.page_contacts,
.page_awards,
.page_clients{
	&.wrapper_content{
		padding-bottom: 0;
	}
}
.page_models{
	.middle{
		background: #f5f5f5;
		margin-bottom: 60px;
		@include respond-to(phone){
			margin-bottom: 0;
		}
	}
}